<div>
  <v-stepper :value="step" color="primary" class="mt-8" flat>
    <v-stepper-header>
      <v-stepper-step step="1">
        عنوان
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="2">
        فعالیت
      </v-stepper-step>

      <v-divider></v-divider>

      <v-stepper-step step="3">
        جزئیات
      </v-stepper-step>
      <v-divider></v-divider>
      <v-stepper-step step="4">
        تکمیل نهایی
      </v-stepper-step>
    </v-stepper-header>
  </v-stepper>
</div>
