<dashboard-card :titleCard="titleCard">
  <v-form ref="form" v-model="valid" lazy-validation>
    <header-section :headerSectionTitle="'توضیحات پروژه'"></header-section>
    <v-row>
      <v-col md="12">
        <v-text-field
          v-model="projectForm.title"
          :rules="createProjectRule.title"
          :label="$t('form.projectTitle')"
          required
          outlined
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col lg="6" md="12">
        <v-text-field
          v-model="projectForm.price"
          :rules="createProjectRule.price"
          @input="mask"
          :label="$t('form.price')"
          required
          outlined
          ref="inputRef"
        ></v-text-field>
      </v-col>
      <v-col lg="6" md="12">
        <v-select
          v-model="projectForm.project_duration_id"
          :rules="createProjectRule.duration"
          :items="durationList"
          item-value="id"
          item-text="title"
          :label="$t('form.duration')"
          required
          outlined
        ></v-select>
      </v-col>
    </v-row>
    <header-section :headerSectionTitle="'توضیحات پروژه'"></header-section>
    <v-row>
      <v-col md="12">
        <v-textarea
          outlined
          name="input-7-4"
          :label="$t('form.description')"
          v-model="projectForm.description"
          :rules="createProjectRule.description"
        ></v-textarea>
      </v-col>
    </v-row>
    <header-section :headerSectionTitle="'دسته‌بندی مورد نظر'"></header-section>
    <v-row>
      <v-col md="12">
        <v-select
          class="mb-4"
          :items="activitiesList"
          :rules="createProjectRule.categories"
          item-text="title"
          item-value="id"
          v-model="projectForm.categories"
          :label="$t('form.categories')"
          outlined
          hint="یک گزینه میتوانید انتخاب کنید"
        >
          <template v-slot:append>
            <v-icon color="grey lighten-1">mdi-chevron-down</v-icon>
          </template>
        </v-select>
        <!--        <v-combobox-->
        <!--          v-model="projectForm.categories"-->
        <!--          :items="activitiesList"-->
        <!--          :rules="createProjectRule.categories"-->
        <!--          item-value="id"-->
        <!--          item-text="title"-->
        <!--          :search-input.sync="search"-->
        <!--          hide-selected-->
        <!--          hint="حداکثر ۵ گزینه میتوانید انتخاب کنید"-->
        <!--          :label="$t('form.categories')"-->
        <!--          multiple-->
        <!--          persistent-hint-->
        <!--          required-->
        <!--          outlined-->
        <!--          clearable-->
        <!--          small-chips-->
        <!--          @change="selectCategories(projectForm.categories)"-->
        <!--        >-->
        <!--          <template v-slot:no-data>-->
        <!--            <v-list-item>-->
        <!--              <v-list-item-content>-->
        <!--                <v-list-item-title>-->
        <!--                  موردی یافت نشد "<strong>{{ search }}</strong>". برای افزودن-->
        <!--                  مهارت مورد نظر <kbd>enter</kbd>را فشار دهید-->
        <!--                </v-list-item-title>-->
        <!--              </v-list-item-content>-->
        <!--            </v-list-item>-->
        <!--          </template>-->
        <!--        </v-combobox>-->
      </v-col>
    </v-row>
    <header-section
      :headerSectionTitle="'مهارت‌های مورد نیاز'"
    ></header-section>
    <v-row>
      <v-col md="12">
        <v-combobox
          v-model="projectForm.skills"
          :items="skillsList"
          item-value="title"
          item-text="title"
          :search-input.sync="search"
          hide-selected
          hint="حداکثر ۵ گزینه میتوانید انتخاب کنید"
          :label="$t('form.skills')"
          multiple
          persistent-hint
          required
          outlined
          clearable
          small-chips
          deletable-chips
          counter="5"
          :rules="createProjectRule.skills"
          @change="selectSkills(projectForm.skills)"
        >
          <template v-slot:no-data>
            <v-list-item>
              <v-list-item-content>
                <v-list-item-title>
                  موردی یافت نشد "<strong>{{ search }}</strong>". برای افزودن
                  مهارت مورد نظر <kbd>enter</kbd>را فشار دهید
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </template>
        </v-combobox>
      </v-col>
    </v-row>
    <header-section :headerSectionTitle="'مدارک مورد نیاز'"></header-section>
    <v-row class="d-lg-flex d-md-block">
      <v-col md="12">
        <v-file-input
          @change="handleFileInput($event)"
          label="ضمیمه فایل"
          placeholder="Select your files"
          prepend-icon="mdi-paperclip"
          outlined
          multiple
          :show-size="1000"
        >
          <template v-slot:selection="{ index, text }">
            <v-chip v-if="index < 3" dark label small>
              {{ text }}
            </v-chip>

            <span
              v-else-if="index === 3"
              class="text-overline grey--text text--darken-3 mx-2"
            >
              +{{ files.length - 3 }} File(s)
            </span>
          </template>
        </v-file-input>
      </v-col>
    </v-row>
    <v-row class="my-10">
      <v-col lg="6" md="12">
        <v-btn class="px-8" color="secondary" @click="createProject">
          {{ $t("actions.createProject") }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <snackbar
        :snackbarMessage="snackbarMessage"
        :showSnackbar="showSnackbar"
        @hideSnackbar="hideSnackbar"
      ></snackbar>
    </v-row>
  </v-form>
</dashboard-card>
