<dashboard-card :titleCard="titleCard">
  <v-form ref="form" v-model="valid" lazy-validation>
    <header-section :headerSectionTitle="'توضیحات پروژه'"></header-section>
    <v-row>
      <v-text-field
        v-model="projectForm.title"
        :counter="10"
        :rules="createProjectRule.title"
        :label="$t('form.projectTitle')"
        required
        outlined
      ></v-text-field>
    </v-row>
    <v-row class="d-lg-flex d-md-block">
      <v-text-field
        v-model="projectForm.price"
        :rules="createProjectRule.price"
        :label="$t('form.price')"
        type="number"
        required
        outlined
        class="col-lg-6 col-md-12 pl-2"
      ></v-text-field>
      <v-select
        v-model="projectForm.project_duration_id"
        :rules="createProjectRule.duration"
        :items="durationList"
        item-value="id"
        item-text="title"
        :label="$t('form.duration')"
        required
        outlined
        class="col-lg-6 col-md-12 pr-2"
      ></v-select>
    </v-row>
    <!--        <header-section :headerSectionTitle="'دسته بندی شغلی'"></header-section>-->
    <!--        <v-row class="d-lg-flex d-md-block">-->
    <!--            <v-combobox-->
    <!--                    v-model="model"-->
    <!--                    :items="items"-->
    <!--                    :search-input.sync="search"-->
    <!--                    hide-selected-->
    <!--                    hint="Maximum of 5 tags"-->
    <!--                    label="انتخاب دسته بندی"-->
    <!--                    multiple-->
    <!--                    persistent-hint-->
    <!--                    required-->
    <!--                    outlined-->
    <!--                    clearable-->
    <!--                    small-chips-->
    <!--            >-->
    <!--                <template v-slot:no-data>-->
    <!--                    <v-list-item>-->
    <!--                        <v-list-item-content>-->
    <!--                            <v-list-item-title>-->
    <!--                                No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a-->
    <!--                                new one-->
    <!--                            </v-list-item-title>-->
    <!--                        </v-list-item-content>-->
    <!--                    </v-list-item>-->
    <!--                </template>-->
    <!--            </v-combobox>-->
    <!--        </v-row>-->
    <!--        <header-section :headerSectionTitle="'انتخاب زبان'"></header-section>-->
    <!--        <v-row class="d-lg-flex d-md-block">-->
    <!--            <v-combobox-->
    <!--                    v-model="model"-->
    <!--                    :items="items"-->
    <!--                    :search-input.sync="search"-->
    <!--                    hide-selected-->
    <!--                    hint="Maximum of 5 tags"-->
    <!--                    label="انتخاب زبان مورد نظر"-->
    <!--                    multiple-->
    <!--                    persistent-hint-->
    <!--                    required-->
    <!--                    outlined-->
    <!--                    clearable-->
    <!--                    small-chips-->
    <!--            >-->
    <!--                <template v-slot:no-data>-->
    <!--                    <v-list-item>-->
    <!--                        <v-list-item-content>-->
    <!--                            <v-list-item-title>-->
    <!--                                No results matching "<strong>{{ search }}</strong>". Press <kbd>enter</kbd> to create a-->
    <!--                                new one-->
    <!--                            </v-list-item-title>-->
    <!--                        </v-list-item-content>-->
    <!--                    </v-list-item>-->
    <!--                </template>-->
    <!--            </v-combobox>-->
    <!--        </v-row>-->
    <header-section :headerSectionTitle="'جزییات پروژه'"></header-section>
    <v-row class="d-block">
      <v-textarea
        outlined
        name="input-7-4"
        :label="$t('form.description')"
        v-model="projectForm.description"
        :rules="createProjectRule.description"
      ></v-textarea>
    </v-row>
    <header-section :headerSectionTitle="'دسته بندی مورد نظر'"></header-section>
    <v-row class="d-lg-flex d-md-block">
      <v-combobox
        v-model="projectForm.categories"
        :items="activitiesList"
        :rules="createProjectRule.categories"
        item-value="id"
        item-text="title"
        :search-input.sync="search"
        hide-selected
        hint="Maximum of 5 tags"
        :label="$t('form.categories')"
        multiple
        persistent-hint
        required
        outlined
        clearable
        small-chips
        @change="selectCategories(projectForm.categories)"
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                موردی یافت نشد "<strong>{{ search }}</strong>". برای افزودن
                مهارت مورد نظر <kbd>enter</kbd>را فشار دهید
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-combobox>
    </v-row>
    <header-section
      :headerSectionTitle="'مهارت های مورد نیاز'"
    ></header-section>
    <v-row class="d-lg-flex d-md-block">
      <v-combobox
        v-model="projectForm.skills"
        :items="skillsList"
        :rules="createProjectRule.skills"
        item-value="id"
        item-text="title"
        :search-input.sync="search"
        hide-selected
        hint="Maximum of 5 tags"
        :label="$t('form.skills')"
        multiple
        persistent-hint
        required
        outlined
        clearable
        small-chips
        @change="selectSkills(projectForm.skills)"
      >
        <template v-slot:no-data>
          <v-list-item>
            <v-list-item-content>
              <v-list-item-title>
                موردی یافت نشد "<strong>{{ search }}</strong>". برای افزودن
                مهارت مورد نظر <kbd>enter</kbd>را فشار دهید
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-combobox>
    </v-row>
    <header-section
      :headerSectionTitle="'ضمیمه مدارک مورد نیاز'"
    ></header-section>
    <v-row class="d-lg-flex d-md-block">
      <v-file-input
        @change="handleFileInput($event)"
        counter
        label="File input"
        placeholder="Select your files"
        prepend-icon="mdi-paperclip"
        outlined
        :show-size="1000"
      >
        <template v-slot:selection="{ index, text }">
          <v-chip v-if="index < 3" dark label small>
            {{ text }}
          </v-chip>

          <span
            v-else-if="index === 3"
            class="text-overline grey--text text--darken-3 mx-2"
          >
            +{{ files.length - 3 }} File(s)
          </span>
        </template>
      </v-file-input>
    </v-row>
    <!--        <v-checkbox-->
    <!--                v-model="checkbox"-->
    <!--                :rules="[v => !!v || 'You must agree to continue!']"-->
    <!--                label="Do you agree?"-->
    <!--                required-->
    <!--        ></v-checkbox>-->
    <v-row class="my-10">
      <v-btn color="secondary" @click="createProject">
        {{ $t("actions.save&update") }}
      </v-btn>
    </v-row>
    <v-row>
      <snackbar
        :snackbarMessage="snackbarMessage"
        :showSnackbar="showSnackbar"
        @hideSnackbar="hideSnackbar"
      ></snackbar>
    </v-row>
  </v-form>
</dashboard-card>
