<div class="best-freelancer">
  <v-container class="pl-0">
    <v-row
      v-if="!isService"
      class="d-flex flex-column justify-start align-center text-center"
    >
      <v-col cols="9">
        <div class="best-project-title">برترین <strong>پروژه‌ها</strong></div>
        <div class="mt-5 text-font">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
        </div>
      </v-col>
    </v-row>
    <v-row
      :class="`d-flex justify-start align-center mx-sm-5 mt-${isService ? 0 : 15}`"
    >
      <v-col
        cols="11"
        md="2"
        sm="5"
        xs="11"
        :class="`best-freelancer-card ${isService ? 'width_45' : 'width_31'} d-flex flex-column mx-${isService ? '5' : '2'} my-sm-2 pa-0 pb-4`"
        v-for="serviceList in showServices"
        :key="serviceList.id"
      >
        <div class="best-freelancer-card_image">
          <v-carousel v-if="isService" style="height: 198px;">
            <v-carousel-item
              v-for="(src, index) in serviceList.image"
              :src="src"
              :key="index"
            >
            </v-carousel-item>
          </v-carousel>
        </div>
        <div class="d-flex justify-center">
          <div v-if="isService">
            <div class="mt-6 mr-2 img-profile" @click="goToPublicProfile()">
              <img src="../../assets/image/front-office/profile.jpg" alt="" />
            </div>
          </div>
          <div class="detail-container">
            <div class="best-freelancer-card_name px-2 mt-6 mb-2">
              <v-icon class="px-1" color="primary" dense
                >mdi-check-decagram</v-icon
              >
              {{ serviceList.username }}
            </div>
            <div
              class="best-freelancer-card_title mb-6 px-4"
              @click="goToDetail(serviceList.id)"
            >
              {{serviceList.title}}
            </div>
            <div v-if="isService" class="best-freelancer-card_detail mb-6 px-4">
              قیمت واحد <strong>{{serviceList.price}} هزار تومان</strong>
            </div>
          </div>
        </div>
        <v-divider v-if="isService" class="divide-card"></v-divider>
        <div v-if="!isService" class="best-freelancer-card_detail px-4">
          <v-icon class="px-1" color="grey lighten-1" dense
            >mdi-calendar-month</v-icon
          >1400/04/12 - 20:30
        </div>
        <div v-if="isService" class="d-flex justify-space-around">
          <div class="best-freelancer-card_detail px-4 mb-0">
            ۰ نفر در صف
          </div>
          <v-divider class="divide-card-vertical" vertical></v-divider>
          <div class="best-freelancer-card_detail px-4 mb-0">
            0/5 (0)
            <v-icon class="px-1" color="warning" dense>mdi-star</v-icon>
          </div>
        </div>
      </v-col>
    </v-row>

    <!--      <v-row>-->
    <!--          <v-carousel>-->
    <!--              <v-carousel-item-->
    <!--                      v-for="(item,i) in imageTest"-->
    <!--                      :key="i"-->
    <!--                      :src="item"-->
    <!--                      reverse-transition="fade-transition"-->
    <!--                      transition="fade-transition"-->
    <!--              ></v-carousel-item>-->
    <!--          </v-carousel>-->
    <!--      </v-row>-->
  </v-container>
</div>
