<div class="best-freelancer">
  <v-container class="pl-0">
    <v-row
      v-if="!isService"
      class="d-flex flex-column justify-start align-center text-center"
    >
      <v-col cols="9">
        <div class="best-project-title">برترین <strong>پروژه‌ها</strong></div>
        <div class="mt-5 text-font">
          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده
          از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله
        </div>
      </v-col>
    </v-row>
    <v-row
      :class="`d-flex justify-start align-center mx-sm-5 mt-${isService ? 0 : 15}`"
    >
      <v-col
        cols="11"
        md="2"
        sm="5"
        xs="11"
        :class="`best-freelancer-card ${isService ? 'width_45' : 'width_31'} d-flex flex-column mx-${isService ? '5' : '2'} my-sm-2 pa-0 pb-4`"
        v-for="serviceList in showServices"
        :key="serviceList.id"
        @click="goToDetail(serviceList.id)"
      >
        <div v-if="serviceList.image" class="best-freelancer-card_image">
          <v-carousel
            v-if="isService"
            style="height: 198px;"
            :show-arrows="serviceList.image.length > 0"
          >
            <div v-if="serviceList.image.length > 0">
              <v-carousel-item
                v-for="(src, index) in serviceList.image"
                :src="src"
                :key="index"
              >
              </v-carousel-item>
            </div>
            <div v-if="!serviceList.image.length > 0">
              <v-carousel-item :src="test"> </v-carousel-item>
            </div>
            <!--            <div-->
            <!--              v-if="serviceList.image.length > 0 && serviceList.image[0]['type']!=='image/jpg', 'image/jpeg', 'image/png'"-->
            <!--            >-->
            <!--              <v-carousel-item :src="test"> </v-carousel-item>-->
            <!--            </div>-->
          </v-carousel>
        </div>
        <div class="d-flex justify-center">
          <div v-if="isService">
            <div class="mt-6 mr-2 img-profile" @click="goToPublicProfile()">
              <img src="../../assets/image/connecta-logo-1.png" alt="" />
            </div>
          </div>
          <div class="detail-container">
            <div class="best-freelancer-card_name px-2 mt-6 mb-2">
              <v-icon class="px-1" color="primary" dense
                >mdi-check-decagram</v-icon
              >
              {{ serviceList.username }}
            </div>
            <div
              class="best-freelancer-card_title mb-6 px-4"
              @click="goToDetail(serviceList.id)"
            >
              {{serviceList.title}}
            </div>
            <div v-if="isService" class="best-freelancer-card_detail mb-6 px-4">
              شروع قیمت از
              <strong>{{serviceList.price | thousandMask}} ریال</strong>
            </div>
          </div>
        </div>
        <v-divider v-if="isService" class="divide-card"></v-divider>
        <div v-if="!isService" class="best-freelancer-card_detail px-4">
          <v-icon class="px-1" color="grey lighten-1" dense
            >mdi-calendar-month</v-icon
          >1400/04/12 - 20:30
        </div>
        <div v-if="isService" class="d-flex justify-space-around">
          <div class="best-freelancer-card_detail px-4 mb-0">
            ۰ نفر در صف
          </div>
          <v-divider class="divide-card-vertical" vertical></v-divider>
          <div class="best-freelancer-card_detail px-4 mb-0">
            0/5 (0)
            <v-icon class="px-1" color="warning" dense>mdi-star</v-icon>
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row>
      <v-col class="mt-8" v-if="getBrowseServiceData.total >= 11">
        <v-pagination
          color="primary"
          :length="getBrowseServiceData['last_page']"
          :total-visible="getBrowseServiceData.total"
          v-model="getBrowseServiceData['current_page']"
          @input="changePage($event)"
        ></v-pagination>
      </v-col>
    </v-row>
  </v-container>
</div>
