@import "src/assets/styles/variable";
::v-deep.v-data-table-header {
  height: 51px;
  font-size: 15px;
  font-weight: 500;
  background-color: #791aa5 !important;
}
.service-table {
  height: 121px;

  img {
    width: 80px;
    height: 80px;
    border-radius: 5px;
  }
  .service-table-title {
    font-size: 16px;
    color: rgba(50, 50, 50, 0.83);
    font-weight: 500;
  }

  strong {
    color: $danger-500;
    font-weight: 700;
  }

  ::v-deep.v-size--small {
    height: 20px !important;
  }
}
.v-list-item {
  border: 1px solid rgba(134, 134, 134, 0.65);
  margin-top: 5px;
  height: 51px;
}
