<div
  :class="{change_background_color: scrollPosition > 50, second_background_navbar: routeName === 'faq' || 'contact-us' || 'terms' || 'about-us' || 'privacy-policy'}"
  class="navbar-front-office"
>
  <v-app-bar
    :clipped-left="!$vuetify.rtl"
    :clipped-right="$vuetify.rtl"
    app
    flat
  >
    <v-app-bar-nav-icon
      @click="drawer()"
      v-if="showSidebar"
    ></v-app-bar-nav-icon>
    <!--            <customizeTheme />-->
    <img
      class="header-logo"
      src="../../../../assets/image/logo/thumb-1.png"
      alt="connecta-logo"
      @click="goToHome"
    />
    <!--    <v-toolbar-title data-v-step="0"></v-toolbar-title>-->
    <v-spacer></v-spacer>
    <!--        <v-btn icon large>-->
    <!--          <v-avatar item size="32px">-->
    <!--            <v-img-->
    <!--              alt="Vuetify"-->
    <!--              src="../../../../assets/image/logo-holding.png"-->
    <!--            ></v-img>-->
    <!--          </v-avatar>-->
    <!--        </v-btn>-->
    <div v-if="!showSidebar" class="d-flex align-center">
      <v-list flat nav dense v-if="!showSidebar">
        <v-list-item-group
          class="d-flex align-center"
          v-model="selectedItem"
          color="teal accent-3"
        >
          <v-list-item
            v-for="(item, i) in items"
            :key="i"
            class="ma-0"
            link
            :to="item.route"
          >
            <v-list-item-content>
              <v-list-item-title>{{$t(`${item.text}`)}}</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
          <v-list-item class="ma-0" :href="baseURL+'/blog'" target="_blank">
            <v-list-item-content>
              <v-list-item-title>بلاگ</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list-item-group>
      </v-list>
      <v-divider class="divide-card" vertical></v-divider>
      <v-btn
        color="secondary"
        class="ml-5"
        text
        link
        to="/login"
        v-if="!role || !user"
      >
        {{$t('navbar.enterAndRegister')}}
      </v-btn>
      <v-menu bottom min-width="200px" rounded offset-y v-if="role && user">
        <template v-slot:activator="{ on }">
          <v-btn text x-large v-on="on" class="mx-1 pa-0">
            <v-icon size="30" color="secondary">
              mdi-chevron-down
            </v-icon>
            <v-avatar item size="38">
              <v-img
                v-if="profileImage"
                alt="Vuetify"
                :lazy-src="profileImage"
                :src="profileImage"
              ></v-img>
              <v-img
                v-if="!profileImage"
                alt="Vuetify"
                src="../../../../assets/image/front-office/115-1150152_default-profile-picture-avatar-png-green.png"
              ></v-img>
            </v-avatar>
          </v-btn>
        </template>
        <v-card>
          <v-list-item-content class="justify-center">
            <div class="mx-auto text-center">
              <v-avatar color="brown">
                <v-btn text x-large class="mx-1 pa-0">
                  <v-avatar item size="48">
                    <v-img
                      v-if="profileImage"
                      alt="Vuetify"
                      :lazy-src="profileImage"
                      :src="profileImage"
                    ></v-img>
                    <v-img
                      v-if="!profileImage"
                      alt="Vuetify"
                      src="../../../../assets/image/front-office/115-1150152_default-profile-picture-avatar-png-green.png"
                    ></v-img>
                  </v-avatar>
                </v-btn>
              </v-avatar>
              <h5 class="mt-2" v-if="user.is_company === 0">
                {{ (user.first_name + ' ' + user.last_name) | readMore(20,
                "...")}}
              </h5>
              <h5 class="mt-2" v-if="user.is_company === 1">
                {{ user['company'].name | readMore(20, "...")}}
              </h5>
              <p class="text-caption mt-1">
                {{ role | roleTranslator}}
              </p>
              <v-divider class="my-3"></v-divider>
              <v-btn depressed rounded text @click="goToDashboard(role)">
                ورود به داشبورد
              </v-btn>
              <v-divider class="my-3"></v-divider>
              <v-btn color="red" depressed rounded text @click="logout">
                خروج
              </v-btn>
            </div>
          </v-list-item-content>
        </v-card>
      </v-menu>
      <v-btn
        class="create-project_button"
        color="teal accent-3"
        dark
        @click="goToCreateProject"
        v-if="role !== 'freelancer'"
      >
        {{$t('navbar.createProject')}}
      </v-btn>
    </div>
  </v-app-bar>
</div>
