.header-logo {
  width: 180px;
  height: auto;
  cursor: pointer;
}
.navbar-container {
  width: 100%;
  @media all and (max-width: 968px) {
    //d-flex justify-space-between align-center
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.logo-header-container {
  @media all and (max-width: 968px) {
    //d-flex justify-space-between align-center
    display: flex;
    justify-content: center;
    align-items: center;
  }
}