<div class="step-first create-project" key="step1">
  <h5 class="text-h6 my-5">
    مدت زمان برآورد شده شما چقدر است؟
  </h5>
  <v-select
    v-model="project_duration_id"
    :items="durationList"
    item-value="id"
    item-text="title"
    :label="$t('form.duration')"
    required
    dense
    outlined
  ></v-select>
  <h5 class="text-h6 my-5">
    بودجه برآورد شده شما چقدر است؟
  </h5>
  <v-text-field
    :label="'هزینه پیشنهادی به ریال'"
    outlined
    required
    v-model="price"
    :rules="createProjectRule.price"
    @input="mask"
    @keyup="removeString"
    dense
    ref="form"
  ></v-text-field>
  <!--  <v-text-field-->
  <!--    :label="'حداکثر قیمت(ریال)'"-->
  <!--    type="text"-->
  <!--    outlined-->
  <!--    v-model.number="maxPrice"-->
  <!--    dense-->
  <!--    @change="thousandMaskMaxPrice"-->
  <!--    ref="inputRef2"-->
  <!--  ></v-text-field>-->
  <v-card-actions class="pa-0 my-5">
    <v-btn
      color="teal accent-3"
      :loading="signInLoading"
      block
      :disabled="!price || price.length <= 6 || !project_duration_id"
      class="py-5"
      @click="goToActivity()"
      >{{ $t('actions.continue') }}</v-btn
    >
  </v-card-actions>
</div>
