<dashboard-card :titleCard="$t('sidebar.messageCenter')">
  <v-container>
    <v-row class="mb-3" v-for="(message, index) in messagesList" :key="index">
      <v-col class="message-card">
        <div class="d-flex justify-space-between message-title">
          <div>{{ message.title }}</div>
          <div class="ml-3">
            {{message.created_at | changeDate | persianDigit}}
          </div>
        </div>
        <div class="d-flex justify-space-between message-detail">
          <div>
            {{ message.detail }}
          </div>
          <div>
            <v-btn color="secondary" small text>
              مشاهده بیشتر
            </v-btn>
          </div>
        </div>
      </v-col>
    </v-row>
    <v-row v-if="messagesList.length <= 0">
      <v-col class="no-message">
        تاکنون پیامی ثبت نشده است.
      </v-col>
    </v-row>
  </v-container>
</dashboard-card>
