<section class="employer-projects">
  <v-container>
    <v-row class="justify-center mt-2 mb-8">
      <v-col cols="12" class="d-flex employer-projects-card pa-0 ml-5">
        <div class="pa-5">
          <div class="employer-projects-card-title">
            {{projectDetailsById.title}}
          </div>
          <div class="employer-projects-card-title">
            {{projectDetailsById.username}}
          </div>
          <div class="employer-projects-card-description">
            {{projectDetailsById.description}}
          </div>

          <div class="employer-projects-card-title mt-14">
            مهارت‌های مورد نیاز
          </div>
          <div class="mt-8">
            <button
              class="ml-2"
              v-for="(skill, index) in projectDetailsById.skills"
              :key="index"
            >
              {{ skill }}
            </button>
          </div>
          <div class="employer-projects-card-title mt-8">
            فایل‌های ضمیمه شده
          </div>
          <v-list>
            <v-list-item
              v-for="(file, index) in projectDetailsById['attachments']"
              :key="index"
            >
              <v-list-item-avatar>
                <v-icon class="red" dark>mdi-clipboard-text</v-icon>
              </v-list-item-avatar>

              <v-list-item-content>
                <v-list-item-title v-text="file.title"></v-list-item-title>
              </v-list-item-content>

              <v-list-item-action>
                <v-btn icon :href="file" target="_blank">
                  <v-icon small>mdi-arrow-down</v-icon>
                </v-btn>
              </v-list-item-action>
            </v-list-item>
          </v-list>
        </div>
      </v-col>
    </v-row>
  </v-container>
</section>
