@import "src/assets/styles/variable";
@import "src/assets/styles/mixins";
.home-page-hero {
  width: 100%;
  height: 400px;
  background-image: linear-gradient(
      rgba(108, 108, 108, 0.28),
      rgba(0, 0, 0, 0.07)
    ),
    url("../../../assets/image/front-office/پروژه های موجود.jpg");
  transform: translateY(-77px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .first-slogan,
  .second-slogan {
    font-size: 2vw;
    color: $gray-100;
    text-align: center;
    @include small {
      font-size: 1.3rem;
    }
  }
  .third-slogan {
    font-size: 1.5vw;
    color: $gray-100;
    @include small {
      font-size: 20px;
    }
  }
}
.employer-projects {
  &-card {
    height: 248px;
    background-color: $surface-100;
    border-radius: 4px;
    border: 1px solid #dedede;
    transition: all 300ms;
    @include small {
      flex-wrap: wrap;
      height: unset;
      background-color: transparent;
      .v-divider--vertical {
        display: none;
      }
    }
    &:hover {
      box-shadow: 12px 12px 20px -16px rgba(0, 0, 0, 0.25);
    }
    &-name {
      font-size: 12px;
      color: $surface-600;
      margin-bottom: 14px;
    }
    &-title {
      font-size: 16px;
      font-weight: 600;
    }
    &-budget {
      font-size: 14px;
      font-weight: 400;
      color: #858586;
    }
    &-type {
      font-size: 12px;
      font-weight: 400;
      color: $surface-200;
      margin-top: 12px;
      margin-bottom: 20px;
      span {
        color: $secondary;
        font-weight: 600;
      }
    }
    &-description {
      font-size: 14px;
      color: $surface-200;
      margin-top: 12px;
      min-height: 50px;
      overflow: hidden;
      @include small {
        min-height: 24px;
      }
    }
    &-right {
      width: 65%;
      border-radius: 8px;
      @include small {
        width: 100%;
      }
      button {
        border: 1px solid #ddd;
        font-size: 15px;
        color: #5498ab;
        border-radius: 4px;
        padding: 4px 12px;
        transition: all 300ms ease-in-out;

        &:hover {
          background-color: $primary;
          color: $surface-100;
        }
      }
    }
    &-left {
      width: 35%;
      justify-content: center;
      align-items: center;
      font-size: 13px;
      //margin-top: -38px;
      @include small {
        width: 100%;
        background-color: #fdfcf2;
      }
    }
  }
}
.side-filter {
  &-card {
    background-color: $surface-100;
    border-radius: 4px;
    strong {
      font-size: 16px;
      font-weight: 500;
    }
    .category-checkbox {
      max-height: 190px;
      overflow: auto;
    }
  }
  .looking-for {
    height: 60px;
  }
}
.divide-card {
  background-color: #f6f6f6;
  width: 100%;
  margin: 14px 0;
}
.divide-card-title {
  background-color: #f6f6f6;
  width: 100%;
  height: 20px;
  margin: 0;
}
