<v-container class="side-filter">
  <v-row class="mt-2">
    <v-col cols="12" class="side-info-card">
      <div class="d-flex side-info-card-budget">
        <div class="side-info-card-budget-price pa-5 text-center">
          <div>
            از {{ serviceDetailsById.min_price| thousandMask }} هزار تومان
          </div>
          <div>هزینه هر ساعت کار</div>
        </div>
        <v-divider class="divide-card-vertical my-4" vertical></v-divider>
        <div class="text-center pt-3 side-info-card-budget-icon">
          <v-icon color="yellow darken-2">
            mdi-chevron-double-down
          </v-icon>
          <br />
          <v-icon x-large color="yellow darken-2">
            mdi-cash-multiple
          </v-icon>
        </div>
      </div>
      <v-divider class="divide-card"></v-divider>
      <div class="side-info-card-budget mb-7">
        <div class="d-flex align-center justify-center">
          <v-row justify="center" class="px-5">
            <template>
              <v-btn
                class="ma-2"
                color="primary"
                block
                large
                disabled
                v-if="role === 'freelancer'"
              >
                با اکانت فریلنسر نمی توانید درخواست ارسال کنید
              </v-btn>
              <v-btn
                class="ma-2"
                color="primary"
                block
                large
                v-if="role === ''"
                @click="goToLogin"
              >
                برای ارسال درخواست وارد شوید
              </v-btn>
            </template>
            <v-dialog
              v-model="dialog"
              persistent
              max-width="600px"
              v-if="role === 'employer'"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="ma-2"
                  x-large
                  block
                  color="primary"
                  v-bind="attrs"
                  v-on="on"
                >
                  درخواست سرویس به من
                </v-btn>
              </template>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card
                  class="d-flex flex-column justify-center align-center pb-10 send-jobOffer-freelancer"
                >
                  <v-card-title>
                    <!--                  <span class="text-h5">ارسال درخواست به فریلنسر</span>-->
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-text-field
                            label="عنوان*"
                            required
                            outlined
                            dense
                            v-model="jobOfferForm.title"
                            :rules="jobOfferRule.title"
                          ></v-text-field>
                        </v-col>
                        <v-col cols="12">
                          <v-textarea
                            outlined
                            label="توضیحات*"
                            required
                            v-model="jobOfferForm.description"
                            :rules="jobOfferRule.description"
                          ></v-textarea>
                        </v-col>
                        <v-col cols="12">
                          <v-file-input
                            @change="handleFileInput($event)"
                            counter
                            label="File input"
                            placeholder="Select your files"
                            prepend-icon="mdi-paperclip"
                            outlined
                            multiple
                            dense
                            :show-size="1000"
                          >
                            <template v-slot:selection="{ index, text }">
                              <v-chip v-if="index < 3" dark label small>
                                {{ text }}
                              </v-chip>

                              <span
                                v-else-if="index === 3"
                                class="text-overline grey--text text--darken-3 mx-2"
                              >
                                +{{ files.length - 3 }} File(s)
                              </span>
                            </template>
                          </v-file-input>
                        </v-col>
                      </v-row>
                    </v-container>
                    <small>*موارد ستاره دار خالی نماند.</small>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="dialog = false">
                      بستن
                    </v-btn>
                    <v-btn color="primary" @click="sendJobOfferToFreelancer">
                      ارسال پیشنهاد کاری
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-form>
            </v-dialog>
          </v-row>
        </div>
      </div>
    </v-col>
    <!--    <v-col cols="12" class="side-info-card mt-8">-->
    <!--      <strong>اشتراک این پروژه</strong>-->
    <!--      <v-divider class="divide-card"></v-divider>-->
    <!--      <v-list dense flat class="share-project">-->
    <!--        <v-list-item-group color="primary">-->
    <!--          <v-list-item v-for="(item, i) in items" :key="i">-->
    <!--            <v-list-item-icon>-->
    <!--              <v-icon v-text="item.icon" :color="item.color"></v-icon>-->
    <!--            </v-list-item-icon>-->
    <!--            <v-list-item-content>-->
    <!--              <v-list-item-title-->
    <!--                v-text="item.text"-->
    <!--                :style="{color: item.color}"-->
    <!--              ></v-list-item-title>-->
    <!--            </v-list-item-content>-->
    <!--          </v-list-item>-->
    <!--        </v-list-item-group>-->
    <!--      </v-list>-->
    <!--    </v-col>-->
    <!--    <v-col cols="12" class="side-info-card mt-8">-->
    <!--      <strong>گزارش این پروژه</strong>-->
    <!--      <v-divider class="divide-card"></v-divider>-->
    <!--      <v-select-->
    <!--        v-model="selectReport"-->
    <!--        :items="checkboxLabel"-->
    <!--        item-text="title"-->
    <!--        item-value="id"-->
    <!--        label="انتخاب دلایل"-->
    <!--        required-->
    <!--        outlined-->
    <!--        class="mt-8"-->
    <!--        dense-->
    <!--      ></v-select>-->
    <!--      <v-textarea-->
    <!--        outlined-->
    <!--        label="توضیحات"-->
    <!--        value="توضیحات خود را وارد کنید..."-->
    <!--      ></v-textarea>-->
    <!--      <v-btn class="ma-2 mx-auto" large block color="primary">-->
    <!--        کلیک بر روی ذخیره-->
    <!--      </v-btn>-->
    <!--    </v-col>-->
  </v-row>
</v-container>
