<!--<section class="home-page-hero d-flex flex-column align-center justify-center">-->
<!--    <v-container>-->
<!--        <v-row>-->
<!--            <div class="col-12 text-center pa-0 first-slogan">-->
<!--                جستجوی خدمات ارایه شده از-->
<!--            </div>-->
<!--            <div-->
<!--                    class="col-12 text-center pa-0 font-weight-bold second-slogan"-->
<!--            >-->
<!--                فریلنسرها-->
<!--            </div>-->
<!--        </v-row>-->
<!--    </v-container>-->
<!--</section>-->

<div>
    sdfgsdg
</div>
