<div>
  <section
    class="home-page-hero d-flex flex-column align-center justify-center"
  >
    <v-container>
      <v-row>
        <div class="col-md-6 col-sm-11 offset-md-3 text-center pa-0 first-slogan">
          جستجوی خدمات ارایه شده از
        </div>
        <div class="col-md-6 col-sm-11 offset-md-3 text-center pa-0 font-weight-bold second-slogan">
          فریلنسرها
        </div>
      </v-row>
    </v-container>
  </section>

  <section>
    <v-container>
      <v-row no-gutters>
        <v-col cols="12" sm="6" md="8">
          <new-articles :is-service="true"></new-articles>
          <div class="text-center text-h6 my-3" v-if="!ProjectList.length >= 1">
            هیچ موردی یافت نشد
          </div>
        </v-col>
        <v-col>
          <side-filter></side-filter>
        </v-col>
      </v-row>
    </v-container>
  </section>
</div>
