.app-bar {
}

.theme--light.v-list {
  background: transparent;
  color: rgba(0, 0, 0, 0.87);
}
.theme--light.v-sheet {
  background-color: transparent;
  border-color: transparent;
  color: rgba(0, 0, 0, 0.87);
}
