<v-container class="faq" fluid>
  <v-row>
    <v-col
      cols="12"
      md="12"
      sm="12"
      class="mx-auto pa-0 d-flex justify-center align-center about-us-back first-slogan"
    >
      <!--          درباره ما-->
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16">
      <p>
        کانکتا عضوی از گروه شرکت‌های ارنیکا و بستری برای برونسپاری و اجرای
        پروژه‌ها، با هدف تسهیل مراحل اجرای پروژه برای کارفرما و فریلنسرهاست.
        کانکتا تلاش می‌کند تا چالش برونسپاری پروژه را برای مدیران به تجربه‌ای
        لذت‌بخش تبدیل کند و فرصت همکاری موفق با سازمان‌های معتبر را برای
        فریلنسرها ایجاد نماید. کانکتا فضایی برای حضور برترین فریلنسرها و ارائه
        خدمات در بالاترین سطح به کارفرمایان است.
      </p>
      <h3 class="text-right">ارزش‌های کانکتا</h3>
      <p>
        هم‌فکری، کار تیمی، حرفه‌ای‌گری و احترام متقابل ارزش‌های بنیادین ما در
        کانکتا هستند.
      </p>
      <h3 class="text-right">درباره ارنیکا</h3>
      <p>
        گروه ارنیکا مشتمل بر 12 شرکت فعال در حوزه‌های بازرگانی، صنعت و کسب و
        کارهای آنلاین است که در سال 1390 شروع به کار کرده و هم اکنون حدود 500
        متخصص در آن مشغول به کار هستند.
      </p>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16">
      <h3>راه‌های ارتباطی با ما</h3>
      <div class="mt-5">
        <v-icon
          class="ml-6"
          @click="goToPage('https://www.instagram.com/connecta_ir/')"
        >
          mdi-instagram
        </v-icon>
        <v-icon
          class="ml-6"
          @click="goToPage('https://www.linkedin.com/company/connecta-site')"
        >
          mdi-linkedin
        </v-icon>
        <!--        <v-icon class="ml-6">-->
        <!--          mdi-twitter-->
        <!--        </v-icon>-->
        <v-icon @click="goToPage('https://t.me/connectaofficial')">
          mdi-telegram
        </v-icon>
      </div>
    </v-col>
    <v-col cols="12" md="12" sm="12" class="text-center mx-auto mb-16 brand-logo">
        <img @click="goToPage('https://bitrah.com/fa')" src="../../../assets/image/brands-logo/Bitrah.png" alt="">
        <img @click="goToPage('https://www.excoino.com/')" src="../../../assets/image/brands-logo/Excoino.png" alt="">
        <img @click="goToPage('https://ernyka.com/')" src="../../../assets/image/brands-logo/Ernyka.png" alt="">
        <img @click="goToPage('https://flightio.com/')" src="../../../assets/image/brands-logo/FLIGHTIO.png" alt="">
        <img @click="goToPage('https://www.homsa.net/')" src="../../../assets/image/brands-logo/Homsa.png" alt="">
    </v-col>
  </v-row>
</v-container>
