@import "src/assets/styles/variable";
.bgImage {
  background-image: url("./../../../assets/image/front-office/pic.jpg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;

  .backHome {
    cursor: pointer;
  }
}
.logo-connecta {
  width: 180px;
  height: auto;
  cursor: pointer;
}
