@import "src/assets/styles/variable";
.bgImage {
  background: url("./../../../assets/image/Website Banners/کاور ثبت پروژه.jpg") #eff0f5 right no-repeat;
  //background-size: cover;

  .backHome {
    cursor: pointer;
  }
}
.logo-connecta {
  width: 180px;
  height: auto;
  cursor: pointer;
}
