<v-container class="fill-height overflow-hidden pa-0" fluid>
  <v-row justify="start" class="fill-height">
    <v-col cols="12" sm="6" md="6" class="pa-0">
      <v-card class="fill-height py-md-10 py-3 px-md-16 px-0" flat>
        <div class="px-5 d-flex align-center">
          <v-img
            @click="goToHome"
            alt="connecta"
            class="logo-connecta"
            max-height="70"
            max-width="70"
            :src="require(`../../../assets/image/connecta-logo-1.png`)"
          ></v-img>
        </div>
        <!--        <v-divider class="mt-4" />-->
        <v-row justify="center" class="fill-height mt-sm-16 mt-0">
          <v-col cols="11" sm="9" md="5">
            <v-card-text class="px-0 mt-15">
              <loginComp />
            </v-card-text>
          </v-col>
        </v-row>
      </v-card>
    </v-col>
    <v-col class="bgImage">
      <h2>ارتباطی که می ماند</h2>
    </v-col>
  </v-row>
</v-container>
