<div class="d-md-flex d-sm-block">
    <dashboard-card class="col-md-5 col-sm-12" minHeight665="true" :title-card="$t('actions.addBadge')">
        <v-form
                ref="form"
                v-model="valid"
                lazy-validation
        >
            <v-row>
                <v-text-field
                        v-model="name"
                        :counter="50"
                        :rules="nameRules"
                        label="عنوان نشان"
                        required
                        outlined
                ></v-text-field>
            </v-row>
            <v-row>
                <v-file-input
                        v-model="files"
                        color="deep-purple accent-4"
                        counter="1"
                        label="File input"
                        placeholder="Select your files"
                        prepend-icon="mdi-paperclip"
                        outlined
                        :show-size="1000"
                >
                    <template v-slot:selection="{ index, text }">
                        <v-chip
                                v-if="index < 2"
                                color="error"
                                dark
                                label
                                small
                        >
                            {{ text }}
                        </v-chip>
                    </template>
                </v-file-input>
            </v-row>
            <v-row class="my-10">
                <v-btn
                        color="error"
                        :disabled="!valid"
                        @click="resetValidation"
                >
                    {{ $t("actions.addBadge") }}
                </v-btn>
            </v-row>
        </v-form>
    </dashboard-card>
    <dashboard-card class="col-md-7 col-sm-12" :title-card="$t('sidebar.badges')" minHeight665="true">
        <table-dashboard
                :headersUserManagement="headersUserManagement"
                :dataUserManagement="dataUserManagement"
                :show-select="showSelect"
        ></table-dashboard>
    </dashboard-card>
</div>
