.buy-auto-complete-list {
  border-bottom: 1px solid rgba(118, 131, 145, 0.2);
}
.buy-auto-complete-list:last-child {
  border-bottom: 0 solid transparent;
}
.buy-auto-complete-dropdown-menu {
  direction: ltr;
  height: auto;
  width: auto;
  margin-top: 43px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  background-color: #fff;
}

.sell-auto-complete-list {
  border-bottom: 1px solid rgba(118, 131, 145, 0.2);
}
.sell-auto-complete-list:last-child {
  border-bottom: 0 solid transparent;
}
.sell-auto-complete-dropdown-menu {
  direction: ltr;
  height: auto;
  width: auto;
  margin-top: 43px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.16);
  border-radius: 8px;
  background-color: #fff;
}


