.notificationContainer {
  .v-badge__wrapper {
    margin: 0!important;
  }
  .v-badge--inline .v-badge__badge {
    height: 6px !important;
    width: 6px !important;
    border-radius: 3px !important;
  }
}

.notificationStateContainer {
  .v-badge__badge {
    height: 10px !important;
    width: 10px !important;
  }
}