.v-btn {
  font-family: IRANSansMedium, "sans-serif";
  letter-spacing: normal !important;
  &:focus {
    border: none;
    outline: none;
  }
  &:before {
    background-color: transparent !important;
  }
}

.btn-lightest-color {
  color: var(--v-primary-base) !important;
  background-color: var(--v-lightest-base) !important;
  padding: 8px 16px !important;
  &:hover {
    background-color: var(--v-lighter-base) !important;
  }
}

.btn-primary-color {
  color: #ffffff !important;
  background-color: var(--v-primary-base) !important;
  &:hover {
    background-color: var(--v-primary_light-base) !important;
  }
}

.btn-error-color {
  color: #ffffff !important;
  background-color: var(--v-error-base) !important;
  &:hover {
    opacity: 0.8;
  }
}

.btn-success-color {
  color: #ffffff !important;
  background-color: var(--v-success-base) !important;
  &:hover {
    opacity: 0.8;
  }
}

.vBtn-custom-padding {
  padding: 8px 28px !important;
}

.vBtn-custom-padding {
  padding: 8px 28px !important;
}

.resend-confirm-button {
  padding: 4px 8px;
  height: 30px;
  transition: background-color 0.5s;
  border-radius: 8px;
  line-height: 22px;
  &:hover {
    background-color: var(--v-lighter-base);
    cursor: pointer;
  }
}
