.custom-checkbox-wrapper {
  height: 24px;
  width: 24px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #e2e2e2;
  border-radius: 40%;
  &:hover {
    background-color: #aaaaaa;
  }
  .custom-checkbox {
    position: relative;
    z-index: 2;
    opacity: 0;
  }
  .custom-checkbox-icon {
    position: absolute !important;
    top: 5px !important;
  }
}
.checkbox-active {
  background-color: var(--v-primary-base);
  &:hover {
    background-color: var(--v-primary-base);
  }
}
