.whiteBackGround {
  background-color: var(--v-white-base) !important;
}
.lighterBackGround {
  background-color: var(--v-lighter-base) !important;
}
.lightestBackGround {
  background-color: var(--v-lightest-base) !important;
}
