.order-table-wrapper {
  .custom-table-input {
    border: 1px solid #0000002e;

    &:hover {
      background-color: rgba(0, 0, 0, 0.02);
    }
  }
  .custom-search {
    width: 100%;
    height: 28px;
    @media only screen and (max-width: 600px) {
      max-width: 100%;
      height: 36px;
      align-items: center;
    }

    .v-input__slot {
      padding: 0 !important;
    }

    .v-input__prepend-outer {
      margin: auto 6px !important;
    }

    input {
      font-size: 10px;
      padding: 4px 0 4px !important;
    }
  }
}
.custom-time-input.v-text-field {
  .v-input__slot {
    background-color: var(--v-lightest-base) !important;
    border-radius: 4px;
    input {
      font-family: webIRANSansMedium, "sans-serif";
      color: var(--v-black-base);
    }
  }
  .v-input__control {
    min-height: 28px;
  }
}
.custom-form-control.v-text-field {
  .v-input__slot {
    border: 1px solid rgba(0, 0, 0, 0.18) !important;
    border-radius: 8px !important;
    input {
      font-family: webIRANSansMedium, "sans-serif";
      color: var(--v-black-base);
    }
  }
  & > .v-input__control > .v-input__slot:before,
  & > .v-input__control > .v-input__slot:after {
    border-width: 0 !important;
  }
  &.v-input--is-label-active {
    .v-label--active {
      color: var(--v-darker-base) !important;
    }
  }
  & .v-label {
    font-size: 14px;
    color: var(--v-darker-base);
  }
  &:hover {
    .v-input__slot {
      border: 1px solid #0000003d !important;
      //background-color: rgba(0, 0, 0, 0.04) !important;
      border-radius: 8px !important;
    }
  }
  &.v-input--is-focused {
    .v-input__slot {
      border: 1px solid var(--v-primary-base) !important;
      border-radius: 8px !important;
    }
  }
  .v-messages__message {
    font-size: 11px;
    font-family: webIRANSansRegular, "sans-serif";
    margin-right: 6px;
    height: 10px;
    color: var(--v-error-base) !important;
    direction: rtl !important;
    text-align: start !important;
  }
  .v-text-field__details {
    direction: rtl !important;
  }
}
.order-time-input {
  input {
    font-size: 12px !important;
    font-family: webIRANSansMedium, "sans-serif";
    color: var(--v-darkest-base) !important;
  }
  .v-input__control {
    min-height: 28px !important;
  }
}
.custom-value-input {
  .v-text-field__details {
    margin-bottom: 0;
    .v-messages__message {
      height: 22px !important;
    }
  }
}
.custom-input-checkbox {
  .v-input--selection-controls__input {
    width: 14px;
    height: 14px;
    margin-left: 0 !important;
    margin-right: 0 !important;
  }
}

.custom-table-card {
  .custom-table-input {
    width: 180px;
    max-width: 180px;
    min-width: 180px;
    .v-input__control {
      border: 1px solid rgba(0, 0, 0, 0.18);
      .v-text-field__slot {
        font-size: 10px !important;
      }
    }
    .v-input__slot {
      padding-right: 0 !important;
    }
    .v-input__icon {
      .v-icon {
        font-size: 13px !important;
      }
    }
  }
  @media (max-width: 800px) {
    .custom-table-input {
      width: auto !important;
      min-width: auto !important;
      max-width: 130px !important;
    }
  }
}

.filter-form-control {
  &.v-text-field {
    .v-input__slot {
      height: 46px !important;
      box-shadow: unset !important;
    }

    &:hover {
      .v-input__slot {
        background-color: #f7f7f7 !important;
      }
    }
  }
}

.calendar-time-input.v-text-field {
  .v-label {
    font-size: 12px;
  }
  .v-input__control {
    width: 61px;
    max-width: 61px;
  }
}

.calendar-month-input.v-text-field {
  .v-label {
    font-size: 12px;
  }
  .v-input__control {
    width: 91px;
    max-width: 91px;
  }
}

.custom-auto-complete-search {
  &.v-text-field.v-text-field--solo .v-input__control {
    min-height: 38px !important;
    height: 38px !important;
    & input {
      font-family: webIRANSansRegular !important;
      font-size: 12px;
    }
  }
}

.add-card-input {
  .v-input__slot {
    background-color: rgba(0, 0, 0, 0.01) !important;
    &:hover {
      background-color: rgba(0, 0, 0, 0.05) !important;
    }
    &:before,
    &:after {
      border-width: 0 !important;
    }
    & label {
      font-size: 14px;
    }
  }
}

.otp-code-input {
  input {
    text-align: center;
    font-size: 16px !important;
  }
  .v-label {
    right: calc(50% - 40px) !important;
  }
}
.captcha-custom-input {
  .v-input__slot {
    min-height: auto !important;
    input {
      text-align: center;
    }
  }
}
