.crypto-input {
  &::placeholder {
    color: rgba(118, 131, 145, 0.4) !important;
  }
}

.attachment {
  .v-input__slot {
    background: none !important;
    padding-right: 0 !important;
  }
  .attach-text {
    color: #768391;
  }
  .v-input__prepend-outer {
    margin-top: 16px !important;
  }
}

.offline-date {
  .v-text-field__slot {
    margin-right: 8px !important;
  }
}
