.online {
  .crypto-gateways-outer {
    .v-radio {
      margin-right: 0 !important;
    }
    .v-input--selection-controls__input {
      display: none !important;
    }
  }
}

.resubmit-deposit {
  .crypto-gateways-outer {
    .v-radio {
      margin-right: 0 !important;
    }
    .v-input--selection-controls__input {
      display: none !important;
    }
  }
}