.custom-pagination-select-in {
  .v-list-item {
    height: 20px !important;
    border-bottom: 1px solid #e0e0e0;
  }
}
.buy-in-select {
  .v-input__append-inner {
    padding-right: 0 !important;
  }
}

@media (max-width: 800px) {
  .buy-auto-complete-select {
    .v-input__slot {
      padding-right: 0 !important;
    }
  }
  .sell-auto-complete-select {
    .v-input__slot {
      padding-right: 0 !important;
    }
  }
}
