thead {
  th {
    background-color: var(--v-lighter-base) !important;
    color: var(--v-darker-base) !important;
    border-bottom: none !important;
    box-shadow: none !important;
    .rtl &:last-of-type {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    .rtl &:first-of-type {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .ltr &:last-of-type {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
    .ltr &:first-of-type {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }
    & > span {
      font-size: 12px;
    }
  }
}
tbody {
  tr {
    cursor: pointer;
    &:nth-child(even) {
      background-color: var(--v-lightest-base) !important;
    }
    td {
      font-family: IRANSansMedium, "sans-serif";
      color: var(--v-black-base);
      font-size: 14px !important;
      border-bottom: none !important;
      .rtl &:last-of-type {
        border-top-left-radius: 12px !important;
        border-bottom-left-radius: 12px !important;
      }
      .rtl &:first-of-type {
        border-top-right-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
      }
      .ltr &:last-of-type {
        border-top-right-radius: 12px !important;
        border-bottom-right-radius: 12px !important;
      }
      .ltr &:first-of-type {
        border-top-left-radius: 12px !important;
        border-bottom-left-radius: 12px !important;
      }
    }
  }
}
.order-table-wrapper {
  .v-data-table__wrapper {
    padding-left: 4px;
  }
}

.table-hover-effect {
  table {
    border-spacing: 0 4px !important;
    tbody {
      & tr:hover {
        background-color: var(--v-lighter-base) !important;
      }
    }
  }
}
.table-dense-header {
  &.v-data-table > .v-data-table__wrapper > table > thead > tr > th {
    padding: 0 10px;
  }
}

.orders-table {
  &.v-data-table .v-data-table__mobile-table-row {
    display: table-row;
  }
  .v-data-table__empty-wrapper {
    min-height: 200px;
    height: 200px;
  }
  tr td {
    font-size: 12px !important;
  }
}

.on-focus-row {
  td {
    border-top: 1px solid #500fe94d !important;
    border-bottom: 1px solid #500fe94d !important;
    .rtl &:last-of-type {
      border-left: 1px solid #500fe94d;
    }
    .rtl &:first-of-type {
      border-right: 1px solid #500fe94d;
    }
    .ltr &:last-of-type {
      border-right: 1px solid #500fe94d;
    }
    .ltr &:first-of-type {
      border-left: 1px solid #500fe94d;
    }
  }
}

.custom-search {
  .v-input__append-inner {
    .v-input__icon {
      .v-icon {
        font-size: 12px;
      }
    }
  }
}

@media (max-width: 800px) {
  //thead {
  //  display: none !important;
  //}
  tbody {
    tr {
      &:nth-child(even) {
        td {
          &:last-of-type {
            border-radius: 0;
          }
          &:first-of-type {
            border-radius: 0;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .orders-table {
    thead {
      display: none !important;
    }
  }
  .prices-data-table {
    thead {
      display: none;
    }
  }
}
