.status-in-table {
  .success,
  .label-processed,
  .processed,
  .label-success {
    background-color: rgba(0, 185, 71, 0.08) !important;
    color: var(--v-success-base) !important;
    border-radius: 6px;
    padding: 4px 6px;
    &-status {
      background-color: rgba(0, 185, 71, 0.08) !important;
      color: var(--v-success-base) !important;
      border-radius: 6px;
      padding: 4px 6px;
    }
  }
  .danger,
  .label-danger,
  .error,
  .label-error,
  .closed,
  .label-closed {
    background-color: rgba(236, 72, 74, 0.08) !important;
    color: var(--v-error-base) !important;
    border-radius: 6px;
    padding: 4px 6px;
    &-status {
      background-color: rgba(236, 72, 74, 0.08) !important;
      color: var(--v-error-base) !important;
      border-radius: 6px;
      padding: 4px 6px;
    }
  }
  .info,
  .label-info,
  .waiting,
  .label-waiting,
  .considering,
  .label-considering {
    background-color: rgba(56, 137, 208, 0.08) !important;
    color: var(--v-info-base) !important;
    border-radius: 6px;
    padding: 4px 6px;
    &-status {
      background-color: rgba(56, 137, 208, 0.08) !important;
      color: var(--v-info-base) !important;
      border-radius: 6px;
      padding: 4px 6px;
    }
  }
  .default,
  .label-default {
    background-color: rgba(247, 247, 247, 1) !important;
    color: var(--v-darkest-base) !important;
    border-radius: 6px;
    padding: 4px 6px;
    &-status {
      background-color: rgba(247, 247, 247, 1) !important;
      color: var(--v-darkest-base) !important;
      border-radius: 6px;
      padding: 4px 6px;
    }
  }
}
.warning,
.label-warning {
  background-color: rgba(235, 129, 73, 0.08) !important;
  color: var(--v-warning-base) !important;
  border-radius: 6px;
  padding: 4px 6px;
  &-status {
    background-color: rgba(235, 129, 73, 0.08) !important;
    color: var(--v-warning-base) !important;
    border-radius: 6px;
    padding: 4px 6px;
  }
}
