.rtl {
  @each $breakPoint, $value in $grid-breakpoints {
    @each $side in $sides {
      @for $i from 0 through 16 {
        [class*="dir-#{$breakPoint}-#{$side}-m#{$i}"] {
          @media (min-width: $value) {
            @if $side == start {
              right: ($i * -4) + px;
            } @else if $side == end {
              left: ($i * -4) + px;
            } @else {
              #{$side}: ($i * -4) + px;
            }
          }
        }
        [class*="dir-#{$breakPoint}-#{$side}-#{$i}"] {
          @media (min-width: $value) {
            @if $side == start {
              right: ($i * 4) + px;
            } @else if $side == end {
              left: ($i * 4) + px;
            } @else {
              #{$side}: ($i * 4) + px;
            }
          }
        }
      }
    }
  }
}

.ltr {
  @each $breakPoint, $value in $grid-breakpoints {
    @each $side in $sides {
      @for $i from 0 through 16 {
        [class*="dir-#{$breakPoint}-#{$side}-m#{$i}"] {
          @media (min-width: $value) {
            @if $side == start {
              left: ($i * -4) + px;
            } @else if $side == end {
              right: ($i * -4) + px;
            } @else {
              #{$side}: ($i * -4) + px;
            }
          }
        }
        [class*="dir-#{$breakPoint}-#{$side}-#{$i}"] {
          @media (min-width: $value) {
            @if $side == start {
              left: ($i * 4) + px;
            } @else if $side == end {
              right: ($i * 4) + px;
            } @else {
              #{$side}: ($i * 4) + px;
            }
          }
        }
      }
    }
  }
}
