<div>
  <section
    class="home-page-hero d-flex flex-column align-center justify-center"
  >
    <v-container>
      <v-row>
        <div class="col-12 text-center pa-0 first-slogan">
          جزییات خدمات
        </div>
      </v-row>
    </v-container>
  </section>
  <section>
    <v-container>
      <v-row no-gutters>
        <v-col cols="12" sm="6" md="8">
          <service-main-info :serviceDetailsById="serviceDetailsById"></service-main-info>
        </v-col>
        <v-col>
          <service-side-info :serviceDetailsById="serviceDetailsById"></service-side-info>
        </v-col>
      </v-row>
    </v-container>
  </section>
</div>
