@import "src/assets/styles/variable";
.home-page-hero {
  width: 100%;
  height: 300px;
  background-image: linear-gradient(
      rgba(108, 108, 108, 0.91),
      rgba(0, 0, 0, 0.76)
    ),
    url("../../../assets/image/front-office/best-tools-for-freelancers-1-1.png");
  transform: translateY(-101px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .first-slogan,
  .second-slogan {
    font-size: 2.5vw;
    color: $gray-100;
  }
}

.header-details {
  background-color: $surface-100;
  border-radius: 8px;
  box-shadow: $card-box-shadow;
  span {
    font-size: 15px;
    color: $surface-200;
  }
  &-title {
    font-size: 25px;
    font-weight: 700;
    display: block;
  }
  &-icons {
    div {
      margin-left: 16px;
    }
  }
}
