<v-container class="side-filter">
  <v-row class="mt-2">
    <v-col cols="12" class="side-filter-card">
      <strong>{{ $t('form.startSearch') }}</strong>
      <v-divider class="divide-card"></v-divider>
      <v-text-field
        :label="$t('form.servicesSearch')"
        outlined
        class="mt-8"
        dense
      ></v-text-field>
    </v-col>
    <v-col cols="12" class="side-filter-card mt-8">
      <strong>{{ $t('form.priceRange') }}</strong>
      <v-divider class="divide-card"></v-divider>
      <div class="mt-8 mb-4">
        {{ $t('form.priceRangeBetweenToNum', { min: `${min}`, max: `${max}` })
        }}
      </div>
      <v-range-slider
        max="1000"
        min="0"
        v-model="value"
        @change="setSlider($event)"
        class="mt-8"
        thumb-label
        ticks
      ></v-range-slider>
    </v-col>
    <v-col cols="12" class="side-filter-card mt-8">
      <strong>{{ $t('sidebar.jobCategory') }}</strong>
      <v-divider class="divide-card"></v-divider>
      <div
        class="col-md-12 pa-md-0 col-sm-12 px-sm-15 d-md-flex d-sm-block mt-8 home-page-hero"
      >
        <v-text-field
          :placeholder="$t('form.ImLookingFor')"
          outlined
          dense
        ></v-text-field>
        <v-btn shaped color="teal accent-3" dark class="looking-for">
          <v-icon>
            mdi-magnify
          </v-icon>
        </v-btn>
      </div>
      <div class="category-checkbox">
        <v-checkbox
          v-for="(item, index) in checkboxLabel"
          :key="index"
          :label="item"
        ></v-checkbox>
      </div>
    </v-col>
    <v-col cols="12" class="side-filter-card mt-8 text-center">
      <div class="mb-4">
        {{ $t('form.applyLatestChanges') }}
      </div>
      <v-divider class="divide-card"></v-divider>
      <v-btn depressed color="primary">
        {{ $t('form.applyFilter') }}
      </v-btn>
    </v-col>
  </v-row>
</v-container>
