@import "src/assets/styles/variable";
.side-filter {
  &-card {
    background-color: $surface-100;
    border-radius: 4px;
    strong {
      font-size: 16px;
      font-weight: 500;
    }
    .category-checkbox {
      max-height: 190px;
      overflow: auto;
    }
  }
  .looking-for {
    height: 60px;
  }
}
