<div class="table-dashboard">
  <v-data-table
    :headers="headersUserManagement"
    :items="dataUserManagement"
    :page.sync="page"
    :items-per-page="itemsPerPage"
    hide-default-footer
    class="elevation-1"
    @page-count="pageCount = $event"
    item-key="name"
    :show-select="showSelect"
  >
    <template v-slot:item.actions="{ item, index }">
      <v-row justify="center" class="px-5">
        <v-dialog
          v-model="dialog"
          ref="form"
          max-width="600px"
          persistent
          :retain-focus="false"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              class="ma-2"
              :dark="item['has_estimation']"
              small
              color="primary"
              v-bind="attrs"
              v-on="on"
              :disabled="item['has_estimation'] === false"
              @click="showEstimationEmployer(item['estimation_id'], item['id'])"
            >
              <span v-if="item['has_estimation'] === false"
                >در انتظار پاسخ</span
              >
              <span
                v-if="!item['has_estimation'] && item['has_estimation'] !== false"
              >
                ارزیابی</span
              >
              <span v-if="item['has_estimation']">مشاهده درخواست</span>
            </v-btn>
          </template>
          <v-form ref="form" v-model="valid" lazy-validation>
            <v-card
              class="d-flex flex-column justify-center align-center pb-10 send-jobOffer-freelancer"
            >
              <v-card-title class="justify-space-between title">
                <span class="text-h6" v-if="disableInput"
                  >درخواست ارسال شده از فریلنسر</span
                >
                <v-btn icon @click="closeModal">
                  <v-icon>mdi-close</v-icon>
                </v-btn>
              </v-card-title>
              <v-card-text>
                <v-container>
                  <v-row>
                    <v-col cols="12" v-if="!disableInput">
                      <v-text-field
                        label="عنوان*"
                        required
                        outlined
                        dense
                        v-model="showJobOfferFreelancer['title']? showJobOfferFreelancer['title'] : confirmJobOfferForm.title"
                        disabled
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12" v-if="!disableInput">
                      <v-textarea
                        outlined
                        label="توضیحات*"
                        required
                        v-model="showJobOfferFreelancer.description? showJobOfferFreelancer.description : confirmJobOfferForm.description"
                        disabled
                      ></v-textarea>
                    </v-col>
                    <v-col cols="12" v-if="!disableInput">
                      <div class="employer-projects-card-title mt-8">
                        فایل‌های ضمیمه شده
                      </div>
                      <v-list>
                        <v-list-item
                          v-for="(file, index) in item.attachments"
                          :key="index"
                          class="list-item"
                        >
                          <v-list-item-content>
                            <v-list-item-title>
                              فایل شماره {{index + 1}}
                            </v-list-item-title>
                          </v-list-item-content>
                          <v-list-item-action>
                            <v-btn icon :href="file" target="_blank">
                              <v-icon small>mdi-arrow-down</v-icon>
                            </v-btn>
                          </v-list-item-action>
                        </v-list-item>
                      </v-list>
                    </v-col>
                    <v-col><v-divider class="divide-card"></v-divider></v-col>
                    <v-col cols="12">
                      <v-text-field
                        label="قیمت پیشنهادی پایه (ریال)*"
                        required
                        outlined
                        dense
                        v-model="confirmJobOfferForm.minPrice"
                        :rules="confirmJobOfferRule.minPrice"
                        :disabled="disableInput"
                        @input="mask"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        label="مدت زمان تخمینی اجرای پروژه(ساعت)*"
                        required
                        outlined
                        dense
                        type="number"
                        v-model="confirmJobOfferForm.duration"
                        :rules="confirmJobOfferRule.duration"
                        :disabled="disableInput"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <v-text-field
                        label="پیش پرداخت (ریال)"
                        required
                        outlined
                        dense
                        :disabled="disableInput"
                        v-model="confirmJobOfferForm.prepayment"
                        @input="maskPrepayment"
                      ></v-text-field>
                    </v-col>
                    <v-col cols="12">
                      <!--                      <strong>برآورد کل قیمتی: {{total_price}}</strong>-->
                    </v-col>
                    <v-col cols="12">
                      <v-textarea
                        outlined
                        label="توضیحات*"
                        required
                        v-model="confirmJobOfferForm.freelancerDescription"
                        :rules="confirmJobOfferRule.freelancerDescription"
                        :disabled="disableInput"
                      ></v-textarea>
                    </v-col>
<!--                    <v-col cols="12">-->
<!--                      <div class="employer-projects-card-title mt-8">-->
<!--                        فایل‌های ضمیمه شده-->
<!--                      </div>-->
<!--                      <v-list>-->
<!--                        <v-list-item-->
<!--                          v-for="(file, index) in confirmJobOfferForm.attachmentId"-->
<!--                          :key="index"-->
<!--                          class="list-item"-->
<!--                        >-->
<!--                          <v-list-item-content>-->
<!--                            <v-list-item-title>-->
<!--                              فایل شماره {{index + 1}}-->
<!--                            </v-list-item-title>-->
<!--                          </v-list-item-content>-->
<!--                          <v-list-item-action>-->
<!--                            <v-btn icon :href="file" target="_blank">-->
<!--                              <v-icon small>mdi-arrow-down</v-icon>-->
<!--                            </v-btn>-->
<!--                          </v-list-item-action>-->
<!--                        </v-list-item>-->
<!--                      </v-list>-->
<!--                    </v-col>-->
                    <v-col cols="12" v-if="!disableInput">
                      <v-file-input
                        @change="handleFileInput($event)"
                        counter
                        label="ضمیمه فایل"
                        placeholder="Select your files"
                        prepend-icon="mdi-paperclip"
                        outlined
                        multiple
                        dense
                        :show-size="1000"
                      >
                        <template v-slot:selection="{ index, text }">
                          <v-chip v-if="index < 3" dark label small>
                            {{ text }}
                          </v-chip>

                          <span
                            v-else-if="index === 3"
                            class="text-overline grey--text text--darken-3 mx-2"
                          >
                            +{{ files.length - 3 }} File(s)
                          </span>
                        </template>
                      </v-file-input>
                    </v-col>
                  </v-row>
                </v-container>
                <small v-if="!disableInput">*موارد ستاره دار خالی نماند.</small>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="error" @click="rejectEstimation(item.id)">
                  رد پیشنهاد
                </v-btn>
                <v-btn
                  v-if="disableInput"
                  color="primary"
                  @click="confirmEstimation(item['estimation_id'])"
                >
                  تایید فریلنسر
                </v-btn>
                <v-btn
                  v-if="!disableInput"
                  color="primary"
                  @click="confirmEstimation(item.id)"
                >
                  ارسال ارزیابی
                </v-btn>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-dialog>
      </v-row>
    </template>
    <template v-slot:item.icon="{ item }">
      <v-img
        max-height="40"
        max-width="40"
        :src="item.icon"
        class="ma-auto"
      ></v-img>
    </template>
    <template v-slot:item.service_title="{ item }">
      <div class="d-flex justify-center align-center service-table">
        <div class="d-flex flex-column align-start px-4">
          <div class="m-0">
            {{item['service_title'] | readMore(15, '...')}}
          </div>
        </div>
      </div>
    </template>
    <template v-slot:item.title="{ item }">
      <div class="d-flex justify-center align-center service-table">
        <!--        <div>-->
        <!--          <img :src="item.title.src" alt="" />-->
        <!--        </div>-->
        <div class="d-flex flex-column align-start px-4">
          <!--          <v-btn class="white&#45;&#45;text" color="error" depressed small>-->
          <!--            featured-->
          <!--          </v-btn>-->
          <div class="m-0 my-1 service-table-title">{{item.title}}</div>
          <!--          <div class="m-0">-->
          <!--            شروع قیمت از <strong>{{item.title.price}}</strong>-->
          <!--          </div>-->
        </div>
      </div>
    </template>
    <template v-slot:item.description="{ item }">
      <div class="d-flex justify-center align-center service-table">
        <div class="d-flex flex-column align-start px-4">
          <div class="m-0">
            {{item.description | readMore(15, '...')}}
          </div>
        </div>
      </div>
    </template>
    <template v-slot:item.updated_at="{ item }">
      <div class="d-flex justify-center align-center service-table">
        <div class="d-flex flex-column align-start px-4">
          <div class="m-0">
            {{item['updated_at'] | changeDate() }}
          </div>
        </div>
      </div>
    </template>
    <template v-slot:item.serviceStatus="{ item }" class="service-status">
      <v-select
        :items="item.serviceStatus"
        append-outer-icon="mdi-check-underline-circle"
        @click:append-outer="confirmChangeServiceStatus"
        menu-props="auto"
        hide-details
        label="انتخاب وضعیت"
        single-line
        solo
        class="col-md-8 my-5"
      ></v-select>
    </template>
  </v-data-table>
  <div class="text-center pt-2">
    <v-pagination
      v-model="page"
      :length="pageCount"
      color="primary"
    ></v-pagination>
  </div>
  <snackbar
    :snackbarMessage="snackbarMessage"
    :showSnackbar="showSnackbar"
    @hideSnackbar="hideSnackbar"
  ></snackbar>
</div>
