<div>
  <section
    class="home-page-hero d-flex flex-column align-center justify-center"
  >
    <v-container>
      <v-row>
        <v-col cols="12" md="6" sm="11" class="mx-auto pa-0 first-slogan">
          جستجوی خدمات ارایه شده از
        </v-col>
        <v-col
          cols="12"
          md="6"
          sm="11"
          class="mx-auto pa-0 pa-0 font-weight-bold second-slogan"
        >
          فریلنسرها
        </v-col>
      </v-row>
    </v-container>
  </section>
  <section>
    <v-container>
      <v-row class="px-8 py-12  d-flex align-center header-details">
        <v-col cols="12">
          پروفایل
        </v-col>
      </v-row>
      <v-row no-gutters>
        <v-col cols="12" sm="6" md="8">
          <main-info></main-info>
        </v-col>
        <v-col>
          <side-info></side-info>
        </v-col>
      </v-row>
    </v-container>
  </section>
</div>
