<v-container class="faq" fluid>
  <v-row>
    <v-col cols="12" class="text-center my-12">
      <h1>قوانین و مقررات</h1>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16">
      <v-col cols="12">
        <p>
          1) مقدمه شرکت کاوشگران ارتباط نوین یکتا (سهامی خاص) به شناسه ملی
          14006186500 در این سند به بیان ضوابط و مقررات استفاده از خدمات پلتفرم
          (بستر) کانکتا می­پردازد. کانکتا با هدف ارائه خدمات در زمینه برقراری
          ارتباط مستقیم بین کاربران (کارفرما و فریلنسر) طراحی شده و برابر با
          شرایط و ضوابط ذیل نسبت به ارائه خدمات به کاربران اقدام می‌نماید. شرایط
          حاضر به‌عنوان یک قرارداد قطعی و لازم الاجرا با رعایت ماده ۱۰ و ۲۱۹
          قانون مدنی بر روابط بین کاربران (کارفرما و فریلنسر) و شرکت حاکم خواهد
          بود. ثبت نام کاربران (کارفرما و فریلنسر) در سایت/اپلیکیشن کانکتا به
          منزله پذیرش و قبول تمامی شرایط و ضوابط این سند است. لذا ضروری‌ است پیش
          از ثبت نام و استفاده از خدمات کانکتا، این شرایط و ضوابط را با دقت
          مطالعه فرمایید.
        </p>
        <p>
          2) تعاریف 1- شرکت: منظور از شرکت در این سند، شرکت کاوشگران ارتباط نوین
          یکتا (سهامی خاص) با شناسه ملی 14006186500 است.
        </p>
        <p>
          2- کانکتا: پلتفرم (بستر) ارتباط بین کارفرما و فریلنسر بوده که تحت
          دامنه www.connecta.ir از طریق اینترنت قابل دسترس است. مالکیت پلتفرم و
          نام تجاری کانکتا تماماً متعلق به شرکت است.
        </p>
        <p>
          3- کاربر فریلنسر: شخصی است که با اراده خود نسبت به ساخت حساب کاربری در
          کانکتا اقدام می نماید و با قبول و انجام پروژه تعریف شده کارفرما به شکل
          صحیح و کامل، حق الزحمه معلوم و معینی را دریافت می نماید.
        </p>
        <p>
          4- کاربر کارفرما: شخصی است که با اراده خود نسبت به ساخت حساب کاربری در
          کانکتا اقدام می نماید و درخواست انجام پروژه با هدف پذیرش و واگذاری آن
          به کاربر فریلنسر را در کانکتا قرار می دهد.
        </p>
        <p>
          5- حساب کاربری: حسابی است که توسط کاربر کارفرما یا فریلنسر با مسئولیت
          کامل شخص در خصوص اظهار اطلاعات صحیح، کافی،کامل و با رعایت مقررات و
          قوانین جمهوری اسلامی ایران در کانکتا ساخته می‌شود.
        </p>
        <p>
          6- پروژه: کار مشخصی است که توسط کاربر کارفرما در کانکتا تعریف شده و
          توسط فریلنسر مورد پذیرش قرار گرفته و انجام می­شود. پروژه دارای موضوع،
          مبلغ و مدت زمان اجرای مشخص است.
        </p>
        <p>
          7- اعتبار: مبلغی است که کاربران در حساب کاربری خود در کانکتا دارند.
          این مبلغ به صورت پرداخت از طریق سامانه­های بانکی موجود در کانکتا و طبق
          شرایط و مقررات حاضر منظور، محاسبه و قابل برداشت خواهد بود
        </p>
        <p>
          8- فورس ماژور: منظور از فورس ماژور، وقوع هرگونه حادثه خارجی، غیر قابل
          دفع و غیر قابل پیش‌بینی است که مستند به فعل یا ترک فعل هیچ‌یک از طرفین
          (شرکت و کاربر) نباشد. از جمله مصادیق آن می‌توان به سیل، زلزله،
          آتش‌سوزی، جنگ، اعتصاب، بیماری‌های واگیردار، قطعی سراسری اینترنت، قطع
          سراسری برق و یا دیگر حوادث این چنینی اشاره نمود.
        </p>
        <p>3) کلیات</p>
        <p>
          ۱- کانکتا به صورت کامل از قوانین و مقررات جمهوری اسلامی ایران تبعیت می
          نماید.
        </p>
        <p>
          2- کاربر فریلنسر و کارفرما با ثبت‌نام و ساخت حساب کاربری در کانکتا
          می‌پذیرد که شرایط و قوانین این سند را به صورت کامل و دقیق مطالعه
          نموده، با اراده آزاد آن را قبول و پذیرفته است. لذا در آینده هرگونه
          اعتراض و یا ایرادی از سوی کاربر فریلنسر و کارفرما در این خصوص بلا
          اعتبار است.
        </p>
        <p>
          تبصره 1: هرگونه علامت، عدد، کلمه، تصویر یا نشان الکترونیک که مثبِت
          هویت امضا کننده باشد و به این سند یا سایر اسناد صادره در این زمینه
          ملحق شود به‌منزله امضای الکترونیک و همانند امضای دست‌نویس واجد اعتبار
          خواهد بود و امضاکننده را به مفاد سند ملتزم می‌‌نماید.
        </p>
        <p>
          3- کانکتا مجاز و محق است که در مفاد این سند در هر زمان تغییراتی را به
          صورت کلی و یا جزئی اعمال نماید. بدیهی ا‌ست این تغییرات به اطلاع کاربر
          فریلنسر و کارفرما از طریق مقتضی خواهد رسید. در صورتی که پس از اطلاع
          رسانی، کاربر فریلنسر و کارفرما به استفاده خود از خدمات کانکتا ادامه
          دهند، این امر به منزله پذیرش کلیه تغییرات از سوی کاربران است.
        </p>
        <p>
          4- کانکتا به عنوان یک بستر (پلتفرم) ارتباط مستقیم بین کاربر فریلنسر و
          کارفرما است. شرکت به‌هیچ عنوان نماینده طرفین نمی باشد و صرفاً بستری
          است که کاربر فریلنسر و کارفرما را جهت انجام یک توافق برای انجام پروژه
          به هم معرفی و متصل می‌نماید. به عبارت دیگر، کانکتا تنها خدماتی در جهت
          آسان سازی ارتباط بین کاربران ارائه می­نماید. کانکتا ارائه دهنده خدمات
          پیمانکاری به منظور انجام پروژه به هیچ عنوان نمی باشد.
        </p>
        <p>
          5- ثبت درخواست انجام پروژه­های دانشجویی و پایان­نامه در کانکتا ممنوع
          است، اما درخواست مشاوره در این زمینه­ها بلامانع است.
        </p>
        <p>
          6- کلیه دارایی فکری متصور در خصوص کانکتا انحصاراً و بدون هیچ‌گونه قید
          و شرطی در مالکیت شرکت بوده و حق انحصاری بهره‌برداری از آن متعلق به
          شرکت است. هر گونه نقض این مالکیت موجب پیگرد حقوقی و کیفری خواهد بود.
        </p>
        <p>
          7- هرگونه اخطار و اطلاعیه از طریق کانکتا تنها به ایمیل و یا شماره تماس
          اعلامی کاربران هنگام ثبت‌‌نام و یا از طریق حساب کاربری ارسال و به
          کاربران اطلاع رسانی خواهد شد. همچنین کاربران می‌توانند با آدرس مندرج
          در قسمت تماس با ما، جهت پرسیدن سوالات، ارائه پیشنهادات و شکایات خود در
          خصوص این سند یا سایر موارد با شرکت در ارتباط باشند.
        </p>
        <p>
          8- در صورتی که در ارائه خدمات کانکتا خللی ایجاد شود که مستند به فورس
          ماژور باشد، مسئولیتی متوجه شرکت نخواهد بود.
        </p>
        <p>
          9- کارفرما و فریلنسر توافق می­کنند بر اساس شرایط و مشخصات پروژه تعریف
          شده در کانکتا، قوانین و مقررات سایت و هرگونه فایل ضمیمه پروژه که در
          سایت آپلود شده باشد، عمل نمایند و هر شرط یا توافقی خارج از این موارد
          که ناقض قوانین سایت باشد باطل خواهد بود.
        </p>
        <p>
          10- استفاده از خدمات سایت توسط کاربران به معنای ایجاد شراکت، اعطای
          نمایندگی و استخدام در کانکتا نخواهد بود.
        </p>
        <p>
          11- کانکتا عامل ارائه خدمات نیست، بلکه تنها یک خدمات نرم‌افزاری است که
          از این طریق ارتباط بین کارفرما و فریلنسر را برای انجام یک پروژه فراهم
          آورده و تلاش دارد تا فرایند انجام پروژه یادشده را تسهیل نماید. تأکید
          می‌شود که شرکت هیچ‌گونه مسئولیتی - اعم از حقوقی و کیفری - در قبال
          اتفاقات حین انجام پروژه در مقابل کاربران - اعم از کارفرما و فریلنسر -
          و اشخاص ثالث نخواهد داشت.
        </p>
        <p>4) شرایط حساب کاربری</p>
        <p>
          1- به منظور ایجاد حساب کاربری (شخص حقیقی)، کاربر فریلنسر و کارفرما
          باید دارای حداقل سن ۱۸ سال تمام و واجد اهلیت قانونی باشند و به موجب
          حکم دادگاه از معامله به دلیل جنون یا سفه یا به هر دلیل قانونی دیگری
          منع نشده باشد.
        </p>
        <p>
          2- به منظور ایجاد حساب کاربری (شخص حقوقی)، نماینده‌ شرکت می­تواند
          اقدام به ایجاد یک حساب کاربری به نام شرکت نموده و در این صورت، اطلاعات
          ثبتی شرکت از قبیل نام کامل شرکت، شماره‌ی ثبت و شناسه‌ی ملی شرکت، نام
          صاحبان امضا مجاز، آدرس، کد اقتصادی و سایر اطلاعات مورد نیاز می‌‌بایست
          در کنار مشخصات نماینده‌ی شرکت در فرم مشخصات تکمیل گردد. همچنین نماینده
          شرکت باید به صورت رسمی در قالب نامه به کانکتا معرفی گردد.
        </p>
        <p>3- ایجاد حساب کاربری برای کاربران رایگان است.</p>
        <p>
          4- حساب کاربری قائم به شخص بوده و کاربر مجاز نیست که حساب کاربری خود
          را در اختیار شخص دیگری قرار دهد. در مورد کاربر شخص حقوقی نیز،
          مسئولیت‌های قانونی بهره­برداری از خدمات کانکتا متوجه مدیران شرکت مذکور
          خواهد بود.
        </p>
        <p>
          5- کاربر با ثبت نام و ساختن حساب کاربری صحت و اعتبار کلیه اطلاعات و
          اسناد هویتی و انتساب آن ها را به خود (اعم از شماره تماس و ایمیل) اقرار
          و تایید می‌نماید. کاربر برای ایجاد حساب کاربری از اطلاعات شخص دیگری
          استفاده نمی‌نماید و در صورت تغییر در هر یک اطلاعات خود، متعهد است که
          این اطلاعات را در اسرع وقت به روز رسانی نماید.
        </p>
        <p>
          6- هر کاربر می­تواند تنها یک حساب کاربری (اعم از حقیقی و یا حقوقی) در
          کانکتا داشته باشد. امکان تعریف پروژه و یا پیشنهاد قیمت برای پروژه­های
          تعریف شده به­صورت هم­زمان با یک حساب کاربری وجود دارد.
        </p>
        <p>
          7- کاربران با ثبت‌نام در کانکتا و ایجاد حساب کاربری به نام خود صحت
          انتساب تمام پیام‌های صادره از حساب کاربری خویش را پذیرفته و در نتیجه
          حق هرگونه اعتراض یا ادعای آتی (مبنی بر انکار، تردید یا جعل داده‌ی
          پیام‌های ارسالی) را از خویش سلب و اسقاط می‌نمایند.
        </p>
        <p>
          8- مسئولیت تمامی فعالیت‌هایی که از طریق حساب کاربری انجام می‌شود
          مطلقاً به عهده‌ی شخص کاربر است، درنتیجه ضروری است که کاربر در حفظ
          اطلاعات حساب کاربری خود، از جمله نام کاربری و رمز عبور، حداکثر اقدامات
          لازم را مبذول دارد و از این طریق مانع استفاده‌ی دیگران از آن گردد.
          همچنین ضروری است که کاربر در صورت ظن به دسترسی ثالث به‌حساب کاربری
          خویش، شخص کاربر در اسرع وقت نسبت به تغییر رمز عبور خود اقدام نماید و
          در صورت لزوم شرکت را مطلع کند تا حساب کاربری مذکور را مسدود نماید.
        </p>
        <p>
          9- در شرایط خاصی ممکن است شرکت از کاربر برای استفاده از خدمات درخواست
          احراز هویت نماید، در چنین شرایطی اگر کاربر اطلاعات کافی در اختیار شرکت
          قرار ندهد، شرکت می‌تواند حساب کاربری وی را مسدود کرده و از ارائۀ خدمات
          به کاربر خودداری نماید.
        </p>
        <p>5) تعهدات فریلنسر</p>
        <p>
          1- کاربر متعهد است که در استفاده از خدمات کانکتا تمامی قوانین تجارت
          جمهوری اسلامی ایران و قانون تجارت الکترونیک جمهوری اسلامی ایران را
          رعایت کند، نرم‌افزار را برای اهداف قانونی به­کار گیرد و در همه حال، با
          در نظر گرفتن حیثیت تجاری نرم‌افزار کانکتا و شرکت، مرتکب رفتاری نشود که
          اعتبار کانکتا را خدشه‌دار نماید. مسئولیت هر نوع اقدام کاربر که منجر به
          بروز خسارت مالی گردد به عهده‌ی کاربر است و شرکت در این خصوص مسئولیتی
          نخواهد داشت.
        </p>
        <p>
          2- متن درخواست پروژه در حکم قرارداد می­باشد؛ بنابراین ارسال پیشنهاد
          قیمت قطعی توسط فریلنسر به منزله پذیرش قرارداد درخواست پروژه است.
          همچنین توافقات انجام شده در بخش مبادله پیام سایت به عنوان متمم بر
          قرارداد درخواست پروژه می­باشند. اما توافقات انجام شده خارج از بخش
          تبادل پیام سایت مانند ایمیل، تلفن و غیره به دلیل قابلیت جعل ساده در
          هنگام درخواست سازش به هیچ عنوان قابل استناد نیستند.
        </p>
        <p>
          3- فریلنسر متعهد می­شود در صورت پذیرفته شدن پیشنهاد وی، پروژه را در
          چارچوب معیاری های کمی و کیفی به انجام رساند و در صورت عدم انجام صحیح
          پروژه، فریلنسر متعهد به جبران خسارت وارده به سایت می­باشد؛ این خسارت
          شامل و نه محدود به پرداخت کامل کارمزد سایت است.
        </p>
        <p>
          4- فریلنسر در ارائه پیشنهاد جهت انجام پروژه­ها مخیر است، اما در صورت
          ارائه پیشنهاد و تایید پروژه از سوی کارفرما، موظف به انجام پروژه طبق
          شرایط تایید شده (مالی و زمانی) در کانکتا است. در صورت عدم تحویل پروژه
          در زمان مقرر فریلنسر می­بایست ضمن ارائه دلایل و مستندات رضایت کارفرما
          را جلب نماید.
        </p>
        <p>
          5- درصورت احراز تخلف فریلنسر و عدم رضایت کارفرما، با توجه به موضوع
          پروژه، فریلنسر ضمن کسر امتیاز ارزیابی در کانکتا به شرح ذیل متحمل جریمه
          خواهد شد: • در صورت تفکیک پذیری موضوع پروژه، حساب کاربری فریلنسر در
          مرتبه اول یکماه، در مرتبه دوم سه ماه و در صورت تکرار به صورت دائم
          تعلیق و مسدود خواهد شد. • در صورت عدم تفکیک پذیری موضوع پروژه، فریلنسر
          ضمن عودت کامل وجه پروژه به کارفرما، حساب کاربری وی در مرتبه اول سه ماه
          و در صورت تکرار به صورت دائم مسدود می شود.
        </p>
        <p>
          6- ارتباط بین کارفرما و فریلنسر (در صورت تایید پروژه تعریف شده و
          پیشنهاد ارائه شده) از طریق بخش تبادل پیام اختصاصی طرفین خواهد بود.
        </p>
        <p>6) تعهدات کارفرما</p>
        <p>
          1- کارفرما موظف است در صورت وجود محدودیت زمان برای قیمت پیشنهادی خود
          این مورد را به صورت واضح و روشن در متن پیشنهاد خود ذکر نماید، البته در
          صورت گذشت بیش از یک ماه از زمان ارائه پیشنهاد کارفرما، فریلنسر باید
          قبل از پذیرش پیشنهاد و گروگذاری وجه، تایید مجدد کارفرما در خصوص قیمت
          را دریافت نماید. همچنین فریلنسر موظف است در صورت عدم رضایت در مورد
          قیمت حداکثر طی ۲۴ ساعت پس از گروگذاری عدم رضایت خود را اعلام کند.
        </p>
        <p>
          2- کارفرما می­تواند در صورت عدم رضایت از کار انجام شده از سیستم سازش
          کانکتا استفاده نماید.
        </p>
        <p>7) حقوق و تعهدات کانکتا</p>
        <p>
          1- کانکتا به عنوان واسطه میان کارفرما و فریلنسر فعالیت می‌نماید و در
          بهترین حالت سعی در هموار کردن انجام معاملات و رضایتمندی دوطرفه دارد.
          بنابرین کارفرما و فریلنسر توافق می‌کنند که درصورت پیش آمدن نزاع غیر
          قابل حل میان طرفین، سازش کانکتا را بپذیرند.
        </p>
        <p>
          2- هدف کانکتا تسهیل معاملات مالی از طریق ارسال درخواست انجام پروژه و
          پیشنهاد قیمت می‌باشد و بنابرین هر ارسالی که شامل چیزی مغایر با این هدف
          باشد حذف شده و حساب کاربری ارسال­کننده برای همیشه بسته می‌شود. این
          ارسال­ها می‌تواند شامل و نه محدود به این موارد باشد: درخواست­هایی برای
          انجام کار به­صورت رایگان، درصدی از فروش محصول، دریافت معوض غیر نقدی در
          عوض انجام کار و همچنین ارسال پیشنهادهایی برای انجام کار و یا فراهم
          نمودن راه­حل به­صورت رایگان.
        </p>
        <p>
          3- کانکتا طرف حساب در توافقات، قرادادها و درخواست­های پروژه­ها بین
          کارفرما و فریلنسر نبوده و کنترلی روی پروژه­ها ندارد. فریلنسرها نیروی
          مستخدم در کانکتا نبوده و تمام حقوق و تعهدات خرید و فروش خدمات بین
          کارفرما و فریلنسر خواهد بود. کانکتا هیچ وسیله یا ابزاری برای انجام
          پروژه­ها در اختیار فریلنسر قرار نخواهد داد. کارفرما و فریلنسر می­بایست
          با یکدیگر تمام مسائلی که مربوط به حقوق و تعهدات می­باشد را حل و فصل
          کنند.
        </p>
        <p>
          4- کانکتا با تمام امکانات خود از جمله مرکز تماس ۲۴ ساعته، واحد رسیدگی
          به شکایات و فرآیند سازش تمامی تلاش خود را جهت رضایت کاربران و رفع
          اختلافات ایجاد شده در زمان ارائه خدمات و نیز ایجاد صلح و سازش فی مابین
          کارفرما و فریلنسر می‌نماید.
        </p>
        <p>
          5- شرکت هیچ‌گونه مسئولیتی در خصوص عملکرد اشخاص ثالث - که ممکن است موجب
          حدوث نقص یا اشکال و ایرادی در حساب کاربری کاربر گردد - نخواهد داشت.
        </p>
        <p>
          6- کانکتا حق تایید، رد و یا تغییر هر درخواست، پیشنهاد و یا هر نوع
          اطلاعات ارسالی دیگر به سایت را برای خود محفوظ می­دارد.
        </p>
        <p>8) هزینه­ها و نحوه پرداخت</p>
        <p>
          1- هزینه استفاده از خدمات کانکتا برای کارفرما و فریلنسر معادل پنج درصد
          هزینه تایید شده پروژه است.
        </p>
        <p>
          2- کاربران می­توانند جهت دریافت موجودی خود (موجودی حاصل از انجام پروژه
          توسط فریلنسر و یا درخواست استرداد وجه از سوی کارفرمایان) از بخش گزارش
          مالی سایت اقدام نماید.
        </p>
        <p>
          3- برای دریافت موجودی حساب کاربری محدودیتی وجود ندارد، اما کارمزد و
          هزینه­های حواله مبالغ کمتر از 1،000،000 ريال بر عهده فریلنسر است.
        </p>
        <p>
          4- واریز مبالغ دریافتی فریلنسر و وجوه مسترد شده کارفرما از طریق حواله
          پایا انجام می­شود. واریزها حداکثر تا دو روز کاری پس از ثبت درخواست
          واریز انجام می­شود.
        </p>
        <p>
          5- کاربران غیر ایرانی می­توانند در صورت تمایل پرداخت/دریافت­های خود را
          با استفاده از درگاه بیت­راه و رمز ارزهای موجود در این درگاه انجام
          دهند. در صورت استفاده از درگاه بیت­راه هزینه­های پرداخت شامل کارمزد
          شبکه رمز ارز مورد استفاده نیز خواهد بود.
        </p>
        <p>9) پرداخت امن</p>
        <p>
          1- سیستم پرداخت امن به­منظور ایجاد امنیت بیشتر در مبادلات مالی بین
          کارفرما و فریلنسر ایجاد شده است.
        </p>
        <p>
          2- درصورت انتخاب گزینه پرداخت امن توسط فریلنسر، کارفرما موظف است پس از
          پذیرش قیمت پیشنهادی، ابتدا 15% مبلغ پروژه را به­عنوان پیش­پرداخت و سپس
          وجه هر مرحله از پروژه را با توجه به پیشرفت در سایت گروگذاری نماید. این
          مبلغ تا زمان اتمام هر مرحله از کار توسط فریلنسر و تایید آن توسط
          کارفرما به فریلنسر پرداخت نخواهد شد. تبصره: فریلنسر تا پیش از انجام
          گروگذاری پیش پرداخت کار را آغاز نخواهد کرد.
        </p>
        <p>3- مبالغ گروگذاری به شکل ذیل است:</p>
        <p>
          • در پروژه­های با مبلغ کمتر از 100،000،000 ريال، پروژه به دو بخش تقسیم
          شده و گروگذاری مبلغ پروژه به­صورت مساوی (50% مبلغ در هر مرحله) انجام
          خواهد شد. • در پروژه­های با مبالغ بیش از 100،000،000 ريال، پروژه به سه
          بخش­ تقسیم شده و گروگذاری مبلغ پروژه به­صورت مساوی (33% مبلغ در هر
          مرحله) انجام خواهد شد.
        </p>
        <p>
          4- کارفرما موظف است پس از اعلام پایان کار توسط فریلنسر نسبت به تایید
          یا اعمال نظر برای تغییرات حداکثر در مدت 72 ساعت اقدام نماید. بدیهی است
          در صورت عدم پاسخ­گویی کارفرما در این مدت و با درخواست فریلنسر کانکتا
          حق دارد کار فریلنسر را پذیرفته شده در نظر بگیرد و راساً وجه گروگذاشته
          شده را آزاد نماید.
        </p>
        <p>
          تبصره: کارفرما می­تواند مدت زمان مورد نیاز برای تایید کار را در متن
          درخواست خود درج نموده و یا با فریلنسر در خصوص آن به توافق برسد.
        </p>
        <p>
          5- کارفرما در نظر دارد پس از پرداخت هر مرحله از مبلغ پروژه دیگر دسترسی
          به مبلغ نخواهد داشت. کانکتا تنها در صورت اعلام رضایت کارفرما مبلغ را
          به حساب فریلنسر منتقل می­کند، اما چنانچه فریلنسر به هر دلیلی امکان
          انجام پروژه را نداشته باشد، تا 24 ساعت فرصت دارد تا پرداخت امن را لغو
          نموده تا مبلغ به حساب کارفرما بازگردانده شود. در چنین حالتی کانکتا در
          صورت تایید دلایل فریلنسر و ضمن مستند کردن این مورد در حساب طرفین و
          بدون در نظر گرفتن امتیاز منفی برای ایشان گروگذاری را لغو و مبلغ را به
          حساب کارفرما برمی­گرداند.
        </p>
        <p>
          6- کارفرما پس از انجام گروگذاری مبلغ پروژه تنها در صورت ثبت درخواست
          سازش (حل اختلاف) می­تواند نسبت به لغو پروژه اقدام نماید. بدیهی است در
          صورتی­که فریلنسر بخش­هایی از پروژه را انجام داده باشد مبالغ مربوط به
          آن بخش ها قابل استرداد نخواهد بود. محاسبه این مبلغ ابتدا با توافق
          کارفرما و فریلنسر و در صورت عدم توافق ایشان توسط کانکتا انجام خواهد
          شد.
        </p>
        <p>10) سازش (حل اختلاف)</p>
        <p>
          1- سیستم سازش (حل اختلاف) به­منظور جلوگیری از ایجاد تنش و حل اخلافات
          ایجاد شده بین کارفرما و فریلنسر ایجاد شده است.
        </p>
        <p>
          2- در صورت فعالسازی سیستم سازش، مبلغ کمیسیون دریافتی از کارفرما معادل
          8 درصد مبلغ کل پروژه خواهد بود.
        </p>
        <p>
          3- کارفرما و فریلنسر می­توانند در موارد زیر و در صورت بروز اختلاف
          درخواست سازش نمایند:
        </p>
        <p>
          • چنانچه پروژه به­صورت کامل به کارفرما تحویل شده و کارفرما از پرداخت
          هزینه خودداری می­نماید. • چنانچه فریلنسر پس از تایید پروژه پاسخگوی
          کارفرما نباشد. • چنانچه پروژه تحویل شده از نظر کیفی و یا کمی مورد
          تایید کارفرما نباشد.
        </p>
        <p>
          4- در صورت درخواست سازش، کانکتا به عنوان شخص سوم و بی طرف موضوع را با
          بررسی توافق انجام شده توسط طرفین در خصوص مشخصات پروژه، پیام­های مبادله
          شده در سیستم تبادل پیام کانکتا و فایل­های ضمیمه شده در پوشه پروژه
          پیگیری می­نماید.
        </p>
        <p>
          5- پس از بررسی و کارشناسی، کانکتا نتیجه نهایی را از طریق راه­های
          ارتباطی تعیین شده توسط طرفین در حساب کاربری ایشان اعلام می­نماید. در
          صورتی­که هر یک از طرفین نسبت به تصمیم اتخاذ شده از طرف کانکتا اعتراض
          داشته باشند، می­بایست ظرف مدت حداکثر 48 ساعت دلایل و مستندات خود را در
          این خصوص به کانکتا ارائه نمایند. در غیر این­صورت تصمیم نهایی توسط
          کانکتا تایید شده تلقی خواهد شد.
        </p>
        <p>11) سلب مسئولیت</p>
        <p>
          1- هر گونه سهل انگاری کاربر در حفظ اطلاعات امنیتی حساب کاربری خود از
          جمله گذر واژه، بر عهده شخص کاربر است. کانکتا هیچ گونه مسئولیتی در این
          مورد به عهده نخواهد داشت.
        </p>
        <p>
          ۲- کانکتا هیچ گونه مسئولیتی در قبال روابط و تعاملات کاربران با یکدیگر
          و یا کسانی که در نتیجه استفاده از خدمات کانکتا با آن‌ها آشنا شده‌اند،
          ندارد.
        </p>
        <p>
          3- در صورت نقض شرایط و مقررات قراردادی فی مابین فریلنسر و کارفرما،
          کانکتا در این خصوص مسئولیتی بر عهده ندارد.
        </p>
        <p>
          4- هر کاربر مسئول فعالیت‌ها و اقداماتی است که از طریق حساب کاربری خود
          در کانکتا انجام می‌دهد و کانکتا در خصوص رفتار کاربران در فضای مجازی
          مسئولیتی بر عهده ندارد.
        </p>
        <p>
          5- هر گونه واریز وجه خارج از بستر کانکتا فی مابین فریلنسر و کارفرما
          تخلف از مقررات این سند بوده و کانکتا در خصوص آن مسئولیتی بر عهده
          ندارد.
        </p>
        <p>ماده 12) مقررات مسدودی حساب کاربری</p>
        <p>
          ۱- در صورت مشاهده هر کدام از موارد زیر، حساب کاربری اشخاص مسدود خواهد
          شد: • تخلف از قوانین احراز هویت، • عدم رعایت مقررات این سند، • عدم
          پایبندی به قوانین جمهوری اسلامی ایران، • محرز شدن استفاده شخص ثالث از
          حساب کاربری، • استفاده از حساب کاربری کانکتا برای ارتکاب جرم، • ارسال
          یا انتقال هرچیزی که حقوق معنوی مالک آن را نقض نماید، • اقدام در راستای
          ایجاد خلل در عملکرد کانکتا، سرورها، خدمات و شبکه‌های متصل به سایت و
          استفاده از برنامه‌های مخرب و جاسوسی.
        </p>
        <p>
          ۲- در کلیه موارد فوق، حق شرکت برای پیگیری قانونی تخلفات کاربر از مراجع
          ذیصلاح محفوظ است.
        </p>
        <p>
          3- در صورت مسدود شدن حساب کاربری، امکان ورود به حساب و دسترسی به
          پیام­ها، فایل­های آپلود شده و سایر اطلاعات برای کاربر وجود نخواهد
          داشت. 4- در صورت مسدود شدن حساب کاربری، امکان ایجاد حساب جدید و
          استفاده از خدمات کانکتا وجود نخواهد داشت.
        </p>
        <p>13) مالکیت معنوی</p>
        <p>
          1- صاحب حساب کاربری مالک و مسئول محتوای منتشر شده در کانکتا است و این
          اجازه را به کانکتا می­دهد تا از محتوای منتشر شده در سایت جهت تبلیغ
          خدمات خود استفاده نماید.
        </p>
        <p>
          2- محتوای نشر شده در سایت نباید ناقض حقوق دیگران بوده، باعث آزار افراد
          دیگر شده و مغایر با شئونات اخلاقی جامعه باشد. 3- در صورتی­که ثابت شود
          حق مالکیت معنوی فردی بر اساس محتوای منتشر شده توسط کاربران نقض شده
          کانکتا این امکان را دارد تا محتوای مذکور را از سایت حذف نماید.
        </p>
        <p>ماده 14) حریم خصوصی</p>
        <p>
          برای مشاهده شرایط حریم خصوصی لطفا به بخش مربوطه مراجعه فرمایید.
        </p>
        <p>ماده 15) حل و فصل اختلافات</p>
        <p>
          کلیه اختلافات و دعاوی ناشی از این سند (قرارداد) و یا راجع به آن از
          جمله انعقاد، اعتبار، فسخ، نقض، تفسیر یا اجرای آن در ابتدا از طریق صلح
          و سازش فصل خواهد شد. چنانچه اختلافات از این طریق حل‌وفصل نگردد، موضوع
          به مراجع قضایی ذیصلاح ارجاع می‌گردد.
        </p>
      </v-col>
    </v-col>
  </v-row>
</v-container>
