<v-container class="faq" fluid>
  <v-row>
    <v-col cols="12" class="text-center my-12">
      <h1>قوانین و مقررات</h1>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16">
      <v-tabs color="secondary">
        <v-tab>
          کارجو
        </v-tab>
        <v-tab>
          کارفرما
        </v-tab>
        <v-tab-item>
          <v-col cols="12">
            <p>
              شرکت کاوشگران ارتباط نوین یکتا (سهامی خاص) به شناسه ملی
              14006186500 (کانکتا) در این سند به بیان مقررات حریم خصوصی
              می‌پردازد. این سند با هدف بیان نحوه جمع‌آوری اطلاعات از کاربران
              (کارفرما و فریلنسر)، ذخیره سازی و محافظت این داده‌ها تنظیم شده
              است. کانکتا همواره متعهد است ضمن ارائه بالاترین کیفیت خدمات به
              کاربران، امنیت اطلاعات کاربران را در بالاترین سطح ممکن حفظ نماید و
              برای حفظ اعتماد شما بهترین تلاش ممکن خود را خواهد نمود.
            </p>
            <p>
              حفظ حریم خصوصی کلیه کاربران بخش جدایی‌ناپذیر از سیاست‌های کانکتا
              است. کلیه اطلاعات جمع آوری شده از کاربران حسب الزامات قانونی، مفاد
              این سند و اصول فنی و در راستای ارائه بهتر خدمات است.
            </p>
            <p>
              کانکتا مجاز و محق است که در مفاد این سند در هر زمان تغییراتی را به
              صورت کلی و یا جزئی اعمال نماید. بدیهی‌ست این تغییرات به اطلاع
              کاربران از طریق مقتضی خواهد رسید. در صورتی که پس از اطلاع رسانی،
              کاربران به استفاده خود از خدمات کانکتا ادامه دهند، این امر به
              منزله پذیرش کلیه تغییرات از سوی کاربران است.
            </p>
            <p>
              کاربران باید در راستای محافظت از اطلاعات، نکات ایمنی را رعایت
              نمایند. اگر رمز ورود به حساب کاربری در کانکتا افشا شده است، لطفاً
              فوراً نسبت به تغییر آن اقدام نمایید.
            </p>
          </v-col>
        </v-tab-item>
        <v-tab-item>
          <v-col cols="12">
            <p>
              شرکت کاوشگران ارتباط نوین یکتا (سهامی خاص) به شناسه ملی
              14006186500 (کانکتا) در این سند به بیان مقررات حریم خصوصی
              می‌پردازد. این سند با هدف بیان نحوه جمع‌آوری اطلاعات از کاربران
              (کارفرما و فریلنسر)، ذخیره سازی و محافظت این داده‌ها تنظیم شده
              است. کانکتا همواره متعهد است ضمن ارائه بالاترین کیفیت خدمات به
              کاربران، امنیت اطلاعات کاربران را در بالاترین سطح ممکن حفظ نماید و
              برای حفظ اعتماد شما بهترین تلاش ممکن خود را خواهد نمود.
            </p>
            <p>
              حفظ حریم خصوصی کلیه کاربران بخش جدایی‌ناپذیر از سیاست‌های کانکتا
              است. کلیه اطلاعات جمع آوری شده از کاربران حسب الزامات قانونی، مفاد
              این سند و اصول فنی و در راستای ارائه بهتر خدمات است.
            </p>
            <p>
              کانکتا مجاز و محق است که در مفاد این سند در هر زمان تغییراتی را به
              صورت کلی و یا جزئی اعمال نماید. بدیهی‌ست این تغییرات به اطلاع
              کاربران از طریق مقتضی خواهد رسید. در صورتی که پس از اطلاع رسانی،
              کاربران به استفاده خود از خدمات کانکتا ادامه دهند، این امر به
              منزله پذیرش کلیه تغییرات از سوی کاربران است.
            </p>
            <p>
              کاربران باید در راستای محافظت از اطلاعات، نکات ایمنی را رعایت
              نمایند. اگر رمز ورود به حساب کاربری در کانکتا افشا شده است، لطفاً
              فوراً نسبت به تغییر آن اقدام نمایید.
            </p>
          </v-col>
        </v-tab-item>
      </v-tabs>
    </v-col>
  </v-row>
</v-container>
