<v-dialog v-model="dialog" persistent max-width="600px">
  <template v-slot:activator="{ on, attrs }">
    <v-btn depressed text v-bind="attrs" v-on="on">
      بیشتر
      <v-icon class="mr-3">
        mdi-chevron-left
      </v-icon>
    </v-btn>
  </template>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-card
      class="d-flex flex-column justify-center align-center pb-10 send-jobOffer-freelancer"
    >
      <v-card-title class="col-12 d-flex justify-space-between">
        <div class="text-h6">جزئیات پیشنهاد</div>
        <v-btn depressed text fab @click="dialog = false">
          <v-icon>
            mdi-close
          </v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <v-container>
          <v-row>
            <v-col cols="12">
              <v-text-field
                label="نام و نام خانوادگی"
                disabled
                outlined
                dense
                v-model="proposalForm['name']"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="مدت زمان تحویل"
                disabled
                outlined
                dense
                v-model="proposalForm['project_duration_fa']"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="مبلغ پروژه"
                disabled
                outlined
                dense
                v-model="proposalForm['final_amount']"
              ></v-text-field>
            </v-col>
            <v-col cols="12">
              <v-text-field
                label="درخواست پیش پرداخت"
                disabled
                outlined
                dense
                :value="proposalForm.prepayment ? proposalForm.prepayment : 'مبلغ پیش پرداخت تعیین نشده است'"
                @input="proposalForm.prepayment = $event.target.value"
              ></v-text-field>
            </v-col>
            <v-col cols="12" class="proposal-detail-dialog">
              <v-textarea
                outlined
                dense
                label="توضیحات"
                v-model="proposalForm.content"
                color="red"
              ></v-textarea>
            </v-col>
            <v-col cols="12">
              <div class="employer-projects-card-title mt-8">
                  فایل‌های ضمیمه شده
              </div>
              <v-list>
                <v-list-item
                  v-for="(file, index) in proposalForm['attachments']"
                  :key="index"
                >
                  <v-list-item-content>
                    <v-list-item-title>
                      فایل شماره {{index + 1}}
                    </v-list-item-title>
                  </v-list-item-content>
                  <v-list-item-action>
                    <v-btn icon :href="file" target="_blank">
                      <v-icon small>mdi-arrow-down</v-icon>
                    </v-btn>
                  </v-list-item-action>
                </v-list-item>
              </v-list>
            </v-col>
          </v-row>
        </v-container>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
<!--        <v-btn-->
<!--          color="primary"-->
<!--          class="px-6"-->
<!--          outlined-->
<!--        >-->
<!--          گفتگو با فریلنسر-->
<!--        </v-btn>-->
        <v-btn color="error" @click="rejectProposal(3)">
          رد پیشنهاد
        </v-btn>
        <v-btn color="primary" @click="hireFreelancerByPrepayment()">
          تایید پیشنهاد
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-form>
</v-dialog>
