<div class="best-freelancer">
  <v-container>
    <v-row class="flex-column justify-center align-center text-center">
      <v-col cols="9">
        <div class="best-project-title">برترین <strong>فریلنسرها</strong></div>
      </v-col>
    </v-row>
    <v-row
      class="d-flex justify-center align-center my-15 mx-auto max-width-1140"
    >
      <v-col
        cols="11"
        md="2"
        sm="5"
        xs="11"
        class="best-freelancer-card d-flex flex-column pa-4 mx-2 my-sm-2"
        v-for="(freelancer, i) in bestFreelancerList"
        :key="i"
      >
        <div class="best-freelancer-card_image">
            <v-img :src="require(`../../assets/image/best-project/${freelancer.img}`)" />
        </div>
        <div class="best-freelancer-card_name mt-5">
          <v-icon class="px-1" color="primary" dense>mdi-check-decagram</v-icon
          >{{freelancer.name}}
        </div>
        <div class="best-freelancer-card_title mb-6">
            {{freelancer.title | readMore(25, "...")}}
        </div>
        <div class="best-freelancer-card_detail">
          <v-icon class="px-1" color="grey darken-3" dense
            >mdi-account-clock-outline</v-icon
          >{{freelancer.price}} تومان / ساعتی
        </div>
        <div class="best-freelancer-card_detail">
          <v-icon class="px-1" color="grey darken-3" dense
            >mdi-map-marker-outline</v-icon
          >{{freelancer.location}}
        </div>
        <div class="best-freelancer-card_detail">
          <v-icon class="px-1" color="grey darken-3" dense
            >mdi-cards-heart</v-icon
          >افزودن به علاقمندی ها
        </div>
        <div class="best-freelancer-card_detail">
          <v-icon class="px-1" color="yellow darken-1" dense>mdi-star</v-icon
          >۵/۵
        </div>
      </v-col>
    </v-row>
  </v-container>
</div>
