<div>
  <v-form ref="newForm" v-model="valid" lazy-validation>
    <v-row justify="center">
      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
        v-if="dataForDialogForm.type === 'experience'"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary open-dialog" text dark v-bind="attrs" v-on="on">
            + {{ dataForDialogForm.titleButton }}
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="justify-center">
            <span class="text-h6 text--secondary font-weight-regular">
              {{ dataForDialogForm.titleButton }}
            </span>
          </v-card-title>

          <v-card-text class="d-flex flex-wrap justify-space-around">
            <div
              v-for="(dialogFormField, index) in dataForDialogForm.formField"
              :key="dialogFormField.label"
              :class="dialogFormField.class"
            >
              <v-text-field
                v-if="dialogFormField.type === 'text-field' && dialogFormField.label === 'عنوان'"
                :label="dialogFormField.label"
                v-model="experienceForm.name"
                :rules="experienceFormRule.name"
                required
                outlined
                dense
              ></v-text-field>
              <v-text-field
                v-if="dialogFormField.type === 'text-field' && dialogFormField.label !== 'عنوان'"
                :label="dialogFormField.label"
                v-model="experienceForm.companyName"
                :rules="experienceFormRule.companyName"
                required
                outlined
                dense
              ></v-text-field>
              <v-menu
                v-if="dialogFormField.type === 'date-picker-from'"
                v-model="expStart"
                :close-on-content-click="false"
                offset-y
                outlined
                dense
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :label="dialogFormField.label"
                    prepend-icon="mdi-calendar"
                    v-on:click:prepend="expStart=true"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    outlined
                    dense
                    :rules="experienceFormRule.experienceStart"
                    :value="experienceForm.experienceStart | changeDate"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="experienceForm.experienceStart"
                  no-title
                  scrollable
                  outlined
                  dense
                  @input="expStart = false"
                >
                </v-date-picker>
              </v-menu>

              <v-menu
                v-if="dialogFormField.type === 'date-picker-to'"
                v-model="expEnd"
                :close-on-content-click="false"
                offset-y
                outlined
                dense
                min-width="290px"
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :label="dialogFormField.label"
                    prepend-icon="mdi-calendar"
                    v-on:click:prepend="expEnd=true"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    outlined
                    dense
                    :rules="experienceFormRule.experienceEnd"
                    :value="experienceForm.experienceEnd | changeDate"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="experienceForm.experienceEnd"
                  no-title
                  scrollable
                  outlined
                  dense
                  @input="expEnd = false"
                  :allowed-dates="getAllowedDates"
                >
                </v-date-picker>
              </v-menu>
              <v-file-input
                v-if="dialogFormField.type === 'file-input'"
                v-model="files"
                outlined
                color="deep-purple accent-4"
                counter
                :label="dialogFormField.label"
                multiple
                :placeholder="dialogFormField.label"
                prepend-icon="mdi-paperclip"
                :show-size="1000"
                dense
              >
                <template v-slot:selection="{ index, text }">
                  <v-chip
                    v-if="index < 3"
                    color="red accent-4"
                    dark
                    label
                    small
                  >
                    {{ text }}
                  </v-chip>

                  <span
                    v-else-if="index === 3"
                    class="text-overline grey--text text--darken-3 mx-2"
                  >
                    +{{ files.length - 3 }} File(s)
                  </span>
                </template>
              </v-file-input>
              <v-textarea
                v-if="dialogFormField.type === 'text-area'"
                outlined
                :label="dialogFormField.label"
                class="col-12"
                dense
              ></v-textarea>
            </div>
            <!--            <small>*indicates required field</small>-->
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error darken-1" text @click="validate">
              بستن
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click.prevent="handleDataForm(dataForDialogForm.type)"
            >
              تایید اطلاعات
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
        v-if="dataForDialogForm.type === 'education'"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary open-dialog" text dark v-bind="attrs" v-on="on">
            + {{ dataForDialogForm.titleButton }}
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="justify-center">
            <span class="text-h6 text--secondary font-weight-regular">
              {{ dataForDialogForm.titleButton }}
            </span>
          </v-card-title>

          <v-card-text class="d-flex flex-wrap justify-space-around">
            <div
              v-for="(dialogFormField, index) in dataForDialogForm.formField"
              :key="dialogFormField.label"
              :class="dialogFormField.class"
            >
              <v-text-field
                v-if="dialogFormField.type === 'text-field' && dialogFormField.label === 'عنوان مدرک تحصیلی'"
                :label="dialogFormField.label"
                v-model="educationForm.educationLevel"
                :rules="educationFormRule.name"
                required
                outlined
                dense
              ></v-text-field>
              <v-text-field
                v-if="dialogFormField.type === 'text-field' && dialogFormField.label === 'نام دانشگاه یا موسسه'"
                :label="dialogFormField.label"
                v-model="educationForm.educationLocation"
                :rules="educationFormRule.educationLocation"
                required
                outlined
                dense
              ></v-text-field>
              <v-menu
                v-if="dialogFormField.type === 'date-picker-from'"
                v-model="start"
                :close-on-content-click="false"
                offset-y
                min-width="290px"
                outlined
                dense
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :value="educationForm.educationStart | changeDate"
                    :rules="educationFormRule.educationStart"
                    :label="dialogFormField.label"
                    prepend-icon="mdi-calendar"
                    v-on:click:prepend="start=true"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    outlined
                    dense
                  ></v-text-field>
                </template>
                <v-date-picker
                  no-title
                  scrollable
                  @input="start = false"
                  outlined
                  dense
                  v-model="educationForm.educationStart"
                >
                </v-date-picker>
              </v-menu>

              <v-menu
                v-if="dialogFormField.type === 'date-picker-to'"
                v-model="end"
                :close-on-content-click="false"
                offset-y
                min-width="290px"
                outlined
                dense
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :label="dialogFormField.label"
                    prepend-icon="mdi-calendar"
                    v-on:click:prepend="end=true"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    outlined
                    dense
                    :value="educationForm.educationEnd | changeDate"
                    :rules="educationFormRule.educationEnd"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="educationForm.educationEnd"
                  no-title
                  scrollable
                  outlined
                  dense
                  @input="end = false"
                  :allowed-dates="getAllowedDatesEducation"
                >
                </v-date-picker>
              </v-menu>
            </div>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error darken-1" text @click="validate">
              بستن
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click.prevent="handleDataForm(dataForDialogForm.type)"
            >
              تایید اطلاعات
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
        v-if="dataForDialogForm.type === 'projects'"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary open-dialog" text dark v-bind="attrs" v-on="on">
            + {{ dataForDialogForm.titleButton }}
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="justify-center">
            <span class="text-h6 text--secondary font-weight-regular">
              {{ dataForDialogForm.titleButton }}
            </span>
          </v-card-title>

          <v-card-text class="d-flex flex-wrap justify-space-around">
            <div
              v-for="(dialogFormField, index) in dataForDialogForm.formField"
              :key="dialogFormField.label"
              :class="dialogFormField.class"
            >
              <v-text-field
                v-if="dialogFormField.type === 'text-field' && dialogFormField.label === 'عنوان پروژه'"
                :label="dialogFormField.label"
                v-model="projectsForm.title"
                :rules="projectRule.name"
                required
                outlined
                dense
              ></v-text-field>
              <v-text-field
                v-if="dialogFormField.type === 'text-field' && dialogFormField.label === 'وارد نمودن URL'"
                :label="dialogFormField.label"
                v-model="projectsForm.url"
                :rules="projectRule.url"
                required
                outlined
                dense
              ></v-text-field>
            </div>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error darken-1" text @click="validate">
              بستن
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click.prevent="handleDataForm(dataForDialogForm.type)"
            >
              تایید اطلاعات
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-dialog
        v-model="dialog"
        persistent
        max-width="600px"
        v-if="dataForDialogForm.type === 'award'"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-btn color="primary open-dialog" text dark v-bind="attrs" v-on="on">
            + {{ dataForDialogForm.titleButton }}
          </v-btn>
        </template>
        <v-card>
          <v-card-title class="justify-center">
            <span class="text-h6 text--secondary font-weight-regular">
              {{ dataForDialogForm.titleButton }}
            </span>
          </v-card-title>

          <v-card-text class="d-flex flex-wrap justify-space-around">
            <div
              v-for="(dialogFormField, index) in dataForDialogForm.formField"
              :key="dialogFormField.label"
              :class="dialogFormField.class"
            >
              <v-text-field
                v-if="dialogFormField.type === 'text-field' && dialogFormField.label === 'عنوان دستاورد'"
                :label="dialogFormField.label"
                v-model="awardForm.title"
                :rules="awardFormRule.name"
                required
                outlined
                dense
              ></v-text-field>
              <v-menu
                v-if="dialogFormField.type === 'date-picker-to'"
                v-model="start"
                :close-on-content-click="false"
                offset-y
                min-width="290px"
                outlined
                dense
              >
                <template v-slot:activator="{ on, attrs }">
                  <v-text-field
                    :label="dialogFormField.label"
                    prepend-icon="mdi-calendar"
                    v-on:click:prepend="start=true"
                    readonly
                    v-bind="attrs"
                    v-on="on"
                    outlined
                    dense
                    :value="awardForm.achieved_date | changeDate"
                    :rules="awardFormRule.achieved_date"
                  ></v-text-field>
                </template>
                <v-date-picker
                  v-model="awardForm.achieved_date"
                  no-title
                  scrollable
                  @input="start = false"
                  outlined
                  dense
                >
                </v-date-picker>
              </v-menu>
              <!--              <v-file-input-->
              <!--                v-if="dialogFormField.type === 'file-input'"-->
              <!--                v-model="awardForm.attachment_id"-->
              <!--                color="deep-purple accent-4"-->
              <!--                counter-->
              <!--                :label="dialogFormField.label"-->
              <!--                multiple-->
              <!--                :placeholder="dialogFormField.label"-->
              <!--                prepend-icon="mdi-paperclip"-->
              <!--                :show-size="1000"-->
              <!--                dense-->
              <!--              >-->
              <!--                <template v-slot:selection="{ index, text }">-->
              <!--                  <v-chip-->
              <!--                    v-if="index < 3"-->
              <!--                    color="red accent-4"-->
              <!--                    dark-->
              <!--                    label-->
              <!--                    small-->
              <!--                  >-->
              <!--                    {{ text }}-->
              <!--                  </v-chip>-->

              <!--                  <span-->
              <!--                    v-else-if="index === 3"-->
              <!--                    class="text-overline grey&#45;&#45;text text&#45;&#45;darken-3 mx-2"-->
              <!--                  >-->
              <!--                    +{{ files.length - 3 }} File(s)-->
              <!--                  </span>-->
              <!--                </template>-->
              <!--              </v-file-input>-->
            </div>
          </v-card-text>

          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="error darken-1" text @click="validate">
              بستن
            </v-btn>
            <v-btn
              color="blue darken-1"
              text
              @click.prevent="handleDataForm(dataForDialogForm.type)"
            >
              تایید اطلاعات
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-row>
  </v-form>
</div>
