<dashboard-card title-card="مدیریت کاربران">
    <table-dashboard :headersUserManagement="headersUserManagement" :dataUserManagement="dataUserManagement"></table-dashboard>

    <v-file-input
            v-model="files"
            placeholder="Upload your documents"
            label="File input"
            multiple
            prepend-icon="mdi-paperclip"
            @change="aa"
    >
        <template v-slot:selection="{ text }">
            <v-chip
                    small
                    label
                    color="primary"
            >
                {{ text }}
            </v-chip>
            <img :src="ss" alt="">
        </template>
    </v-file-input>
</dashboard-card>
