<v-container>
  <v-row>
    <v-col cols="12" v-for="projectList in projectListItems" :key="projectList.name">
      <div class="container--fluid d-lg-flex d-md-block project-row">
        <div class="col-lg-6 col-md-12">
          <div>
            <span
              ><v-icon color="green darken-2">mdi-check-circle</v-icon>
              {{ projectList.name }}
            </span>
          </div>
          <div>{{projectList.title}}</div>
          <div>
            <div class="container mar-b-48">
              <div
                class="row justify-content-center align-items-center text-white text-center rtl custom-border"
              >
                <div class="col col-md-2">
                  <figure>
                    <figcaption>
                      {{ projectList.amount }}
                    </figcaption>
                  </figure>
                </div>
                <div class="col col-md-2">
                  <figure>
                    <figcaption>
                      {{ projectList.country }}
                    </figcaption>
                  </figure>
                </div>
                <div class="col-3 d-md-block">
                  <figure>
                    <figcaption>
                      <span
                        ><v-icon color="red darken-2"
                          >mdi-bulletin-board</v-icon
                        >
                        Type Fixed
                      </span>
                    </figcaption>
                  </figure>
                </div>
                <div class="col-5 d-md-block">
                  <figure>
                    <figcaption>
                      <span
                        ><v-icon color="blue darken-2">mdi-timetable</v-icon
                        >Duration: {{ projectList.time }}</span
                      >
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex">
          <div class="row justify-space-around align-center">
            <div v-if="simpleDialogData" class="d-flex align-center">
              <v-btn depressed color="error" @click="redirectToEditJob()">
                ویرایش پروژه
              </v-btn>
              <div>
                <dialog-dashboard
                  class="mr-2 ml-2"
                  :simpleDialogData="simpleDialogData"
                  :title="'حذف پروژه'"
                ></dialog-dashboard>
              </div>
            </div>
            <div class="expired">{{projectList.expirationStatus}}</div>
          </div>
        </div>
      </div>
    </v-col>
  </v-row>
</v-container>
