<v-container>
  <v-row>
    <v-col cols="12" v-for="projectList in showProjects" :key="projectList.id">
      <div class="container--fluid d-lg-flex d-md-block project-row">
        <div class="col-lg-6 col-md-12">
          <div>
            <span
              ><v-icon color="primary">mdi-check-circle</v-icon>
              {{ projectList.name }}
            </span>
          </div>
          <div class="font-weight-medium">{{projectList.title}}</div>
          <div>
            <div class="container mar-b-48">
              <div
                class="row justify-content-center align-items-center text-white text-center rtl custom-border"
              >
                <div class="col-3 d-flex align-center justify-center">
                  <figure>
                    <figcaption>
                      {{ projectList.amount}}
                    </figcaption>
                  </figure>
                </div>
                <v-divider class="divide" vertical></v-divider>
                <div class="col-5 d-md-block">
                  <figure>
                    <figcaption>
                      <span
                        ><v-icon color="blue darken-2">mdi-timetable</v-icon
                        >Duration: {{ projectList.time }}</span
                      >
                    </figcaption>
                  </figure>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex">
          <div class="row justify-space-around align-center">
            <div v-if="simpleDialogData" class="d-flex align-center">
              <v-btn depressed color="error" @click="redirectToEditJob()">
                ویرایش پروژه
              </v-btn>
              <div>page
                <dialog-dashboard
                  class="mr-2 ml-2"
                  :simpleDialogData="simpleDialogData"
                  :title="'حذف پروژه'"
                ></dialog-dashboard>
              </div>
            </div>
            <div class="expired">
              {{$t(`form.${projectList.expirationStatus}`)}}
            </div>
          </div>
        </div>
      </div>
    </v-col>
<!--    <div class="col-12 text-center pt-2">-->
<!--      <v-pagination-->
<!--        color="primary"-->
<!--        :length="totalPage"-->
<!--        :value="page"-->
<!--        @input="changePage($event)"-->
<!--      ></v-pagination>-->
<!--    </div>-->
  </v-row>
</v-container>
