@import "src/assets/styles/variable";
.employer-projects {
  &-card {
    height: 280px;
    background-color: $surface-100;
    border-radius: 6px;
    box-shadow: 2px 2px 38px -25px rgba(0, 0, 0, 0.72);
    transition: all 300ms;
    &:hover {
      box-shadow: 12px 12px 45px -16px rgb(0 0 0 / 72%);
    }
    .divide-card {
      margin: 0;
    }
    &-name {
      font-size: 14px;
      color: $surface-600;
    }
    &-title {
      font-size: 16px;
      font-weight: 400;
    }
    &-description {
      font-size: 14px;
      color: $surface-200;
      margin-top: 12px;
    }
    &-right {
      width: 65%;
      background-color: #fdfcf2;
      border-radius: 8px;
      button {
        border: 1px solid #ddd;
        font-size: 15px;
        color: $surface-200;
        border-radius: 20px;
        padding: 4px 18px;
        transition: all 300ms ease-in-out;

        &:hover {
          background-color: $primary;
          color: $surface-100;
        }
      }
    }
    &-left {
      width: 35%;
      justify-content: space-evenly;
      font-size: 13px;
    }
  }
}
