<section class="employer-projects">
  <v-container>
    <v-row class="justify-center mt-2">
      <v-col cols="11" class="d-flex employer-projects-card pa-0">
        <div class="employer-projects-card-right pa-5">
          <div class="employer-projects-card-name">
            <v-icon dense color="primary">
              mdi-check-circle
            </v-icon>
            محمد حسینی
          </div>
          <div class="employer-projects-card-title">
            توسعه دهنده فرانت
          </div>
          <div class="employer-projects-card-description">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لورم
            ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ لورم ایپسوم متن
            ساختگی با تولید سادگی نامفهوم از صنعت چاپ لورم ایپسوم متن ساختگی با
            تولید سادگی نامفهوم از صنعت چاپ لورم ایپسوم متن ساختگی با تولید
            سادگی نامفهوم از صنعت چاپ...
          </div>
          <div class="mt-8">
            <v-btn rounded small color="primary" class="ml-2">
              HTML
            </v-btn>
              <v-btn rounded small color="primary" class="ml-2">
                  CSS
              </v-btn>
              <v-btn rounded small color="primary" class="ml-2">
                 Vue js
              </v-btn>
          </div>
        </div>
        <v-divider class="divide-card" vertical></v-divider>
        <div class="employer-projects-card-left pa-5">vsdvsdv</div>
      </v-col>
    </v-row>
  </v-container>
</section>
