<v-container class="side-filter">
  <v-row class="mt-2">
    <v-col cols="12" class="side-info-card mr-3">
      <div class="d-flex side-info-card-budget">
        <div class="side-info-card-budget-price pa-5 text-center">
          <div>
            {{ projectDetailsById.price | roundNumber |thousandMask }} تومان
          </div>
          <div>بودجه پروژه</div>
        </div>
        <v-divider class="divide-card-vertical my-4" vertical></v-divider>
        <div class="text-center pt-3 side-info-card-budget-icon">
          <v-icon color="yellow darken-2">
            mdi-chevron-double-down
          </v-icon>
          <br />
          <v-icon x-large color="yellow darken-2">
            mdi-cash-multiple
          </v-icon>
        </div>
      </div>
      <v-divider class="divide-card"></v-divider>
      <div class="d-flex side-info-card-budget">
        <div class="side-info-card-budget-price pa-5 text-center">
          <div>{{projectDetailsById['number_of_proposals']}}</div>
          <div>پروپوزال دریافتی تا ۱۴۰۰/۰۵/۳۰</div>
        </div>
        <v-divider class="divide-card-vertical my-4" vertical></v-divider>
        <div class="text-center pt-3 side-info-card-budget-icon">
          <v-icon color="yellow darken-2">
            mdi-chevron-double-down
          </v-icon>
          <br />
          <v-icon x-large color="yellow darken-2">
            mdi-newspaper-variant-multiple
          </v-icon>
        </div>
      </div>
      <v-divider class="divide-card"></v-divider>
      <div class="side-info-card-budget mb-7">
        <div class="pt-4 pb-2 text-center">
          <div class="project-id">شناسه پروژه: {{ projectDetailsById.id }}</div>
        </div>
        <div class="d-flex align-center justify-center">
          <v-btn class="ma-2" outlined x-large color="primary">
            کلیک بر روی ذخیره
            <v-icon dense class="mx-2">
              mdi-heart-outline
            </v-icon>
          </v-btn>
        </div>
      </div>
    </v-col>
<!--    <v-col cols="12" class="side-info-card mt-8 mr-3">-->
<!--      <strong>اشتراک این پروژه</strong>-->
<!--      <v-divider class="divide-card"></v-divider>-->
<!--      <v-list dense flat class="share-project">-->
<!--        <v-list-item-group color="primary">-->
<!--          <v-list-item v-for="(item, i) in items" :key="i">-->
<!--            <v-list-item-icon>-->
<!--              <v-icon v-text="item.icon" :color="item.color"></v-icon>-->
<!--            </v-list-item-icon>-->
<!--            <v-list-item-content>-->
<!--              <v-list-item-title-->
<!--                v-text="item.text"-->
<!--                :style="{color: item.color}"-->
<!--              ></v-list-item-title>-->
<!--            </v-list-item-content>-->
<!--          </v-list-item>-->
<!--        </v-list-item-group>-->
<!--      </v-list>-->
<!--    </v-col>-->
<!--    <v-col cols="12" class="side-info-card mt-8 mr-3">-->
<!--      <strong>گزارش این پروژه</strong>-->
<!--      <v-divider class="divide-card"></v-divider>-->
<!--      <v-select-->
<!--        v-model="selectReport"-->
<!--        :items="checkboxLabel"-->
<!--        item-text="title"-->
<!--        item-value="id"-->
<!--        label="انتخاب دلایل"-->
<!--        required-->
<!--        outlined-->
<!--        class="mt-8"-->
<!--        dense-->
<!--      ></v-select>-->
<!--      <v-textarea-->
<!--        outlined-->
<!--        label="توضیحات"-->
<!--        value="توضیحات خود را وارد کنید..."-->
<!--      ></v-textarea>-->
<!--      <v-btn class="ma-2 mx-auto" large block color="primary">-->
<!--        کلیک بر روی ذخیره-->
<!--      </v-btn>-->
<!--    </v-col>-->
  </v-row>
</v-container>
