<div class="best-freelancer new-article">
  <v-container class="pl-0">
    <v-row
      class="d-flex flex-column justify-start align-center text-center"
      no-gutters
    >
      <v-col cols="9">
        <div class="best-project-title">
          جدیدترین <strong>مقالات در وبلاگ کانکتا</strong>
        </div>
        <!--        <div class="mt-5 text-font">-->
        <!--          لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده-->
        <!--          از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله-->
        <!--        </div>-->
      </v-col>
    </v-row>
    <v-row
      :class="`d-flex justify-start align-center mx-auto mt-15 max-width-1140`"
    >
      <v-col
        cols="11"
        md="2"
        sm="5"
        xs="11"
        :class="`best-freelancer-card width_31 d-flex flex-column mx-2 my-sm-2 pa-0 pb-4`"
        v-for="(article, index) in posts"
        :key="index"
      >
        <div class="d-flex justify-center">
          <div class="detail-container">
            <v-img
              max-height="200"
              :src="`${article['_embedded']['wp:featuredmedia'][0]['source_url']}`"
            />
            <div class="best-freelancer-card_name px-2 mt-6 mb-2">
              <v-icon class="px-1" color="primary" dense
                >mdi-check-decagram</v-icon
              >
              دسته‌بندی پروژه:
              <span v-for="cat in article.categories">{{cat}}</span>
            </div>
            <div
              class="best-freelancer-card_title px-4"
              @click="goToArticlePage(article.guid)"
            >
              {{article.title['rendered'] | readMore(35, "...")}}
            </div>
            <div
              class="mb-6 px-4 text-justify"
              @click="goToArticlePage(article.guid)"
              v-html="jsonMethod(article.excerpt['rendered'])"
            ></div>
          </div>
        </div>
        <!--        <v-divider v-if="isService" class="divide-card"></v-divider>-->
        <!--        <div class="best-freelancer-card_detail px-4">-->
        <!--          <v-icon class="px-1" color="grey lighten-1" dense-->
        <!--            >mdi-calendar-month</v-icon-->
        <!--          >{{ article.date }} - {{ article.time }}-->
        <!--        </div>-->
      </v-col>
    </v-row>
  </v-container>
</div>
