<v-file-input
        v-model="files"
        placeholder="بارگزاری تصویر"
        label="تصویر بارگزاری شده"
        multiple
        accept="image/*"
        prepend-icon="mdi-paperclip"
        @change="uploadImage()"
        solo
        class="col-md-4 col-sm-6 col-xs-12"

>
    <template v-slot:selection="{ text }">
<!--        <v-chip-->
<!--                small-->
<!--                label-->
<!--                color="primary"-->
<!--        >-->
<!--            {{ text }}-->
<!--        </v-chip>-->
        <img :src="imageUrl" alt="">
    </template>


</v-file-input>
