@import "src/assets/styles/variable";

section {
  min-width: 300px;
  img {
    width: 100%;
    height: auto;
    max-height: 200px;
    max-width: 400px;
    object-fit: cover;
    border: 4px dashed $surface-700;
  }
}
