@import "src/assets/styles/variable";
.header-section {
  div {
    height: 40px;
    background-color: $surface-150;
    border-right: 4px solid $danger-300;
    line-height: 40px;
    font-size: 16px;
    font-weight: 400;
  }
}
