<dashboard-card :titleCard="$t('sidebar.profileSettings')">
  <v-form ref="form" v-model="valid" lazy-validation>
    <header-section
      :header-section-title="$t('form.IndividualAndSkillDetails')"
    ></header-section>
    <v-row v-if="profileForm.isCompany === 0">
      <v-col lg="6" md="12">
        <v-text-field
          v-model="profileForm.firstName"
          :label="$t('form.firstname')"
          :rules="profileRule.firstnameRules"
          required
          outlined
        ></v-text-field>
      </v-col>
      <v-col lg="6" md="12">
        <v-text-field
          v-model="profileForm.lastName"
          :label="$t('form.lastname')"
          :rules="profileRule.lastnameRules"
          required
          outlined
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row v-if="profileForm.isCompany === 1">
      <v-col lg="6" md="12">
        <v-text-field
          v-model="companyName"
          :label="$t('form.companyName')"
          :rules="profileRule.firstnameRules"
          required
          outlined
        ></v-text-field>
      </v-col>
      <v-col lg="6" md="12">
        <v-text-field
          :label="$t('form.companyNumber')"
          value=""
          required
          outlined
        ></v-text-field>
      </v-col>
    </v-row>
    <v-row>
      <v-col lg="6" md="12">
        <v-select
          v-model="profileForm.categoryId"
          :items="companyTypeLists"
          item-text="title"
          item-value="id"
          :label="$t('form.categories')"
          required
          outlined
        ></v-select>
      </v-col>
      <v-col lg="6" md="12">
        <v-select
          v-model="profileForm.noOfEmployees"
          :items="companyCriteriaItems"
          item-text="name"
          item-value="max_value"
          :label="$t('form.noOfEmployees')"
          required
          outlined
        ></v-select>
      </v-col>
    </v-row>
    <v-row>
      <v-col md="12">
        <v-textarea
          v-model="profileForm.description"
          :rules="profileRule.description"
          outlined
          name="input-7-4"
          :label="$t('form.description')"
        ></v-textarea>
      </v-col>
    </v-row>
    <header-section
      :header-section-title="$t('form.profileImage')"
    ></header-section>
    <v-row>
      <v-col>
        <file-input-dashboard
          :status="'avatar'"
          @clicked="getFileId"
          v-if="profileImage"
          :imageProfile="profileImage.profile.avatar"
        >
        </file-input-dashboard>
      </v-col>
    </v-row>

<!--    <header-section-->
<!--      :header-section-title="$t('form.bannerImage')"-->
<!--    ></header-section>-->
<!--    <v-row>-->
<!--      <v-col lg="4" md="12">-->
<!--        <file-input-dashboard-->
<!--          :status="'banner'"-->
<!--          @clicked="getFileId"-->
<!--          v-if="profileImage"-->
<!--          :imageProfile="profileImage.profile.banner"-->
<!--        ></file-input-dashboard>-->
<!--      </v-col>-->
<!--    </v-row>-->
    <v-row class="my-10">
      <v-col lg="6" md="12">
        <v-btn color="error" @click="updateProfile">
          {{ $t("actions.save&update") }}
        </v-btn>
      </v-col>
    </v-row>
    <v-row>
      <snackbar
        :snackbarMessage="snackbarMessage"
        :showSnackbar="showSnackbar"
        @hideSnackbar="hideSnackbar"
      ></snackbar>
    </v-row>
  </v-form>
</dashboard-card>
