<dashboard-card :titleCard="$t('sidebar.cancelledServices')">
  <div class="table-dashboard temporary-table">
    <v-data-table
      :headers="headersUserManagement"
      :items="dataUserManagement"
      :page.sync="page"
      :items-per-page="itemsPerPage"
      hide-default-footer
      class="elevation-1"
      @page-count="pageCount = $event"
      item-key="name"
      :show-select="showSelect"
    >
      <template v-slot:item.actions="{ item , on, attrs }">
        <v-btn class="ma-2" dark small color="primary" v-bind="attrs" v-on="on">
          مشاهده خدمات نهایی
        </v-btn>
      </template>
      <template v-slot:item.icon="{ item }">
        <v-img
          max-height="40"
          max-width="40"
          :src="item.icon"
          class="ma-auto"
        ></v-img>
      </template>
      <template v-slot:item.title="{ item }">
        <div class="d-flex justify-center align-center service-table">
          <div>
            <img :src="item.title.src" alt="" />
          </div>
          <div class="d-flex flex-column align-start px-4">
            <v-btn class="white--text" color="error" depressed small>
              featured
            </v-btn>
            <div class="m-0 my-1 service-table-title">{{item.title.title}}</div>
            <div class="m-0">
              قیمت نهایی: <strong>{{item.title.price}}</strong>
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.description="{ item }">
        <div class="d-flex justify-center align-center service-table">
          <div class="d-flex flex-column align-start px-4">
            <div class="m-0">
              {{item.description | readMore(15, '...')}}
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.updated_at="{ item }">
        <div class="d-flex justify-center align-center service-table">
          <div class="d-flex flex-column align-start px-4">
            <div class="m-0">
              {{item['updated_at'] | changeDate() }}
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.serviceStatus="{ item }" class="service-status">
        <v-select
          :items="item.serviceStatus"
          append-outer-icon="mdi-check-underline-circle"
          menu-props="auto"
          hide-details
          label="انتخاب وضعیت"
          single-line
          solo
          class="col-md-8 my-5"
        ></v-select>
      </template>
    </v-data-table>
    <div class="text-center pt-2">
      <v-pagination
        v-model="page"
        :length="pageCount"
        color="red"
      ></v-pagination>
    </div>
  </div>
</dashboard-card>
