<dashboard-card :titleCard="$t('sidebar.myProjects')">
  <div class="table-dashboard temporary-table">
    <v-data-table
      :headers="headersUserManagement"
      :items="dataUserManagement"
      :page.sync="page"
      hide-default-footer
      class="elevation-1"
      @page-count="pageCount = $event"
      item-key="name"
      :show-select="showSelect"
    >
      <template v-slot:item.action="{ item , on, attrs }">
        <v-btn class="ma-2" dark small color="primary" v-bind="attrs" v-on="on">
          مشاهده خدمات نهایی
        </v-btn>
      </template>
      <template v-slot:item.numOfJobOffer="{ item }">
        <div class="d-flex justify-center align-center service-table">
          <div class="d-flex flex-column align-start px-4">
            <div class="m-0">
              {{item['number_of_proposals']}}
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.title="{ item }" class="text-right">
        <div class="d-flex align-center service-table text-right">
          <!--          <div>-->
          <!--            <img :src="item.title.src" alt="" />-->
          <!--          </div>-->
          <div class="d-flex flex-column align-start px-4">
            <!--            <v-btn class="white&#45;&#45;text" color="error" depressed small>-->
            <!--              featured-->
            <!--            </v-btn>-->
            <div class="m-0 my-1 service-table-title">{{item.title}}</div>
            <div class="m-0">
              قیمت به ریال از: <strong>{{item.price | thousandMask}}</strong>
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.description="{ item }">
        <div class="d-flex justify-center align-center service-table">
          <div class="d-flex flex-column align-start px-4">
            <div class="m-0">
              {{item.description | readMore(15, '...')}}
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.createAt="{ item }">
        <div class="d-flex justify-center align-center service-table">
          <div class="d-flex flex-column align-start px-4">
            <div class="m-0">
              {{item['created_at'] }}
            </div>
          </div>
        </div>
      </template>
      <template v-slot:item.status="{ item }" class="service-status">
        <div class="d-flex justify-center align-center service-table">
          <div class="d-flex flex-column align-start px-4">
            <div class="m-0">
              {{item.status | myProjectStatus}}
            </div>
          </div>
        </div>
      </template>
    </v-data-table>
    <div class="col-12 text-center pt-2" v-if="dataUserManagement >= 1">
      <v-pagination
        v-model="paginationData['current_page']"
        :length="paginationData['last_page']"
        @input="changePage($event)"
        :total-visible="paginationData.total"
      ></v-pagination>
    </div>
  </div>
</dashboard-card>
