<section class="freelancer-profile mt-8">
  <v-container id="container">
    <v-row >
      <v-col cols="12" md="3" id="left">Left</v-col>
      <v-col cols="12" md="8" id="right">
            dsafasfadf dsafdsfasdf asfasdf adfasdf dsafasfadf dsafasfadf
            dsafdsfasdf asfasdf adfasdf dsafasfadf dsafasfadf dsafdsfasdf
            asfasdf adfasdf dsafasfadf dsafdsfasdf asfasdf adfasdf dsafasfadf
            dsafdsfasdf asfasdf adfasdf dsafasfadf dsafdsfasdf asfasdf adfasdf
            dsafasfadf dsafdsfasdf asfasdf adfasdf dsafasfadf dsafdsfasdf
            asfasdf adfasdf dsafasfadf dsafdsfasdf asfasdf adfasdf dsafasfadf
            dsafdsfasdf asfasdf adfasdf dsafasfadf dsafdsfasdf asfasdf adfasdf
            dsafasfadf dsafdsfasdf asfasdf adfasdf
      </v-col>
    </v-row>
  </v-container>
</section>
