<section class="freelancer-profile mt-8">
  <v-container id="container">
    <v-row class="justify-space-around">
      <v-col
        lg="3"
        md="3"
        id="left"
        class="d-flex flex-column align-center pt-12 px-10"
      >
        <!--          :style="{'position': scrollHeight >= 1100 ? 'absolute': 'fixed'}"-->
        <div class="d-flex">
          <div>
            <img
              style="width: 60px;height: 60px;border-radius: 50%"
              :src="profileSidebar.avatar !== null ? profileSidebar.avatar : require('../../../assets/image/profile.jpg')"
              alt=""
            />
          </div>

          <div class="mr-4">
            <div>
              {{ profileSidebar.first_name + ' ' + profileSidebar.last_name }}
            </div>
            <div>{{ profileSidebar.category }}</div>
            <div>
              <v-rating
                v-model="profileSidebar['stars']"
                background-color="gray"
                color="primary"
                small
                readonly
              ></v-rating>
            </div>
          </div>
        </div>
        <div class="my-5" style="color: #7e7e7f; font-size: 14px">
          <span v-if="profileSidebar.description !== null">
            {{profileSidebar.description}}
          </span>
          <span v-else>تاکنون توضیحاتی برای این فرد ثبت نشده است.</span>
        </div>
        <div
          class="pa-4 mb-5"
          style="background-color: rgba(232,232,232,0.61); width: 100%; border-radius: 8px;color: #0a3d62"
        >
          <span class="font-weight-bold" style="font-size: 22px">
            {{ profileSidebar['completed_projects'] }}
          </span>
          <br />
          <span class="d-block" style="font-size: 14px;margin-top: -7px;">
            پروژه موفق در کانکتا
          </span>
        </div>
        <div style="width: 100%;">
          <h4 class="mb-2">مهارت‌ها</h4>
          <div>
            <v-chip
              class="ml-1 mb-2 font-weight-bold"
              label
              color="#e6eef1"
              v-for="(skill, index) in profileSidebar.skills"
              :key="index"
            >
              <v-icon left color="secondary">
                mdi-pound
              </v-icon>
              <span style="color: #0a3d62;">{{ skill }}</span>
            </v-chip>
            <span
              v-if="profileSidebar.skills && profileSidebar.skills.length === 0"
              style="color: #7e7e7f; font-size: 14px"
            >
              تاکنون مهارتی برای این فرد ثبت نشده است.
            </span>
          </div>
        </div>
      </v-col>
      <v-col cols="12" lg="7" md="8" id="right">
        <h3 class="mb-2">پروژه‌ها</h3>
        <div class="project-cards mb-10">
          <div
            class="project-card"
            v-for="(project, index) in profileProjects"
            :key="index"
          >
            <div>
              <img
                style="width: 100%;height: 100%;border-radius: 8px"
                src="../../../assets/image/pic.jpg"
                alt=""
              />
            </div>
            <v-tooltip top>
              <template v-slot:activator="{ on, attrs }">
                <span v-bind="attrs" v-on="on"
                  >{{ project.detail.title | readMore(20, "...")}}</span
                >
              </template>
              <span style="font-size: 11px;">
                {{ project.detail.title}}
              </span>
            </v-tooltip>
            <div>
              <v-btn
                style="min-width: 46px"
                depressed
                text
                color="secondary"
                class="px-0 mx-0"
              >
                مشاهده
              </v-btn>
            </div>
          </div>
          <span
            v-if="profileProjects && profileProjects.length === 0"
            style="color: #7e7e7f; font-size: 14px"
          >
            تاکنون پروژه‌ای برای این فرد ثبت نشده است.
          </span>
        </div>
        <h3 class="mb-2">تجربه‌های کاری</h3>
        <div class="experience-cards mb-10">
          <div
            class="experience-card d-flex align-center justify-space-between"
            v-for="(experience, index) in profileDetails.experience"
            :key="index"
          >
            <div>
              <div class="mb-2 font-weight-bold">
                {{experience['job_title']}}
              </div>
              <div>{{ experience['company_title'] }}</div>
            </div>
            <div>
              {{experience.start_date | changeDate | persianDigit}} - {{
              experience['end_date'] | changeDate | persianDigit}}
            </div>
          </div>
          <span
            v-if="profileDetails.experience.length === 0"
            style="color: #7e7e7f; font-size: 14px"
          >
            تاکنون تجربه کاری برای این فرد ثبت نشده است.
          </span>
        </div>
        <h3 class="mb-2">دوره‌های آموزشی</h3>
        <div class="experience-cards mb-10">
          <div
            class="experience-card d-flex align-center justify-space-between"
            v-for="(award, index) in profileDetails['awards']"
            :key="index"
          >
            <div>
              <div class="mb-2 font-weight-bold">{{award.title}}</div>
              <!--              <div>جهاد دانشگاهی</div>-->
            </div>
            <div>{{award['achieved_date'] | changeDate | persianDigit}}</div>
          </div>
          <span
            v-if="profileDetails['awards'].length === 0"
            style="color: #7e7e7f; font-size: 14px"
          >
            تاکنون تجربه کاری برای این فرد ثبت نشده است.
          </span>
        </div>
        <h3 class="mb-2">تحصیلات</h3>
        <div class="experience-cards mb-10">
          <div
            class="experience-card d-flex align-center justify-space-between"
            v-for="(education, index) in profileDetails.education"
            :key="index"
          >
            <div>
              <div class="mb-2 font-weight-bold">
                {{ education['degree_title'] }}
              </div>
              <div>{{ education['institute_title'] }}</div>
            </div>
            <div>
              {{education.start_date | changeDate | persianDigit}} - {{
              education['end_date'] | changeDate | persianDigit}}
            </div>
          </div>
          <span
            v-if="profileDetails.education.length === 0"
            style="color: #7e7e7f; font-size: 14px"
          >
            تاکنون دوره ی تحصیلی برای این فرد ثبت نشده است.
          </span>
        </div>
      </v-col>
    </v-row>
  </v-container>
</section>
