<section class="not-found d-flex">
  <v-container>
    <v-row style="height: 90%">
      <v-col class="d-flex">
        <div class="d-flex align-center">
          <img src="../../../assets/image/not-found.png" alt="کانکتا" />
        </div>
        <div class="d-flex flex-column justify-center mr-10 not-found-text">
          <div>404</div>
          <div>صفحه مورد نظر یافت نشد.</div>
          <div>
            <v-btn color="primary" link to="/">
              رفتن به خانه
            </v-btn>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</section>
