<div>
  <section
    class="home-page-hero d-flex flex-column align-center justify-center"
  >
    <v-container>
      <v-row class="flex-column text-center">
        <v-col cols="12" md="6" sm="11" class="mx-auto pa-0 first-slogan">
            پروژه‌های موجود در کانکتا
        </v-col>
<!--        <v-col-->
<!--          cols="12"-->
<!--          md="6"-->
<!--          sm="11"-->
<!--          class="mx-auto pa-0 font-weight-bold second-slogan"-->
<!--        >-->
<!--          کارفرمایان-->
<!--        </v-col>-->
      </v-row>
    </v-container>
  </section>

  <section>
    <v-container>
      <v-row no-gutters class="mobile-filter">
        <v-col cols="12" sm="6" md="8">
          <employer-projects></employer-projects>
          <div class="text-center text-h6 my-3" v-if="!noData >= 1">
            هیچ موردی یافت نشد
          </div>
        </v-col>
        <v-col>
          <side-filter></side-filter>
        </v-col>
      </v-row>
    </v-container>
  </section>
</div>
