<dashboard-card :titleCard="$t('sidebar.ongoingProjects')">
  <v-container v-if="!this.$route.params.id">
    <v-row>
      <v-col
        cols="12"
        v-for="projectList in indexProjectsList"
        :key="projectList.id"
        @click="redirectToProjectDetail(projectList.id, projectList['proposal_id'])"
      >
        <div class="container--fluid d-lg-flex d-md-block project-row">
          <div
            class="col-lg-7 col-md-12 d-flex flex-column align-start justify-center"
          >
            <div>
              <span
                ><v-icon color="primary">mdi-check-circle</v-icon>
                {{ projectList.title}}
              </span>
            </div>
            <div class="font-weight-medium mx-2">
              {{projectList.description | readMore(60, "...")}}
            </div>
          </div>
          <div class="col-lg-5 col-md-12 d-flex">
            <div class="row justify-space-around align-center">
              <div class="d-flex align-center">
                <v-btn depressed color="primary">
                  {{ projectList['unread_messages']}} پیام جدید
                  <v-icon right dark>
                    mdi-chat
                  </v-icon>
                </v-btn>
              </div>
              <div class="expired">
                <v-btn depressed fab text>
                  <v-icon x-large>
                    mdi-chevron-left
                  </v-icon>
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
    <div class="text-center text-h6 my-3" v-if="!indexProjectsList.length >= 1">
      هیچ موردی یافت نشد
    </div>
    <div class="col-12 text-center pt-2" v-if="indexProjectsList.length >= 1">
      <v-pagination
        color="primary"
        :length="paginationData['last_page']"
        :total-visible="paginationData.total"
        v-model="paginationData['current_page']"
        @input="changePage($event)"
      ></v-pagination>
    </div>
  </v-container>
  <transitionPage>
    <router-view v-if="this.$route.params.id" />
  </transitionPage>
</dashboard-card>
