<v-container class="faq" fluid>
  <v-row>
    <v-col cols="12" class="text-center my-12">
      <h1>سوالات متداول</h1>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16">
      <v-tabs color="secondary">
        <v-tab>
          سوالات فریلنسر
        </v-tab>
        <v-tab>
          سوالات کارفرما
        </v-tab>
        <v-tab-item>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا استفاده از خدمات کانکتا هزینه دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  عضویت در کانکتا رایگان است، اما کانکتا در قبال پروژه‌های انجام
                  شده 5% از مبلغ تایید شده پروژه را به عنوان کمیسیون از کارفرما
                  و فریلنسر دریافت می‌کند.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  در صورت اعتراض نسبت به نحوه همکاری کارفرما یا فریلنسر از چه
                  راهی باید اقدام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  کارفرما یا فریلنسر در صورت اعتراض نسبت به فرایند اجرای پروژه
                  یا اختلاف در مورد کار انجام شده می‌توانند درخواست سازش (حل
                  اختلاف) ثبت کنند. در این حالت مستندات پروژه و فرایند اجرای آن
                  توسط کارشناسان کانکتا بررسی شده و نتیجه کارشناسی به طرفین
                  اعلام می‌شود. طرفین ملزم به پذیرش نظر کارشناسی بوده و این نظر
                  حکم نهایی را خواهد داشت.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا امکان تصحیح مشخصات پروژه پس از تعریف آن وجود دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  خیر. پس از تعریف پروژه امکان تصحیح یا تغییر مشخصات آن وجود
                  ندارد، اما پس از تایید و اختصاص یک فریلنسر به پروژه این امکان
                  وجود دارد که اطلاعات تکمیلی در مورد پروژه در کانکتا بارگذاری
                  شود، اما این اطلاعات نباید منجر به تغییر ماهیت پروژه و هزینه
                  اجرای آن شود. در چنین حالتی فریلنسر مخیر است اجرای پروژه را
                  لغو کند. پیشنهاد می‌شود تعریف پروژه به‌صورت دقیق و با
                  خواسته‌های کاملا مشخص انجام شده و برآورد هزینه حتما با استعلام
                  و اگاهی کامل از حدود قیمت اجرای آن پروژه در نظر گرفته شود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  چه نوع پروژه‌های در کانکتا قابل تعریف هستند؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  هر پروژه‌ای که در زمینه‌های کاری تعریف شده در کانکتا بگنجد
                  امکان تعریف آن در کانکتا وجود دارد، با این شرط که مخالفتی با
                  قوانین کشوری نداشته باشد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا محدودیتی در محتوا و یا مستندات به اشتراک گذاشته شده در
                  کانکتا وجود دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  محتوای بارگذاری شده نباید مخالف با قوانین کشوری باشد. محدودیت
                  حجمی فایل‌های بارگذاری شده در هر مرحله توضیح داده شده است.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا کانکتا خدمات ارائه شده توسط فریلنسرها را تضمین می‌کند؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  کانکتا یک بستر ارتباطی بین کارفرما و فریلنسر است و امکان تضمین
                  کیفیت خدمات ارائه شده توسط فریلنسر را ندارد، اما در تمامی
                  مراحل جذب و عضویت فریلنسرها تلاش می‌کند با تدوین فرایندهای
                  دقیق شناسایی و احراز هویت، فریلنسرهای برتر و متخصص در
                  زمینه‌های کاری مختلف را در کانکتا جذب نماید.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  چنانچه کارفرما کار تحویل داده شده توسط فریلنسر را بدون دلیل و
                  یا به دفعات تایید نکند، چه اقدامی باید انجام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  در این حالت فریلنسر می‌تواند از گزینه سازش استفاده نماید. در
                  این شرایط معیار تایید یا عدم تایید کار تحویل شده خواسته‌ها،
                  شرایط و مستندات ارائه شده در بخش چت کانکتا بوده و هر گونه
                  توافق انجام شده در فضای خارج از آن مورد تایید کانکتا نخواهد
                  بود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر کارفرما هزینه هر مرحله از پروژه را پرداخت نکند، چه اقدامی
                  باید انجام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  پس از بارگزاری هر مرحله از کار توسط فریلنسر، کارفرما تا 48
                  ساعت فرصت تایید و یا عدم تایید خواهد داشت و چنانچه در این مدت
                  زمان پاسخی از سوی ایشان داده نشود، فرض بر تایید آن مرحله بوده
                  و کارفرما موظف است هزینه آن مرحله از پروژه را تا 48 بعد پرداخت
                  نماید. در صورت عدم پرداخت وجه، فریلنسر می‌تواند ادامه پروژه را
                  متوقف کرده و گزینه سازش را انتخاب نماید. در این حالت پیگیری
                  پرداخت از طرف کانکتا انجام خواهد شد و در صورت عدم پاسخگویی
                  کارفرما، حساب کاربری ایشان تعلیق شده و تا زمان پرداخت مبلغ
                  پروژه و ارائه دلایل عدم پرداخت باز نخواهد شد. در چنین شرایطی
                  کانکتا هزینه این مرحله از پروژه را به فریلنسر پرداخت خواهد
                  کرد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر فریلنسر پروژه را نا تمام بگذارد، چه اقدامی باید انجام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  نا تمام گذاشتن پروژه جزو خطوط قرمز کانکتا بوده و چنانچه
                  فریلنسر پروژه را طبق توافق انجام شده اجرا ننموده و رها کند ضمن
                  تعلیق حساب کاربری - تا زمان ارائه دلایل موجه و کسب رضایت
                  کارفرما، کیف پول فریلنسر نیز مسدود شده و باز شدن مجدد آن منوط
                  به کسب رضایت کارفرما خواهد بود. در هر صورت چنانچه فریلنسر به
                  هر دلیلی امکان تکمیل پروزه را نداشته باشد، کانکتا با توافق
                  کارفرما ادامه پروژه را در قالب یک پروژه جدید تعریف نموده و این
                  پروژه بدون پرداخت کمیسیون از طرف کارفرما و توسط فریلنسر دیگری
                  انجام خواهد شد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر قیمت پیشنهادی کارفرما برای یک پروژه با عرف بازار تفاوت
                  زیادی داشته باشد، کانکتا چه اقدامی خواهد کرد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  توصیه کانکتا به کارفرمایان این است که حتما در زمان تعریف پروژه
                  خواسته‌ها و نتایج مورد انتظار خود را به دقت مشخص کرده و حدود
                  قیمت پروژه را حتما استعلام نمایند. همچنین به فریلنسرها نیز
                  توصیه می‌شود حتما قیمت منصفانه پیشنهاد داده و از ارائه
                  قیمت‌های بالاتر و یا پایین‌تر از عرف خودداری کنند. چنانچه قیمت
                  پیشنهادی کارفرما اختلاف زیادی با قیمت‌های بازار این حوزه داشته
                  باشد، کانکتا به کارفرما پیشنهاد اصلاح قیمت خواهد داد، اما
                  تصمیم نهایی در مورد مبلغ اجرای پروژه بر عهده کارفرما و
                  فریلنسرها خواهد بود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر فریلنسر اطلاعات محرمانه پروژه را افشا نموده و یا از آن جهت
                  سود شخصی بهره‌برداری نماید؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  حذف اسرار و عدم افشای اطلاعات از وظایف اولیه فریلنسر بوده و
                  فریلنسر موظف به عدم افشای اطلاعات پروژه و کارفرما خواهد بود.
                  در چنین شرایطی کارفرما می‌تواند گزینه سازش را فعال نموده و
                  موضوع شکایت خود را در کانکتا مطرح نماید. در صورت اثبات خطای
                  فریلنسر در این زمینه، حق شکایت حقوقی برای کارفرما محفوظ بوده و
                  کانکتا جهت احقاق حقوق کارفرما همکاری خواهد نمود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر موضوع پروژه بر خلاف مقررات و قوانین کشور باشد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  تعریف پروژه با موضوعات خلاف قوانین کشور ممنوع بوده و در صورت
                  تعریف، پروژه توسط کانکتا لغو و از فهرست پروژه‌ها حذف خواهد شد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا امکان برقراری تماس و ارتباط بین کارفرما و فریلنسر خارج از
                  فضای کانکتا وجود دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  محدودیتی جهت برقراری تماس و ارتباط بین طرفین خارج از محیط
                  کانکتا وجود ندارد، اما در صورت بروز هرگونه اختلاف نظر در مورد
                  کار انجام شده، تنها موارد مطرح شده در فضای چت کانکتا قابل
                  استناد و پذیرش بوده و هر گونه توافق خارج از این محیط مورد
                  تایید کانکتا نبوده و قابل بررسی نخواهد بود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-tab-item>

        <v-tab-item>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا استفاده از خدمات کانکتا هزینه دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  عضویت در کانکتا رایگان است، اما کانکتا در قبال پروژه‌های انجام
                  شده 5% از مبلغ تایید شده پروژه را به عنوان کمیسیون از کارفرما
                  و فریلنسر دریافت می‌کند.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  در صورت اعتراض نسبت به نحوه همکاری کارفرما یا فریلنسر از چه
                  راهی باید اقدام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  کارفرما یا فریلنسر در صورت اعتراض نسبت به فرایند اجرای پروژه
                  یا اختلاف در مورد کار انجام شده می‌توانند درخواست سازش (حل
                  اختلاف) ثبت کنند. در این حالت مستندات پروژه و فرایند اجرای آن
                  توسط کارشناسان کانکتا بررسی شده و نتیجه کارشناسی به طرفین
                  اعلام می‌شود. طرفین ملزم به پذیرش نظر کارشناسی بوده و این نظر
                  حکم نهایی را خواهد داشت.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا امکان تصحیح مشخصات پروژه پس از تعریف آن وجود دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  خیر. پس از تعریف پروژه امکان تصحیح یا تغییر مشخصات آن وجود
                  ندارد، اما پس از تایید و اختصاص یک فریلنسر به پروژه این امکان
                  وجود دارد که اطلاعات تکمیلی در مورد پروژه در کانکتا بارگذاری
                  شود، اما این اطلاعات نباید منجر به تغییر ماهیت پروژه و هزینه
                  اجرای آن شود. در چنین حالتی فریلنسر مخیر است اجرای پروژه را
                  لغو کند. پیشنهاد می‌شود تعریف پروژه به‌صورت دقیق و با
                  خواسته‌های کاملا مشخص انجام شده و برآورد هزینه حتما با استعلام
                  و اگاهی کامل از حدود قیمت اجرای آن پروژه در نظر گرفته شود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  چه نوع پروژه‌های در کانکتا قابل تعریف هستند؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  هر پروژه‌ای که در زمینه‌های کاری تعریف شده در کانکتا بگنجد
                  امکان تعریف آن در کانکتا وجود دارد، با این شرط که مخالفتی با
                  قوانین کشوری نداشته باشد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا محدودیتی در محتوا و یا مستندات به اشتراک گذاشته شده در
                  کانکتا وجود دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  محتوای بارگذاری شده نباید مخالف با قوانین کشوری باشد. محدودیت
                  حجمی فایل‌های بارگذاری شده در هر مرحله توضیح داده شده است.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا کانکتا خدمات ارائه شده توسط فریلنسرها را تضمین می‌کند؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  کانکتا یک بستر ارتباطی بین کارفرما و فریلنسر است و امکان تضمین
                  کیفیت خدمات ارائه شده توسط فریلنسر را ندارد، اما در تمامی
                  مراحل جذب و عضویت فریلنسرها تلاش می‌کند با تدوین فرایندهای
                  دقیق شناسایی و احراز هویت، فریلنسرهای برتر و متخصص در
                  زمینه‌های کاری مختلف را در کانکتا جذب نماید.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  چنانچه کارفرما کار تحویل داده شده توسط فریلنسر را بدون دلیل و
                  یا به دفعات تایید نکند، چه اقدامی باید انجام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  در این حالت فریلنسر می‌تواند از گزینه سازش استفاده نماید. در
                  این شرایط معیار تایید یا عدم تایید کار تحویل شده خواسته‌ها،
                  شرایط و مستندات ارائه شده در بخش چت کانکتا بوده و هر گونه
                  توافق انجام شده در فضای خارج از آن مورد تایید کانکتا نخواهد
                  بود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر کارفرما هزینه هر مرحله از پروژه را پرداخت نکند، چه اقدامی
                  باید انجام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  پس از بارگزاری هر مرحله از کار توسط فریلنسر، کارفرما تا 48
                  ساعت فرصت تایید و یا عدم تایید خواهد داشت و چنانچه در این مدت
                  زمان پاسخی از سوی ایشان داده نشود، فرض بر تایید آن مرحله بوده
                  و کارفرما موظف است هزینه آن مرحله از پروژه را تا 48 بعد پرداخت
                  نماید. در صورت عدم پرداخت وجه، فریلنسر می‌تواند ادامه پروژه را
                  متوقف کرده و گزینه سازش را انتخاب نماید. در این حالت پیگیری
                  پرداخت از طرف کانکتا انجام خواهد شد و در صورت عدم پاسخگویی
                  کارفرما، حساب کاربری ایشان تعلیق شده و تا زمان پرداخت مبلغ
                  پروژه و ارائه دلایل عدم پرداخت باز نخواهد شد. در چنین شرایطی
                  کانکتا هزینه این مرحله از پروژه را به فریلنسر پرداخت خواهد
                  کرد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر فریلنسر پروژه را نا تمام بگذارد، چه اقدامی باید انجام شود؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  نا تمام گذاشتن پروژه جزو خطوط قرمز کانکتا بوده و چنانچه
                  فریلنسر پروژه را طبق توافق انجام شده اجرا ننموده و رها کند ضمن
                  تعلیق حساب کاربری - تا زمان ارائه دلایل موجه و کسب رضایت
                  کارفرما، کیف پول فریلنسر نیز مسدود شده و باز شدن مجدد آن منوط
                  به کسب رضایت کارفرما خواهد بود. در هر صورت چنانچه فریلنسر به
                  هر دلیلی امکان تکمیل پروزه را نداشته باشد، کانکتا با توافق
                  کارفرما ادامه پروژه را در قالب یک پروژه جدید تعریف نموده و این
                  پروژه بدون پرداخت کمیسیون از طرف کارفرما و توسط فریلنسر دیگری
                  انجام خواهد شد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر قیمت پیشنهادی کارفرما برای یک پروژه با عرف بازار تفاوت
                  زیادی داشته باشد، کانکتا چه اقدامی خواهد کرد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  توصیه کانکتا به کارفرمایان این است که حتما در زمان تعریف پروژه
                  خواسته‌ها و نتایج مورد انتظار خود را به دقت مشخص کرده و حدود
                  قیمت پروژه را حتما استعلام نمایند. همچنین به فریلنسرها نیز
                  توصیه می‌شود حتما قیمت منصفانه پیشنهاد داده و از ارائه
                  قیمت‌های بالاتر و یا پایین‌تر از عرف خودداری کنند. چنانچه قیمت
                  پیشنهادی کارفرما اختلاف زیادی با قیمت‌های بازار این حوزه داشته
                  باشد، کانکتا به کارفرما پیشنهاد اصلاح قیمت خواهد داد، اما
                  تصمیم نهایی در مورد مبلغ اجرای پروژه بر عهده کارفرما و
                  فریلنسرها خواهد بود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر فریلنسر اطلاعات محرمانه پروژه را افشا نموده و یا از آن جهت
                  سود شخصی بهره‌برداری نماید؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  حذف اسرار و عدم افشای اطلاعات از وظایف اولیه فریلنسر بوده و
                  فریلنسر موظف به عدم افشای اطلاعات پروژه و کارفرما خواهد بود.
                  در چنین شرایطی کارفرما می‌تواند گزینه سازش را فعال نموده و
                  موضوع شکایت خود را در کانکتا مطرح نماید. در صورت اثبات خطای
                  فریلنسر در این زمینه، حق شکایت حقوقی برای کارفرما محفوظ بوده و
                  کانکتا جهت احقاق حقوق کارفرما همکاری خواهد نمود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  اگر موضوع پروژه بر خلاف مقررات و قوانین کشور باشد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  تعریف پروژه با موضوعات خلاف قوانین کشور ممنوع بوده و در صورت
                  تعریف، پروژه توسط کانکتا لغو و از فهرست پروژه‌ها حذف خواهد شد.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel>
                <v-expansion-panel-header class="py-8 border-faq">
                  آیا امکان برقراری تماس و ارتباط بین کارفرما و فریلنسر خارج از
                  فضای کانکتا وجود دارد؟
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  محدودیتی جهت برقراری تماس و ارتباط بین طرفین خارج از محیط
                  کانکتا وجود ندارد، اما در صورت بروز هرگونه اختلاف نظر در مورد
                  کار انجام شده، تنها موارد مطرح شده در فضای چت کانکتا قابل
                  استناد و پذیرش بوده و هر گونه توافق خارج از این محیط مورد
                  تایید کانکتا نبوده و قابل بررسی نخواهد بود.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-tab-item>
      </v-tabs>
    </v-col>
  </v-row>
</v-container>
