<v-container class="faq" fluid>
  <v-row>
    <v-col cols="12" class="text-center my-12">
      <h1>سوالات متداول</h1>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16">
      <v-tabs color="secondary">
        <v-tab>
          سوالات کارجو
        </v-tab>
        <v-tab>
          سوالات کارفرما
        </v-tab>
        <v-tab-item>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel v-for="n in 5" :key="n">
                <v-expansion-panel-header class="py-8 border-faq">
                  چرا کانکتا
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-tab-item>
        <v-tab-item>
          <v-col cols="12">
            <v-expansion-panels>
              <v-expansion-panel v-for="n in 5" :key="n">
                <v-expansion-panel-header class="py-8 border-faq">
                  چرا کانکتا
                  <template v-slot:actions>
                    <v-icon color="secondary">
                      mdi-plus
                    </v-icon>
                  </template>
                </v-expansion-panel-header>
                <v-expansion-panel-content>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                  do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco
                  laboris nisi ut aliquip ex ea commodo consequat.
                </v-expansion-panel-content>
              </v-expansion-panel>
            </v-expansion-panels>
          </v-col>
        </v-tab-item>
      </v-tabs>
    </v-col>
  </v-row>
</v-container>
