<div>
  <v-container>
    <v-row>
      <v-expansion-panels>
        <v-expansion-panel>
          <v-expansion-panel-header>
            <template v-slot:default="{ open }">
              <v-row no-gutters>
                <v-col cols="4">
                  نام پروژه: {{ projectDetails.title }}
                </v-col>
                <v-col cols="6">
                  {{ projectDetails.description | readMore(60, "...") }}
                </v-col>
                <v-col cols="8" class="text--secondary">
                  <v-fade-transition leave-absolute>
                    <span class="d-block mt-3" v-if="open" key="0">
                      نام کارفرما: {{ projectDetails.username }}
                    </span>
                    <span v-else key="1">
                      <!--                      {{ trip.name }}-->
                    </span>
                  </v-fade-transition>
                </v-col>
              </v-row>
            </template>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <div class="container--fluid d-lg-flex d-md-block project-row">
              <div
                class="col-lg-8 col-md-12 d-flex flex-column align-start justify-center"
              >
                <div>
                  <span
                    ><v-icon color="primary">mdi-check-circle</v-icon>
                    {{ projectDetails.username }}
                  </span>
                </div>
                <div class="font-weight-medium mx-2">
                  {{projectDetails.title}}
                </div>
                <span>
                  {{ projectDetails.description }}
                </span>
              </div>
              <div class="col-lg-4 col-md-12 d-flex">
                <div class="row justify-space-around align-center">
                  <div>
                    <v-icon class="mb-1">
                      mdi-cash-multiple
                    </v-icon>
                    {{projectDetails.price | roundNumber | thousandMask}} ریال
                  </div>
                  <div>
                    <v-icon>
                      mdi-timetable
                    </v-icon>
                    بیشتر از یک هفته
                  </div>
                </div>
              </div>
            </div>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </v-row>
  </v-container>

  <header-section :headerSectionTitle="'مراحل پیشرفت'"></header-section>
  <v-container>
    <v-row class="progress-level">
      <v-col
        class="level"
        v-for="(mileStone, index) in mileStones"
        :key="mileStone.id"
        :class="{'lock': !mileStone['payment_status'], 'pending': mileStone['payment_status'] === 0 || mileStone['payment_status'] === 1, 'finished': mileStone['payment_status'] === 2}"
      >
        <div class="d-flex justify-space-between align-center">
          <div>
            <!--          <div>بخش {{installments | installments}}</div>-->
            <div
              class="lock-text"
              v-if="mileStone['payment_status'] === undefined"
            >
              قفل
            </div>
            <div v-if="mileStone['payment_status'] === 0">در انتظار پرداخت</div>
            <div
              v-if="mileStone['confirmation'] === 0 && (mileStone['payment_status'] === 1 || mileStone['payment_status'] === 2)"
            >
              در انتظار بررسی
            </div>
            <div v-if="mileStone['confirmation'] === 1">خاتمه یافته</div>
          </div>
          <div>
            <v-dialog
              v-if="mileStone['payment_status'] === 0"
              v-model="dialog"
              persistent
              max-width="400px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="ma-2"
                  color="primary"
                  depressed
                  v-bind="attrs"
                  v-on="on"
                >
                  پرداخت
                </v-btn>
              </template>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card
                  class="d-flex flex-column justify-center align-center pb-10 send-jobOffer-freelancer"
                >
                  <v-card-title>
                    <span class="text-h5">پرداخت خود را انجام دهید</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          مبلغ {{mileStone['payment_amount'] | roundNumber |
                          thousandMask}} ریال را پرداخت کنید.
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="error" @click="dialog = false">
                      بستن
                    </v-btn>
                    <v-btn
                      color="primary"
                      @click="goToPaymentPage(mileStone.id)"
                    >
                      انتقال به صفحه پرداخت
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-form>
            </v-dialog>
            <v-dialog
              v-if="mileStone['confirmation'] === 0 && (mileStone['payment_status'] === 1 || mileStone['payment_status'] === 2)"
              v-model="dialog"
              persistent
              max-width="400px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="ma-2"
                  color="primary"
                  depressed
                  v-bind="attrs"
                  v-on="on"
                >
                  بررسی فایل
                </v-btn>
              </template>
              <v-form ref="form" v-model="valid" lazy-validation>
                <v-card
                  class="d-flex flex-column justify-center align-center pb-10 send-jobOffer-freelancer"
                >
                  <v-card-title>
                    <span class="text-h5">فایل را دریافت کنید</span>
                  </v-card-title>
                  <v-card-text>
                    <v-container>
                      <v-row>
                        <v-col cols="12">
                          <v-list>
                            <v-list-item
                              v-for="(file, index) in mileStone.attachments"
                              :key="index"
                            >
                              <v-list-item-content>
                                <v-list-item-title>
                                  فایل پروژه شماره {{index + 1}}
                                </v-list-item-title>
                              </v-list-item-content>
                              <v-list-item-action>
                                <v-btn icon :href="file" target="_blank">
                                  <v-icon small>mdi-arrow-down</v-icon>
                                </v-btn>
                              </v-list-item-action>
                            </v-list-item>
                          </v-list>
                        </v-col>
                      </v-row>
                    </v-container>
                  </v-card-text>
                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn outlined color="error" @click="dialog = false">
                      بستن
                    </v-btn>
                    <v-btn
                      color="error"
                      @click="mileStoneAction(mileStone.id, 2)"
                    >
                      رد پروژه
                    </v-btn>
                    <v-btn
                      color="primary"
                      @click="mileStoneAction(mileStone.id, 1)"
                    >
                      تایید پروژه
                    </v-btn>
                  </v-card-actions>
                </v-card>
              </v-form>
            </v-dialog>
            <v-btn
              v-if="mileStone['confirmation'] === 1"
              class="ma-2"
              outlined
              color="primary"
            >
              تمام شده
            </v-btn>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>

  <v-container class="pa-0">
    <div class="chat-header">
      <v-icon large>mdi-account-circle</v-icon>
      {{projectDetails.username}}
    </div>
    <section ref="chatArea" class="chat-area ma-0">
      <p
        v-for="message in messages"
        class="message d-flex align-center"
        :class="{ 'message-out': message.role === 'employer', 'message-in': message.role === 'freelancer' }"
      >
        <span class="d-block ml-auto" v-if="message.role === 'freelancer' ">
          <v-icon large>mdi-account-circle</v-icon>
          {{message.name}}</span
        >
          {{ message.text }}
          <span class="d-block mr-auto" v-if="message.role === 'employer'">
          {{message.name}}
          <v-icon large>mdi-account-circle</v-icon>
        </span>
      </p>
    </section>

    <section class="chat-inputs">
      <form
        class="d-flex justify-space-between align-center"
        @submit.prevent="sendMessage('out')"
        id="person2-form"
      >
        <v-textarea
          v-if="!completedAt"
          v-model="youMessage"
          class="mt-3 col-10"
          type="text"
          label="پیام شما"
          rows="2"
          height="45"
          outlined
          dense
          @keyup.enter.prevent="sendMessage('out')"
        >
        </v-textarea>
        <v-btn
          v-if="!completedAt"
          depressed
          class="mb-4"
          large
          color="primary"
          type="submit"
        >
          ارسال پیام
          <v-icon class="mx-2">
            mdi-message-text
          </v-icon>
        </v-btn>
        <v-btn
          v-if="completedAt"
          depressed
          class="mb-4 mt-5"
          large
          block
          disabled
        >
          پیام بسته شد
        </v-btn>
      </form>
    </section>
  </v-container>
</div>
