@import "src/assets/styles/variable";
.project-row {
  background-color: $surface-150;
  min-height: 185px;
  padding: 30px;
  margin-bottom: 18px;
  border-radius: 8px;

  &:hover {
    box-shadow: $card-box-shadow;
    background-color: $surface-hover;
  }
  .expired {
    color: $green-100;
    font-size: 16px;
    font-weight: 500;
  }
  .img-profile {
    width: 56px;
    height: 56px;
    border: 4px solid $surface-hover;
    border-radius: 50%;
    display: block;

    img {
      width: 100%;
      border-radius: 50%;
    }
  }
}
.progress-level {
  background-color: $surface-150;
  min-height: 120px;
  padding: 30px;
  margin-bottom: 18px;
  border-radius: 8px;

  .level {
    background-color: #fff;
    border: 1px solid $surface-200;

    &:first-child {
      border-radius: 0 8px 8px 0;
    }
    &:last-child {
      border-radius: 8px 0 0 8px;
    }
  }
  .lock {
    background-color: $surface-150;
  }
  .pending {
    background-color: rgba(229, 160, 0, 0.43);
  }
  .finished {
    background-color: #59c1b8;
  }
  .lock-text {
    line-height: 50px;
  }
}
.v-list-item {
  background-color: $surface-hover !important;
  margin: 10px 0;
  border-radius: 8px;
}
.cancel-project {
  position: absolute;
}
.v-list-item[data-v-279f93f9] {
  background-color: #fff !important;
  margin: 10px 0;
  border-radius: 8px;
}
.header {
  .register {
    height: 46px;
    min-width: 132px;
    padding: 12px 24px;
    border-radius: 12px;
  }
}
.chat-box {
  width: 100%;
  max-width: 1180px;
  height: 650px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  &-header {
    height: 80px;
    padding: 16px 25px;
    border-bottom: 1px solid #cfcfcf;
    &-title {
      font-size: 14px;
      font-weight: 500;
      color: #142226;
      margin-bottom: 10px;
    }
    &-subject {
      font-size: 14px;
      font-weight: 500;
      color: #374b54;
    }
  }
  .v-btn__content {
    color: #ec484a;
  }
}
.chat-area {
  height: 418px;
  overflow: auto;
  margin: 0 auto 2em auto;
  padding-top: 30px;
}
.chat-header {
  height: 70px;
  padding: 15px;
  line-height: 33px;
}
.message {
  width: 45%;
  max-width: 526px;
  border-radius: 10px;
  padding: 16px 0 16px 19px;
  font-size: 0.7em;
  .side-avatar {
    transform: translate(47px, -14px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $primary;
  }
  .side-avatar-answer {
    transform: translate(-66px, -14px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $primary;
  }
}
.message-out {
  background: #f5f7f6;
  color: #374b54;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin-left: 50%;
  margin-right: 64px;
  border: 1px solid #e4e6e9;
  border-radius: 16px 0 16px 16px;
}
.message-in {
  background: #f5f7f6;
  color: #374b54;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin-right: 49%;
  border: 1px solid #e4e6e9;
  padding-right: 10px;
  border-radius: 0 16px 16px 16px;
}
.attachment-link {
  text-decoration: none;
  color: #0a607a;
  font-size: 10px;
  font-weight: 500;
}
.send-ticket {
  border-radius: 12px;
  position: absolute;
  left: 10%;
  top: 69px;
}
.isShow {
  display: block;
}
.isNone {
  display: none;
}
