<div class="step-second">
  <p>
    <v-icon dense @click="backToPrevStep()">
      mdi-arrow-right
    </v-icon>
  </p>
  <v-form ref="form" v-model="valid" lazy-validation>
    <v-text-field
      :label="$t('form.firstname')"
      type="text"
      outlined
      v-model="firstName"
      :rules="registerRule.firstname"
      class="mb-2"
      dense
      v-if="getDataFromStore.is_company === 0"
    ></v-text-field>
    <v-text-field
      :label="$t('form.lastname')"
      type="text"
      outlined
      v-model="lastName"
      :rules="registerRule.lastname"
      class="mb-2"
      dense
      v-if="getDataFromStore.is_company === 0"
    ></v-text-field>
    <v-text-field
      :label="$t('form.companyName')"
      type="text"
      autofocus
      outlined
      v-model="companyName"
      :rules="registerRule.companyName"
      class="mb-2"
      dense
      v-if="getDataFromStore.is_company === 1"
    ></v-text-field>
    <v-select
      class="mb-4"
      :items="companyTypeLists"
      item-text="title"
      item-value="id"
      v-model="companyList"
      :rules="registerRule.typeOfActivity"
      :label="$t('form.typeOfActivity')"
      outlined
      dense
    >
      <template v-slot:append>
        <v-icon color="grey lighten-1">mdi-chevron-down</v-icon>
      </template>
    </v-select>
    <v-card-actions class="pa-0">
      <v-btn
        color="teal accent-3"
        dark
        :loading="signInLoading"
        block
        class="py-5"
        @click="registration"
        >{{ $t('form.registerComplete') }}</v-btn
      >
    </v-card-actions>
  </v-form>
</div>
