<section class="cotumize-theme">
    <v-btn icon id="settings">
        <v-icon>mdi-cog</v-icon>
    </v-btn>
    <v-menu
            :close-on-content-click="false"
            activator="#settings"
            bottom
            content-class="v-settings"
            left
            nudge-left="8"
            offset-y
            origin="top right"
            transition="scale-transition"
            v-model="menu"
    >
        <v-card class="text-center mb-0" width="300">
            <v-card-text>
                <strong class="mb-3 d-inline-block">SIDEBAR FILTERS</strong>

                <v-item-group v-model="color">
                    <v-item :key="color" :value="color" v-for="color in colors">
                        <template v-slot="{ active, toggle }">
                            <v-avatar
                                    :class="active && 'v-settings__item--active'"
                                    :color="color"
                                    @click="toggle"
                                    class="v-settings__item"
                                    size="25"
                            />
                        </template>
                    </v-item>
                </v-item-group>

                <v-divider class="my-4" />

                <v-row align="center" no-gutters>
                    <v-col cols="auto">
                        Dark Mode
                    </v-col>

                    <v-spacer />

                    <v-col cols="auto">
                        <v-switch
                                class="ma-0 pa-0"
                                color="secondary"
                                hide-details
                                v-model="$vuetify.theme.dark"
                        />
                    </v-col>
                </v-row>
            </v-card-text>
        </v-card>
    </v-menu>
</section>
