<div>
  <v-expansion-panels v-for="(item, index) in experienceList" :key="index">
    <v-expansion-panel>
      <v-expansion-panel-header>
        <template v-slot:default="{ open }">
          <v-row no-gutters>
            <v-col cols="4">
              عنوان ( از تاریخ - تا تاریخ):
            </v-col>
            <v-col cols="8" class="text--secondary">
              <v-fade-transition leave-absolute>
                <span v-if="open" key="0">
                  عنوان ( از تاریخ - تا تاریخ)
                </span>
                <span v-else key="1" dir="ltr">
                  {{item.start_date | changeDate()}} - {{item.end_date |
                  changeDate()}} : {{ item.job_title }}
                </span>
              </v-fade-transition>
            </v-col>
          </v-row>
        </template>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row justify="space-around" no-gutters>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              v-model="item.job_title"
              class="pl-2"
              outlined
              dense
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              v-model="item.company_title"
              class="pr-2"
              outlined
              dense
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="space-around" no-gutters>
          <v-col cols="12" sm="6" md="6">
            <v-menu
              v-model="test"
              ref="startMenu"
              :close-on-content-click="false"
              :return-value.sync="start"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  label="شروع از تاریخ"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  class="pl-2"
                  outlined
                  dense
                  :value="item.start_date | changeDate"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.startMenu.isActive = false"
                >
                  رد
                </v-btn>
                <v-btn text color="primary" @click="$refs.startMenu.save(date)">
                  تایید
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="12" sm="6" md="6">
            <v-menu
              ref="endMenu"
              :close-on-content-click="false"
              :return-value.sync="end"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  label="خاتمه در تاریخ"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  class="pr-2"
                  outlined
                  dense
                  :value="item.end_date | changeDate"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.endMenu.isActive = false"
                >
                  رد
                </v-btn>
                <v-btn text color="primary" @click="$refs.endMenu.save(date)">
                  تایید
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>
          <!--          <v-col cols="12">-->
          <!--            <v-textarea-->
          <!--              outlined-->
          <!--              name="input-7-4"-->
          <!--              :label="$t('form.description')"-->
          <!--              :value="item.description"-->
          <!--            ></v-textarea>-->
          <!--          </v-col>-->
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
  <v-expansion-panels
    v-for="(item, index) in listOfFormData"
    v-if="item.type === 'experience'"
    :key="item.company_title"
  >
    <v-expansion-panel>
      <v-expansion-panel-header>
        <template v-slot:default="{ open }">
          <v-row no-gutters>
            <v-col cols="4">
              عنوان ( از تاریخ - تا تاریخ):
            </v-col>
            <v-col cols="8" class="text--secondary">
              <v-fade-transition leave-absolute>
                <span v-if="open" key="0">
                  عنوان ( از تاریخ - تا تاریخ)
                </span>
                <span v-else key="1" dir="ltr">
                  {{item.form.start_date | changeDate}} - {{item.form.end_date |
                  changeDate}} : {{ item.form.job_title }}
                </span>
              </v-fade-transition>
            </v-col>
          </v-row>
        </template>
      </v-expansion-panel-header>
      <v-expansion-panel-content>
        <v-row justify="space-around" no-gutters>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              v-model="item.form.job_title"
              class="pl-2"
              outlined
              dense
            ></v-text-field>
          </v-col>
          <v-col cols="12" sm="6" md="6">
            <v-text-field
              v-model="item.form.company_title"
              class="pr-2"
              outlined
              dense
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row justify="space-around" no-gutters>
          <v-col cols="12" sm="6" md="6">
            <v-menu
              v-model="start"
              ref="startMenu"
              :close-on-content-click="false"
              :return-value.sync="start"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  label="شروع از تاریخ"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  class="pl-2"
                  outlined
                  dense
                  :value="item.form.start_date | changeDate"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.startMenu.isActive = false"
                >
                  رد
                </v-btn>
                <v-btn text color="primary" @click="$refs.startMenu.save(date)">
                  تایید
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>

          <v-col cols="12" sm="6" md="6">
            <v-menu
              ref="endMenu"
              :close-on-content-click="false"
              :return-value.sync="end"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  label="خاتمه در تاریخ"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  class="pr-2"
                  outlined
                  dense
                  :value="item.form.end_date | changeDate"
                ></v-text-field>
              </template>
              <v-date-picker v-model="date" no-title scrollable>
                <v-spacer></v-spacer>
                <v-btn
                  text
                  color="primary"
                  @click="$refs.endMenu.isActive = false"
                >
                  رد
                </v-btn>
                <v-btn text color="primary" @click="$refs.endMenu.save(date)">
                  تایید
                </v-btn>
              </v-date-picker>
            </v-menu>
          </v-col>
          <!--          <v-col cols="12">-->
          <!--            <v-textarea-->
          <!--              outlined-->
          <!--              name="input-7-4"-->
          <!--              :label="$t('form.description')"-->
          <!--              :value="item.form.description"-->
          <!--            ></v-textarea>-->
          <!--          </v-col>-->
        </v-row>
      </v-expansion-panel-content>
    </v-expansion-panel>
  </v-expansion-panels>
</div>
