//@import "./font/webFonts";
//@import "./font/mobileFonts";
@import "./rtl/rtl";
@import "styles/styles";
@import "styles/chat-room-ticket";

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  min-height: 100vh;
}

.v-divider {
  border-color: var(--v-lighter-base) !important;
}

.trading-vue-toolbar,
.trading-vue-legend {
  z-index: 5 !important;
}

@media only screen and (max-width: 500px) {
  .custom-app-bar {
    .v-toolbar__content {
      display: flex !important;
      align-items: flex-start !important;
    }
  }
}

.vpd-is-popover[data-placement="bottom-right"] .vpd-container {
  top: -12px !important;
  right: -15px !important;
}

@keyframes rotate {
  from {
    transform: rotateZ(0);
  }

  to {
    transform: rotateZ(360deg);
  }
}

.rotate {
  animation: rotate 3s infinite linear;
}

.border-radius-12 {
  border-radius: 12px;
}

.crypto-link {
  text-decoration: underline !important;
}

.custom-expansion-header {
  & .v-expansion-panel-header__icon {
    margin-left: auto !important;
    margin-right: unset !important;
  }
}
