.contact-section {
  width: 50%;
}
.border-section {
  border: 1px solid #e3e5e8;
  padding: 30px;
  border-radius: 8px;
}
.contact-title {
  color: #b1b1b1;
  font-size: 19px;
}

.contact-detail {
  color: #011a35;
  font-size: 19px;
}