<v-container class="faq" fluid>
  <v-row>
    <v-col cols="12" class="text-center mt-12 mb-3">
      <h1>تماس با ما</h1>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-5">
      <p class="text-center">
        در صورت وجود هرگونه سوالی می‌توانید پاسخ خود را از سوالات متداول پیدا
        کنید.
      </p>
      <p class="text-center">
        در صورتی که پاسخ سوال خود را نیافتید می‌توانید پرسش خود را از طریق فرم
        زیر پشتیبانی کانکتا ۲۴/۷ پاسخگوی سوالات شماست.
      </p>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16 d-flex">
      <div class="text-right mt-5 contact-section">
        <div>
          <div class="contact-title">آدرس</div>
          <div class="contact-detail">کامرانیه جنوبی, بن بست مریم, پلاک ۱</div>
        </div>
        <div class="mt-14">
          <div class="contact-title">ایمیل</div>
          <div class="contact-detail">connecta-support@ernyka.com</div>
        </div>
        <div class="mt-14">
          <div class="contact-title">شماره تماس</div>
          <div class="contact-detail">۰۲۱۲۲۲۴۲۷۹۶</div>
        </div>
      </div>
      <div class="contact-section border-section">
        <div>
          <v-text-field label="نام و نام خانوادگی*" outlined></v-text-field>
        </div>
        <div>
          <v-text-field label="ایمیل*" outlined></v-text-field>
        </div>
        <div>
          <v-text-field label="تلفن تماس (اختیاری)" outlined></v-text-field>
        </div>
        <div>
          <v-textarea outlined label="پیام شما" rows="3"></v-textarea>
        </div>
        <div>
          <v-btn x-large color="secondary" block depressed>
            ارسال پیام
          </v-btn>
        </div>
      </div>
    </v-col>
  </v-row>
</v-container>
