<dashboard-card :titleCard="$t('sidebar.profileSettings')">
  <v-card class="my-saved-items">
    <v-tabs :vertical="this.$vuetify.breakpoint.width >= 1264" color="error">
      <v-tab>
        <v-icon left>
          mdi-content-save-all-outline
        </v-icon>
        جزئیات پروفایل
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-domain
        </v-icon>
        تجربه‌ها و تحصیلات
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-thumb-up-outline
        </v-icon>
        پروژه‌ها و دوره‌های آموزشی
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <v-container>
                <header-section
                  :header-section-title="'جزئیات پروفایل'"
                ></header-section>
                <v-row v-if="companyName === ''">
                  <v-col cols="12" lg="6" md="12" sm="12">
                    <v-text-field
                      v-model="profileInfo.user['first_name']"
                      label="نام"
                      required
                      lazy
                      outlined
                      @change="enableUpdateProfileButton"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" lg="6" md="12" sm="12">
                    <v-text-field
                      v-model="profileInfo.user['last_name']"
                      label="نام خانوادگی"
                      required
                      lazy
                      outlined
                      @change="enableUpdateProfileButton"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row v-if="companyName !== ''">
                  <v-col cols="12" lg="6" md="12" sm="12">
                    <v-text-field
                      v-model="profileInfo.user.company.name"
                      label="نام شرکت"
                      hint="نام ثبت شده شرکت خودرا وارد نمایید"
                      persistent-hint
                      required
                      lazy
                      outlined
                      @change="enableUpdateProfileButton"
                    ></v-text-field>
                  </v-col>
                  <v-col cols="12" lg="6" md="12" sm="12">
                    <v-text-field
                      valu=""
                      label="شماره ثبت شرکت"
                      required
                      lazy
                      outlined
                      @change="enableUpdateProfileButton"
                    ></v-text-field>
                  </v-col>
                </v-row>
                <v-row>
                  <!--                <v-col lg="6" md="12">-->
                  <!--                  <v-select-->
                  <!--                    v-if="profileInfo.user"-->
                  <!--                    v-model="profileForm.gender"-->
                  <!--                    :items="profileInfo['genders']"-->
                  <!--                    item-text="value"-->
                  <!--                    item-value="key"-->
                  <!--                    label="جنسیت"-->
                  <!--                    required-->
                  <!--                    outlined-->
                  <!--                  ></v-select>-->
                  <!--                </v-col>-->
                  <!--                <v-col md="12">-->
                  <!--                  <v-combobox-->
                  <!--                    v-if="profileInfo.user"-->
                  <!--                    v-model="profileInfo.skills"-->
                  <!--                    :items="skillsList"-->
                  <!--                    item-text="title"-->
                  <!--                    item-value="id"-->
                  <!--                    :search-input.sync="search"-->
                  <!--                    hide-selected-->
                  <!--                    hint="حداکثر ۵ گزینه میتوانید انتخاب کنید"-->
                  <!--                    :label="$t('form.skills')"-->
                  <!--                    multiple-->
                  <!--                    persistent-hint-->
                  <!--                    required-->
                  <!--                    outlined-->
                  <!--                    clearable-->
                  <!--                    small-chips-->
                  <!--                    :counter="5"-->
                  <!--                    @change="selectSkills(profileInfo.skills)"-->
                  <!--                  >-->
                  <!--                    <template v-slot:no-data>-->
                  <!--                      <v-list-item>-->
                  <!--                        <v-list-item-content>-->
                  <!--                          <v-list-item-title>-->
                  <!--                            موردی یافت نشد "<strong>{{ search }}</strong>". برای-->
                  <!--                            افزودن مهارت مورد نظر <kbd>enter</kbd>را فشار دهید-->
                  <!--                          </v-list-item-title>-->
                  <!--                        </v-list-item-content>-->
                  <!--                      </v-list-item>-->
                  <!--                    </template>-->
                  <!--                  </v-combobox>-->
                  <!--                </v-col>-->
                </v-row>
                <v-row>
                  <v-col cols="12" md="12">
                    <v-select
                      :items="categories"
                      item-text="title"
                      item-value="id"
                      label="زمینه کاری"
                      v-model="profileInfo.user['category_id']"
                      required
                      outlined
                      @change="enableUpdateProfileButton"
                    ></v-select>
                  </v-col>
                </v-row>
                <!--              <v-row>-->
                <!--                <v-textarea-->
                <!--                  outlined-->
                <!--                  name="input-7-4"-->
                <!--                  label="توضیحات"-->
                <!--                  value="پروژه ای که روی آن کار می کنم یک پروژه ی تستی است که قرار است در جستجوی گوگل در صفحات اول تا دوم ارتقا داده شود."-->
                <!--                ></v-textarea>-->
                <!--              </v-row>-->
                <header-section
                  :header-section-title="'تصویر پروفایل'"
                ></header-section>
                <v-row>
                  <v-col class="profile-setting">
                    <file-input-dashboard
                      :status="'avatar'"
                      @clicked="getFileId"
                      v-if="profileInfo.user"
                      :imageProfile="profileInfo.user.profile.avatar"
                    >
                    </file-input-dashboard>
                  </v-col>
                </v-row>

                <!--              <header-section-->
                <!--                :header-section-title="'تصویر بنر'"-->
                <!--              ></header-section>-->
                <!--              <v-row>-->
                <!--                <v-col lg="6" md="12">-->
                <!--                  <file-input-dashboard-->
                <!--                    :status="'banner'"-->
                <!--                    @clicked="getFileId"-->
                <!--                    :imageProfile="profileInfo.user.profile.banner"-->
                <!--                  ></file-input-dashboard>-->
                <!--                </v-col>-->
                <!--              </v-row>-->
                <v-row class="my-10">
                  <v-col cols="12" lg="3" md="4" sm="12">
                    <v-btn
                      :disabled="!enableButton"
                      color="error"
                      @click="updateProfile"
                      block
                    >
                      {{ $t("actions.save&update") }}
                    </v-btn>
                  </v-col>
                </v-row>
              </v-container>
            </v-form>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <header-section
              header-section-title="تجربه‌های کاری"
            ></header-section>
            <form-dialog
              :dataForDialogForm="addExperienceDataForDialogForm"
            ></form-dialog>
            <experience></experience>
            <header-section header-section-title="تحصیلات"></header-section>
            <form-dialog
              :dataForDialogForm="addEducationDataForDialogForm"
            ></form-dialog>
            <education></education>
            <v-row class="my-10">
              <v-col cols="12" lg="3" md="4" sm="12">
                <v-btn
                  color="error"
                  :disabled="!valid"
                  @click="updateExperienceEducation"
                  block
                >
                  {{ $t("actions.save&update") }}
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <header-section header-section-title="نمونه کارها"></header-section>
            <form-dialog
              :dataForDialogForm="addProjectsDataForDialogForm"
            ></form-dialog>
            <projects></projects>
            <header-section
              header-section-title="دوره‌های آموزشی گذرانده شده"
            ></header-section>
            <form-dialog
              :dataForDialogForm="addAwardDataForDialogForm"
            ></form-dialog>
            <award></award>
            <v-row class="my-10">
              <v-col cols="12" lg="3" md="4" sm="12">
                <v-btn color="error" @click="updateProjectsAward" block>
                  {{ $t("actions.save&update") }}
                </v-btn>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
    <v-row>
      <snackbar
        :snackbarMessage="snackbarMessage"
        :showSnackbar="showSnackbar"
        @hideSnackbar="hideSnackbar"
      ></snackbar>
    </v-row>
  </v-card>
</dashboard-card>
