<dashboard-card :titleCard="$t('sidebar.profileSettings')">
  <v-card class="my-saved-items">
    <v-tabs :vertical="this.$vuetify.breakpoint.width >= 1264" color="error">
      <v-tab>
        <v-icon left>
          mdi-content-save-all-outline
        </v-icon>
        جزییات فردی و مهارتی
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-domain
        </v-icon>
        تجربه ها و تحصیلات
      </v-tab>
      <v-tab>
        <v-icon left>
          mdi-thumb-up-outline
        </v-icon>
        پروژه ها و دوره های آموزشی
      </v-tab>

      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <v-form ref="form" v-model="valid" lazy-validation>
              <header-section
                :header-section-title="'جزییات فردی و مهارتی'"
              ></header-section>
              <v-row class="d-lg-flex d-md-block" v-if="!isCompany">
                <v-text-field
                  v-model="profileInfo.user['first_name']"
                  label="نام"
                  required
                  lazy
                  outlined
                  class="col-lg-6 pl-lg-2 col-md-12  pl-md-0"
                ></v-text-field>
                <v-text-field
                  v-model="profileInfo.user['last_name']"
                  label="نام خانوادگی"
                  required
                  lazy
                  outlined
                  class="col-lg-6 col-md-12 pl-2"
                ></v-text-field>
              </v-row>
              <v-row class="d-lg-flex d-md-block" v-if="isCompany">
                <v-text-field
                  v-model="profileInfo.user.company.name"
                  label="نام شرکت"
                  required
                  lazy
                  outlined
                  class="col-lg-6 pl-lg-2 col-md-12  pl-md-0"
                ></v-text-field>
                <v-text-field
                  valu="1400554556"
                  label="شماره ثبت شرکت"
                  required
                  lazy
                  outlined
                  class="col-lg-6 col-md-12 pl-2"
                ></v-text-field>
              </v-row>
              <v-row class="d-lg-flex d-md-block">
                <v-select
                  v-if="profileInfo.user"
                  v-model="profileForm.gender"
                  :items="profileInfo['genders']"
                  item-text="value"
                  item-value="key"
                  label="جنسیت"
                  required
                  outlined
                  class="col-lg-6 col-md-12 pl-2"
                ></v-select>
                <v-select
                  v-if="profileInfo.user"
                  :items="profileInfo['skills']"
                  item-text="value"
                  item-value="key"
                  label="مهارت ها"
                  required
                  outlined
                  class="col-lg-6 col-md-12 pl-2"
                ></v-select>
              </v-row>
              <v-row>
                <v-select
                  v-if="profileInfo.user"
                  :items="categories"
                  item-text="title"
                  item-value="id"
                  label="دسته بندی ها"
                  :value="profileInfo.user['category_id']"
                  required
                  outlined
                  class="pl-2"
                ></v-select>
              </v-row>
              <!--              <v-row>-->
              <!--                <v-textarea-->
              <!--                  outlined-->
              <!--                  name="input-7-4"-->
              <!--                  label="توضیحات"-->
              <!--                  value="پروژه ای که روی آن کار می کنم یک پروژه ی تستی است که قرار است در جستجوی گوگل در صفحات اول تا دوم ارتقا داده شود."-->
              <!--                ></v-textarea>-->
              <!--              </v-row>-->
              <header-section
                :header-section-title="'تصویر پروفایل'"
              ></header-section>
              <v-row>
                <file-input-dashboard
                  :status="'avatar'"
                  @clicked="getFileId"
                  v-if="profileInfo.user"
                  :imageProfile="profileInfo.user.profile.avatar"
                >
                </file-input-dashboard>
              </v-row>

              <header-section
                :header-section-title="'تصویر بنر'"
              ></header-section>
              <v-row>
                <file-input-dashboard
                  :status="'banner'"
                  @clicked="getFileId"
                  :imageProfile="profileInfo.user.profile.banner"
                ></file-input-dashboard>
              </v-row>
              <v-row class="my-10">
                <v-btn color="error" @click="updateProfile">
                  {{ $t("actions.save&update") }}
                </v-btn>
              </v-row>
            </v-form>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <header-section header-section-title="بخش تجربه های کاری"></header-section>
            <form-dialog
              :dataForDialogForm="addExperienceDataForDialogForm"
            ></form-dialog>
            <experience></experience>
            <header-section header-section-title="بخش تحصیلات"></header-section>
            <form-dialog
              :dataForDialogForm="addEducationDataForDialogForm"
            ></form-dialog>
            <education></education>
            <v-row class="my-10">
              <v-btn
                color="error"
                :disabled="!valid"
                @click="updateExperienceEducation"
              >
                {{ $t("actions.save&update") }}
              </v-btn>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
      <v-tab-item>
        <v-card flat>
          <v-card-text>
            <header-section
              header-section-title="بخش پروژه ها"
            ></header-section>
            <form-dialog
              :dataForDialogForm="addProjectsDataForDialogForm"
            ></form-dialog>
            <projects></projects>
            <header-section
              header-section-title="بخش افتخارات"
            ></header-section>
            <form-dialog
              :dataForDialogForm="addAwardDataForDialogForm"
            ></form-dialog>
            <award></award>
            <v-row class="my-10">
              <v-btn color="error" @click="updateProjectsAward">
                {{ $t("actions.save&update") }}
              </v-btn>
            </v-row>
          </v-card-text>
        </v-card>
      </v-tab-item>
    </v-tabs>
    <v-row>
      <snackbar
        :snackbarMessage="snackbarMessage"
        :showSnackbar="showSnackbar"
        @hideSnackbar="hideSnackbar"
      ></snackbar>
    </v-row>
  </v-card>
</dashboard-card>
