<dashboard-card :titleCard="titleCard">
  <v-form ref="form" v-model="valid" lazy-validation>
    <header-section :headerSectionTitle="'جزییات پروژه'"></header-section>
    <v-row>
      <v-text-field
        v-model="serviceForm.title"
        :rules="createServiceRule.title"
        label="عنوان پروژه"
        required
        outlined
        class="col-lg-6 col-md-12 pl-2"
      ></v-text-field>
      <v-text-field
        v-model="serviceForm.price"
        :rules="createServiceRule.price"
        label="مبلغ"
        required
        outlined
        class="col-lg-6 col-md-12 pr-2"
      ></v-text-field>
    </v-row>
    <v-row class="d-block">
      <v-textarea
        outlined
        name="input-7-4"
        :label="$t('form.description')"
        v-model="serviceForm.description"
        :rules="createServiceRule.description"
      ></v-textarea>
    </v-row>
    <header-section
      :headerSectionTitle="'ضمیمه مدارک مورد نیاز'"
    ></header-section>
    <v-row class="d-lg-flex d-md-block">
      <v-file-input
        @change="handleFileInput($event)"
        counter
        label="File input"
        placeholder="Select your files"
        prepend-icon="mdi-paperclip"
        outlined
        multiple
        :show-size="1000"
      >
        <template v-slot:selection="{ index, text }">
          <v-chip v-if="index < 3" dark label small>
            {{ text }}
          </v-chip>

          <span
            v-else-if="index === 3"
            class="text-overline grey--text text--darken-3 mx-2"
          >
            +{{ files.length - 3 }} File(s)
          </span>
        </template>
      </v-file-input>
    </v-row>
    <v-row class="my-10">
      <v-btn color="secondary" @click="createService">
        {{ $t("actions.save&update") }}
      </v-btn>
    </v-row>
    <v-row>
      <snackbar
        :snackbarMessage="snackbarMessage"
        :showSnackbar="showSnackbar"
        @hideSnackbar="hideSnackbar"
      ></snackbar>
    </v-row>
  </v-form>
</dashboard-card>
