<dashboard-card :titleCard="titleCard">
  <v-form ref="form" v-model="valid" lazy-validation>
    <header-section :headerSectionTitle="'جزئیات خدمت'"></header-section>
    <v-row>
      <v-col lg="6" md="12">
        <v-text-field
          v-model="serviceForm.title"
          :rules="createServiceRule.title"
          label="عنوان خدمت"
          required
          outlined
        ></v-text-field>
      </v-col>
      <v-col lg="6" md="12">
        <v-text-field
          v-model="serviceForm.price"
          @input="mask"
          label=" نرخ ساعتی به ریال"
          required
          outlined
          ref="inputRef"
        >
        </v-text-field>
      </v-col>
    </v-row>
    <v-row class="d-block">
      <v-col md="12">
        <v-textarea
          outlined
          name="input-7-4"
          :label="$t('form.description')"
          v-model="serviceForm.description"
          :rules="createServiceRule.description"
        ></v-textarea>
      </v-col>
    </v-row>
    <header-section :headerSectionTitle="'فایل‌های پیوست'"></header-section>
    <v-row class="d-lg-flex d-md-block">
      <v-col md="12">
        <v-file-input
          @change="handleFileInput($event)"
          label="ضمیمه فایل"
          placeholder="فایل خود را انتخاب کنید"
          prepend-icon="mdi-paperclip"
          outlined
          multiple
          :show-size="1000"
        >
          <template v-slot:selection="{ index, text }">
            <v-chip v-if="index < 3" dark label small>
              {{ text }}
            </v-chip>

            <span
              v-else-if="index === 3"
              class="text-overline grey--text text--darken-3 mx-2"
            >
              +{{ files.length - 3 }} File(s)
            </span>
          </template>
        </v-file-input>
      </v-col>
    </v-row>
    <v-row class="my-10">
      <v-col md="12">
        <v-btn color="secondary" @click="createService">
          {{ $t("actions.save&update") }}
        </v-btn>
      </v-col>
    </v-row>
  </v-form>
  <v-row>
    <snackbar
      :snackbarMessage="snackbarMessage"
      :showSnackbar="showSnackbar"
      @hideSnackbar="hideSnackbar"
    ></snackbar>
  </v-row>
</dashboard-card>
