<dashboard-card :title-card="'جزییات ادمین'">
    <v-form
            ref="form"
            v-model="valid"
            lazy-validation
    >
        <header-section :header-section-title="'توضیحات'"></header-section>
        <v-row class="d-lg-flex d-md-block">
            <v-text-field
                    v-model="select"
                    :items="items"
                    label="نام"
                    required
                    outlined
                    class="col-lg-6 pl-lg-2 col-md-12  pl-md-0"
            ></v-text-field>
            <v-text-field
                    v-model="select"
                    :items="items"
                    label="نام خانوادگی"
                    required
                    outlined
                    class="col-lg-6 pr-lg-2 col-md-12 pr-md-0"
            ></v-text-field>
        </v-row>
        <v-row>
            <v-text-field
                    v-model="name"
                    :counter="10"
                    :rules="nameRules"
                    label="ایمیل"
                    required
                    outlined
            ></v-text-field>
        </v-row>
        <header-section :header-section-title="'تصویر پروفایل'"></header-section>
        <v-row>
            <file-input-dashboard></file-input-dashboard>
        </v-row>

        <header-section :header-section-title="'تصویر بنر'"></header-section>
        <v-row>
            <file-input-dashboard></file-input-dashboard>
        </v-row>
        <v-row class="my-10">
            <v-btn
                    color="error"
                    :disabled="!valid"
                    @click="resetValidation"
            >
                {{ $t("actions.save&update") }}
            </v-btn>
        </v-row>
    </v-form>
</dashboard-card>
