<v-container class="faq" fluid>
  <v-row>
    <v-col cols="12" class="text-center my-12">
      <h1>مقررات حریم خصوصی شرکت کاوشگران ارتباط نوین یکتا (کانکتا)</h1>
    </v-col>
    <v-col cols="12" md="8" sm="12" class="text-center mx-auto mb-16">
      <p>
        شرکت کاوشگران ارتباط نوین یکتا (سهامی خاص) به شناسه ملی 14006186500
        (کانکتا) در این سند به بیان مقررات حریم خصوصی می‌پردازد. این سند با هدف
        بیان نحوه جمع‌آوری اطلاعات از کاربران (کارفرما و فریلنسر)، ذخیره سازی و
        محافظت این داده‌ها تنظیم شده است. کانکتا همواره متعهد است ضمن ارائه
        بالاترین کیفیت خدمات به کاربران، امنیت اطلاعات کاربران را در بالاترین
        سطح ممکن حفظ نماید و برای حفظ اعتماد شما بهترین تلاش ممکن خود را خواهد
        نمود.
      </p>
      <p>
        حفظ حریم خصوصی کلیه کاربران بخش جدایی‌ناپذیر از سیاست‌های کانکتا است.
        کلیه اطلاعات جمع آوری شده از کاربران حسب الزامات قانونی، مفاد این سند و
        اصول فنی و در راستای ارائه بهتر خدمات است.
      </p>
      <p>
        کانکتا مجاز و محق است که در مفاد این سند در هر زمان تغییراتی را به صورت
        کلی و یا جزئی اعمال نماید. بدیهی‌ست این تغییرات به اطلاع کاربران از طریق
        مقتضی خواهد رسید. در صورتی که پس از اطلاع رسانی، کاربران به استفاده خود
        از خدمات کانکتا ادامه دهند، این امر به منزله پذیرش کلیه تغییرات از سوی
        کاربران است.
      </p>
      <p>
        کاربران باید در راستای محافظت از اطلاعات، نکات ایمنی را رعایت نمایند.
        اگر رمز ورود به حساب کاربری در کانکتا افشا شده است، لطفاً فوراً نسبت به
        تغییر آن اقدام نمایید.
      </p>
      <p>
        مفاد سند حاضر تنها مشتمل بر اطلاعاتی است که توسط کاربران به منظور
        استفاده از خدمات در اختیار کانکتا قرار داده می‌شود.
      </p>
      <p>
        کانکتا چه اطلاعاتی را جمع آوری می‌نماید؟
      </p>
      <p>
        الف) اطلاعات شخصی کاربران:کلیه کاربران کانکتا می‌بایست جهت ایجاد • حساب
        کاربری حقیقی نام و نام خانوادگی، شماره ملی، شماره مویایل، آدرس ایمیل و
        سایر مشخصات فردی • حساب کاربری حقوقی نام شرکت، شماره ثبت، شناسه ملی،
        کداقتصادی و سایر مشخصات را در اختیار کانکتا قرار دهند. ب) اطلاعات فنی
        شامل نوع دستگاه کاربر و نوع سیستم عامل آن، تاریخ، مدت و بازه‌های استفاده
        کاربر از خدمات کانکتا، اطلاعات فنی و گزارش‌های سرور، کوکی‌ها، نوع و نسخه
        مرورگر، تمام اطلاعات در خصوص رزروهای کاربر، مکالمات با پشتیبانی کانکتا.
        تبصره 1: جمع‌آوری این اطلاعات این امکان را برای کانکتا فراهم می‌آورد که
        تجربه کاربری را برای کاربران بهبود و ارتقا ببخشد. تبصره 2: مرورگر
        اینترنت، کوکی‌ها را برای پیگیری و گاهی ردگیری اطلاعات خاصی بر روی
        کامپیوتر کاربر ذخیره می‌کند. کاربران می‌توانند مرورگر خود را تنظیم کنند
        تا کوکی‌ها را ذخیره نکند و یا در هنگام ذخیره هشدار دهد. اگر کاربر از این
        امکان استفاده کند ممکن است بخش‌هایی از سایت به درستی عمل نکنند. ج) اکثر
        اطلاعاتی که از کاربران جمع آوری می‌شود توسط خود کاربر در اختیار کانکتا
        قرار داده می‌شود. بخشی از اطلاعات کاربران از سوی کانکتا به صورت خودکار
        جمع‌آوری می‌شود مانند وقتی که با استفاده از کوکی‌های مرورگر یا نرم افزار
        برای بازدید یا استفاده از وب سایت اقدام می‌نمایید.
      </p>
      <p>
        ذخیره سازی اطلاعات در کانکتا به چه شکلی است؟ ۱- برای ذخیره‌سازی اطلاعات
        کاربران از فناوری‌های پیچیده و به روز در کانکتا استفاده می‌شود و تیم فنی
        کانکتا تمامی تلاش خود را به کار می‌گیرد تا حد الامکان از خطرات مربوط به
        افشای اطلاعات کاربران، آسیب دیدن یا سوء استفاده از آن‌ها جلوگیری به عمل
        آورد. ۲- کلیه اطلاعات کاربران در مکان و سرور امن نگه داری می‌شوند و فقط
        تعدادی از کارمندان کانکتا در چارچوب قوانین و آیین‌نامه‌های شرکت، مجاز به
        دسترسی به اطلاعات در راستای ایفای تعهدات خود هستند. ۳- با وجود تمام
        تلاش‌های کانکتا برای حفظ اطلاعات و عدم دسترسی اشخاص ثالث به اطلاعات
        کاربران، ممکن است در نتیجه اقدامات خرابکارانه و حملات سایبری، اشخاص ثالث
        به بخش یا تمامی اطلاعات به صورت غیر مجاز دسترسی پیدا کنند. در این صورت
        کانکتا مسئولیتی بر عهده نداشته و کانکتا در چارچوب قوانین موجود نسبت به
        طرح دعوا علیه اشخاص ثالث به منظور حفظ حقوق خود و کاربران خود اقدامات
        مقتضی را صورت خواهد داد.
      </p>
      <p>
        کانکتا به چه منظور از اطلاعات استفاده می‌نماید؟ 1) ارایه خدمات و افزایش
        سطح خدمات. 2) برای محافظت از کاربران خود: به منظور جلوگیری از خطراتی مثل
        فیشینگ و با هدف شناسایی رفتارهای مشکوک، کلاهبرداری و برای جلوگیری از
        تقلب احتمالی. 3) با هدف اندازه گیری، تحقیق و توسعه بازار. 4) ارتباط با
        کاربران. 5) ارسال مطالب آموزشی، خبری و تبلیغاتی. اگر تمایلی به دریافت
        چنین محتوایی را ندارید، می‌توانید نسبت به لغو اشتراک اقدام نمایید. لازم
        به ذکر است انصراف از این موارد ممکن است دسترسی به خدمات کانکتا را برای
        کاربران با مشکل مواجه کند.
      </p>
      <p>
        ارتباط با کانکتا کانکتا تمام تلاش خود را در رابطه با حفظ حریم خصوصی و
        اطلاعات شخصی کاربران به کار می‌گیرد. اگر در رابطه با مفاد این سند سوالی
        دارید، لطفاً از طریق بخش ارتباط با ما، سوالات خود را با ما در میان
        بگذارید.
      </p>
    </v-col>
  </v-row>
</v-container>
