@import "variable";
@import "mixins";
.navbar-front-office {
  .v-toolbar__content {
    height: 77px !important;
  }
  .v-toolbar {
    height: 77px !important;
    margin-bottom: 10px;
  }
  .theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: transparent;
    border-bottom: 1px solid $surface-hover;
  }
  &.v-main {
    //padding: 77px 0 36px !important;
  }
  &.v-navigation-drawer {
    top: 0 !important;
  }
  .theme--light.v-list {
    background: transparent;
  }
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
    color: $secondary !important;
  }
  .v-icon {
    //color: var(--v-lightest-base) !important;
  }
  .create-project_button {
    min-width: 100%;
  }
}
.change_background_color {
  .theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: $background-navbar !important;
  }
}
.second_background_navbar {
  .theme--light.v-app-bar.v-toolbar.v-sheet {
    background-color: $surface-100 !important;
    box-shadow: 0 1px 19px -1px rgb(0 0 0 / 55%) !important;
  }
}

.sidebar-front-office {
  .theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled),
  .v-icon {
    color: $surface-500 !important;
  }
}

.home-page-hero {
  .v-input__slot {
    align-items: stretch;
    min-height: 60px !important;
  }
  .v-btn:not(.v-btn--round).v-size--default {
    height: 60px;
    min-width: 64px;
    padding: 0 16px;
    border-radius: 5px 0 0 5px;
  }
  .v-btn--is-elevated {
    box-shadow: unset;
  }
  .v-text-field--outlined > .v-input__control > .v-input__slot {
    background: var(--v-lightest-base);
    border-radius: 0 5px 5px 0 !important;
  }
  .v-text-field--outlined fieldset {
    border: 1px solid $border-light-gray;
  }
  .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
    > .v-input__control
    > .v-input__slot,
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    border-radius: 0;
  }

  .select-category-hero {
    .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
      > .v-input__control
      > .v-input__slot,
    .v-text-field.v-text-field--enclosed .v-text-field__details {
      border-radius: 0 5px 5px 0;
    }
  }

  @include medium {
    .select-category-hero {
      .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
        > .v-input__control
        > .v-input__slot,
      .v-text-field.v-text-field--enclosed .v-text-field__details {
        border-radius: 5px !important;
      }
    }
    .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded)
      > .v-input__control
      > .v-input__slot,
    .v-text-field.v-text-field--enclosed .v-text-field__details,
    .v-btn:not(.v-btn--round).v-size--default {
      border-radius: 5px;
    }
  }
}
.mobile-filter {
  @include small {
    flex-direction: column-reverse;
  }
}

.best-projects,
.best-freelancer {
  min-height: 850px;
  margin-bottom: 80px;
  .text-font {
    font-size: 14px;
    color: $surface-200;
    text-align: center;
  }
  .best-project-title {
    font-size: 34px;

    & strong {
      font-weight: 500;
    }
  }
  .best-projects-card {
    border: 1px solid $border-light-gray;
    height: 300px;
    .border-image {
      border: 1px solid $surface-hover;
      padding: 10px;
      border-radius: 50%;
    }
    .best-projects-img {
      width: 46px;
      height: 46px;
      //background-color: #0a3d62;
      text-align: center;
      line-height: 40px;
      font-size: 9px;
    }
    .best-project-card-title {
      font-weight: bold;
      color: #333333;
      font-size: 16px;
    }
  }
  .read-more {
    height: 300px;

    .inside-box {
      background-color: $light-green;
      border-radius: 5px;

      .text-font {
        font-size: 13px;
        color: $surface-100;
      }
      .best-project-card-title {
        font-weight: bold;
        color: $surface-100;
        font-size: 16px;
      }
    }
  }
}

.best-freelancer {
  min-height: 740px;
  background-color: $surface-150;
  padding-top: 80px;

  .best-freelancer-card {
    min-width: 23.5%;
    min-height: 457px;
    background-color: $surface-100;
    border-radius: 4px;
    border: 1px solid $border-light-gray;
    @include small {
      min-height: 417px;
    }

    &_image {
      width: 100%;
      //height: 21vh;
      //background-color: #182849;
      text-align: center;
      //line-height: 21vh;
    }
    &_name {
      font-size: 14px;
      margin: 10px 0;
      color: $surface-550;
      @include medium {
        //margin-top: 20px;
      }
    }
    &_title {
      font-size: 18px;
      color: $surface-550;
      font-weight: 600;
    }
    &_detail {
      font-size: 12px;
      color: $surface-550;
      margin-bottom: 12px;
    }
  }
  .v-carousel__controls {
    height: 28px !important;
  }

  .v-btn--icon.v-size--small {
    height: 19px;
    width: 19px;
  }

  .mdi-circle {
    font-size: 11px !important;
  }

  .theme--dark.v-btn--active:hover::before,
  .theme--dark.v-btn--active::before {
    opacity: 0.18;
    width: 19px;
    height: 19px;
  }

  .v-carousel__controls__item {
    margin: 0 0;
  }

  .v-window__prev,
  .v-window__next {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 20px 0 0 20px;
    position: absolute;
    margin: 0 1px;
    top: calc(50% - 20px);
    z-index: 1;
    .v-btn {
      left: -1px;
      border-radius: 20px 0 0 20px;
    }
    &.v-btn--icon.v-size--default .v-icon,
    .v-btn--fab.v-size--default .v-icon {
      height: 38px;
      font-size: 24px;
      width: 32px;
    }
  }
  .v-window__next {
    border-radius: 0 20px 20px 0;
    .v-btn {
      right: 0;
      border-radius: 0 20px 20px 0;
    }
  }
  .v-image__image,
  .v-image__placeholder {
    height: 198px;
  }
}

.footer-front-office {
  width: 100%;
  background-color: #0f0f0f;
  text-align: justify;
  &_top,
  &_bottom {
    min-height: 357px;
    margin: 0 auto;
    &_text {
      font-size: 16px;
      color: $gray-footer-color;

      &:first-child {
        @include addLine(
          $position: "left-center",
          $width: 2px,
          $height: 164px,
          $bgColor:
            linear-gradient(
              to right,
              $surface-hover,
              $surface-hover,
              transparent
            )
        );
      }
      &:not(:last-child):before {
        left: -5%;
      }

      @include medium {
        &:first-child {
          @include addLine(
            $position: "left-center",
            $width: 2px,
            $height: 0,
            $bgColor:
              linear-gradient(to right, $surface-500, $surface-500, transparent)
          );
        }
      }
      ul {
        list-style: none;

        li {
          margin-bottom: 10px;
          cursor: pointer;
        }
        li:first-child {
          font-size: 18px;
          font-weight: 600;
          color: $surface-100;
        }
      }
    }
  }
  &_bottom {
    min-height: 60px;
    line-height: 60px;
    background-color: #0f0f0f;
    //border-top: 1px solid $gray-footer-color;
    @include medium {
      line-height: unset;
    }
    ul {
      list-style: none;
      width: 45%;
      @include small {
        width: 100% !important;
        text-align: center;
      }
      li {
        font-size: 14px;
        color: $gray-footer-color;
        margin: 0 12px;
        cursor: pointer;
        @include small {
          width: 100%;
          flex-direction: column;
          text-align: center;
          margin-bottom: 8px;
        }
      }
    }
    .copy-wright {
      font-size: 14px;
      color: $gray-footer-color;
      width: 45%;
      @include small {
        width: 100% !important;
        text-align: center;
        margin: 10px 0;
      }
    }
  }
}

.step-second {
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    margin-bottom: 0 !important;
    //display: none !important;
  }
}

.divide {
  background-color: $surface-300;
  width: 2px;
  margin: 14px 0;
}

.divide-card {
  background-color: $surface-hover2;
  width: 100%;
  margin: 14px 0;
}

.divide-card-vertical {
  background-color: $surface-150;
  width: 1px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.side-filter {
  .v-input__slot {
    margin-bottom: 0;
  }
  .v-messages {
    min-height: 0 !important;
  }
  .v-input--selection-controls {
    margin-top: 8px;
  }
}

::-webkit-scrollbar {
  width: 5px !important;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $secondary !important;
  border-radius: 10px !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $secondary !important;
}

.send-jobOffer-freelancer {
  .v-text-field.v-text-field--enclosed .v-text-field__details {
    padding-top: 0;
    margin-bottom: 0;
    height: unset;
  }

  .v-text-field.v-text-field--enclosed .v-text-field__details {
    padding: 0 12px;
  }
  .v-text-field__details {
    display: flex;
    flex: 1 0 auto;
    max-width: 100%;
    min-height: 0;
    overflow: hidden;
  }
}

.proposal-detail-dialog {
  textarea {
    color: rgb(136 131 131 / 87%) !important;
  }
}

.create-project {
  .v-input__prepend-outer {
    display: none !important;
  }
}

.step-first,
.step-second {
  .theme--light.v-text-field--outlined:not(.v-input--is-focused)
    > .v-input__control
    > .v-input__slot
    fieldset {
    color: rgba(169, 169, 169, 0.33);
  }
  .v-text-field {
    input {
      color: $surface-500;
      font-size: 14px;
    }
  }
}

.max-width-1140 {
  max-width: 1140px;
}

.temporary-table {
  ::v-deep.v-data-table-header {
    height: 51px;
    font-size: 15px;
    font-weight: 500;
    background-color: #791aa5 !important;
  }
  .service-table {
    height: 121px;

    img {
      width: 80px;
      height: 80px;
      border-radius: 5px;
    }
    .service-table-title {
      font-size: 16px;
      color: rgba(50, 50, 50, 0.83);
      font-weight: 500;
    }

    strong {
      color: $danger-500;
      font-weight: 700;
    }

    ::v-deep.v-size--small {
      height: 20px !important;
    }
  }
  .v-list-item {
    border: 1px solid rgba(134, 134, 134, 0.65);
    margin-top: 5px;
    height: 51px;
  }
}

.profile-setting {
  .v-input__slot {
    padding: 0 6px !important;
  }
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.filter-form {
  background-color: $surface-100;
  padding: 45px;
  border-radius: 10px;
  border: 2px solid $surface-hover;
}

.v-navigation-drawer {
  will-change: initial;
}

.v-file-input__text {
  direction: ltr;
}

.faq {
  .v-expansion-panel-content__wrap {
    border-bottom: 1px solid $border-expansion-panel;
    border-right: 1px solid $border-expansion-panel;
    border-left: 1px solid $border-expansion-panel;
    border-top: unset;
  }
  p {
    margin-top: 16px;
    text-align: justify;
  }
}

.new-article {
  .v-image__image--cover {
    background-size: contain !important;
    background-position: top !important;
  }
}
.create-ticket {
  .theme--light.v-text-field--filled > .v-input__control > .v-input__slot {
    background: rgb(249, 251, 251) !important;
  }
  .v-text-field--outlined fieldset {
    border-color: transparent;
  }
  .v-input__append-outer .v-icon,
  .v-input__prepend-outer .v-icon {
    display: none;
  }
  .v-text-field > .v-input__control > .v-input__slot:before {
    border-style: unset !important;
  }
  .mdi-close::before {
    position: absolute;
    top: -46px;
    left: -13px;
  }
  .v-text-field > .v-input__control > .v-input__slot:after {
    border-style: unset;
    border-width: thin 0 thin 0;
  }
  .v-input__slot {
    top: -10px;
  }
  .v-text-field--filled > .v-input__control > .v-input__slot,
  .v-text-field--full-width > .v-input__control > .v-input__slot,
  .v-text-field--outlined > .v-input__control > .v-input__slot {
    align-items: stretch;
    min-height: 56px;
    border: 1px solid #e4e6e9;
    border-radius: 8px;
  }
  .v-application--is-rtl .v-text-field--outlined legend {
    text-align: right;
    background-color: #fff !important;
  }
  .v-text-field--filled:not(.v-text-field--single-line) input {
    margin-top: 7px;
  }
  .v-input .v-label {
    background-color: #fff;
  }
}
.chat-inputs {
  .v-application--is-rtl .v-text-field--outlined fieldset {
    height: 76px !important;
  }
}

.vpd-month-label {
  width: 127px !important;
}
.vpd-input-group label {
  border-radius: 0 4px 4px 0;
}
.vpd-input-group input {
  height: 39px !important;
  border-radius: 4px 0 0 4px !important;
}

.v-progress-linear .v-progress-linear__indeterminate .long,
.v-progress-linear .v-progress-linear__indeterminate .short {
  background-color: $secondary !important;
}

.message-box {
  .v-input__icon {
    left: 100px;
    top: 15px;
    position: relative;
  }
  .v-icon.v-icon.v-icon--link {
    color: $secondary;
  }
  .v-input__icon--clear {
    left: 0;
    top: 0;
    position: relative;
  }
}
.v-input__append-outer .v-icon,
.v-input__prepend-outer .v-icon {
  display: none !important;
}

.freelancer-profile {
  .v-rating .v-icon {
    padding: 0 !important;
  }
}

.chat-box {
  width: 100%;
  max-width: 1180px;
  height: 650px;
  border-radius: 8px;
  border: 1px solid #cfcfcf;
  &-header {
    height: 80px;
    padding: 16px 25px;
    border-bottom: 1px solid #cfcfcf;
    &-title {
      font-size: 14px;
      font-weight: 500;
      color: #142226;
      margin-bottom: 10px;
    }
    &-subject {
      font-size: 14px;
      font-weight: 500;
      color: #374b54;
    }
  }
  .v-btn__content {
    color: #ec484a;
  }
}
.chat-area {
  height: 418px;
  overflow: auto;
  margin: 0 auto 2em auto;
  padding-top: 30px;
}
.chat-header {
  height: 70px;
  padding: 15px;
  line-height: 33px;
}
.message {
  width: 45%;
  max-width: 526px;
  border-radius: 10px;
  padding: 16px 0 16px 19px;
  font-size: 0.7em;
  .side-avatar {
    transform: translate(47px, -14px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $primary;
  }
  .side-avatar-answer {
    transform: translate(-66px, -14px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid $primary;
  }
}
.message-out {
  background: #f5f7f6;
  color: #374b54;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin-left: 50%;
  margin-right: 64px;
  border: 1px solid #e4e6e9;
  border-radius: 16px 0 16px 16px;
}
.message-in {
  background: #f5f7f6;
  color: #374b54;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  margin-right: 49%;
  border: 1px solid #e4e6e9;
  padding-right: 10px;
  border-radius: 0 16px 16px 16px;
}
.attachment-link {
  text-decoration: none;
  color: #0a607a;
  font-size: 10px;
  font-weight: 500;
}
.send-ticket {
  border-radius: 12px;
  position: absolute;
  left: 10%;
  top: 69px;
}
.isShow {
  display: block;
}
.isNone {
  display: none;
}

.vpd-year-label {
  font-size: 24px !important;
  text-align: center;
}

.send-jobOffer-freelancer {
  .expansion {
    .theme--light.v-expansion-panels
      .v-expansion-panel-header
      .v-expansion-panel-header__icon
      .v-icon {
      color: #9d9d9d !important;
    }
  }
}
@media all and (min-width: 1904px) {
  .container {
    max-width: 1185px !important;
  }
}

.landing {
  .v-carousel__controls {
    background: unset;
    width: 94%;
  }
  .theme--dark.v-btn.v-btn--icon {
    color: #9ca09d;
  }
  .v-btn--active {
    color: $secondary !important;
  }
  .v-image__image,
  .v-image__placeholder {
    height: 86% !important;
  }
  .mdi-circle::before {
    font-size: 14px;
  }
  @include medium() {
    .v-image__image--cover {
      background-size: contain;
    }
    .v-image__image,
    .v-image__placeholder {
      height: 60% !important;
    }
    .mdi-circle::before {
      font-size: 12px;
    }
  }
  .v-carousel__controls__item {
    margin: 0 0;
  }
}
