$primary: #0099FF;
//==================================================//
$spaces: 4, 8, 16, 32, 28, 48, 70, 120;
$directions: "top", "right", "bottom", "left";
$screen-sizes: "sm", "md", "lg", "xl";
$navbar-init-height: 65px;
$navbar-small-height: 65px;

$extraSmall-width: 575px;
$small-min-width: 576px;
$medium-min-width: 768px;
$large-min-width: 992px;
$extraLarge-min-width: 1200px;
$font-sizes: 12px, 14px, 16px, 18px, 24px, 36px, 48px, 72px, 100px;

$surface-100: rgb(255, 255, 255);
$surface-150: #fafafa;
$surface-200: #767676;
$surface-300: #ABABAB;
$surface-400: #8E8E8E;
$surface-500: #696969;
$surface-600: #424242;
$surface-700: #2C2C2C;
$surface-800: #000000;

$danger-100: #ffdddd;
$danger-200: #C92A2A;
$danger-300: #FF0000;
$danger-400: #A10505;
$danger-500: #ec484a;

$yellow-100: #C88C00;
$yellow-200: #E5A000;
$yellow-300: #FAB005;
$yellow-400: #FFBB1E;
$yellow-500: #FFCD5A;
$yellow-600: #FFDA87;

$purple-100: #791AA5;
$purple-200: #430063;
$blue-100: #0099FF;
$blue-200: #02006F;
$blue-300: #0a3d62;
$green-100: #2ecc71;
$green-200: #1AA594;
$gray-100: #f5f5f5;

$alert-info: #EBF7FF;
$alert-success: #DEFFF3;
$alert-danger: #FFDDDD;
$border-bottom-box: #F1F0F0;
$color-notification: #8F8F8F;
//==================================================//
$landing-primary: $yellow-600;
$dashboard-primary: $blue-100;
