//==================================================//
$spaces: 4, 8, 16, 32, 28, 48, 70, 120;
$directions: "top", "right", "bottom", "left";
$screen-sizes: "sm", "md", "lg", "xl";
$navbar-init-height: 65px;
$navbar-small-height: 65px;

$extraSmall-width: 575px;
$small-min-width: 576px;
$medium-min-width: 768px;
$medium-max-width: 959px;
$large-min-width: 992px;
$extraLarge-min-width: 1200px;
$font-sizes: 12px, 14px, 16px, 18px, 24px, 36px, 48px, 72px, 100px;
$primary: #59c1b8;
$secondary: #0a607a;
$surface-100: rgb(255, 255, 255);
$surface-150: #f7f7f7;
$surface-200: #767676;
$surface-hover: rgba(118, 118, 118, 0.2);
$surface-hover2: rgba(118, 118, 118, 0.45);
$surface-300: #ababab;
$surface-350: rgba(171, 171, 171, 0.68);
$surface-400: #8e8e8e;
$surface-500: #696969;
$surface-550: #333333;
$surface-600: #33373c;
$surface-700: #2c2c2c;
$surface-800: #000000;
$border-expansion-panel: #e3e5e8;

$danger-100: #ffdddd;
$danger-200: #c92a2a;
$danger-300: #ff0000;
$danger-400: #a10505;
$danger-500: #ec484a;

$yellow-100: #c88c00;
$yellow-200: #e5a000;
$yellow-300: #fab005;
$yellow-400: #ffbb1e;
$yellow-500: #ffcd5a;
$yellow-600: #ffda87;

$purple-100: #791aa5;
$purple-200: #430063;
$blue-100: rgb(0, 153, 255);
$blue-200: #02006f;
$blue-300: #0a3d62;
$green-100: #2ecc71;
$green-200: #1aa594;
$gray-100: #f5f5f5;

$alert-info: #ebf7ff;
$alert-success: #defff3;
$alert-danger: #ffdddd;
$border-bottom-box: #f1f0f0;
$color-notification: #8f8f8f;
//==================================================//
$landing-primary: $yellow-600;
$dashboard-primary: $blue-100;
$background-navbar: rgba(52, 56, 60, 0.86);
$border-light-gray: #69696929;
$light-green: #56cdb9;
$gray-footer-color: #cccccc;
$gray-footer-background: #333333;
$card-box-shadow: 2px 2px 30px -25px rgba(0, 0, 0, 0.72);
//==================================================//
$border-radius: 8px;
