<section class="landing">
  <v-container class="landing-container">
    <v-row class="pa-8">
      <v-col
        cols="12"
        md="6"
        class="landing-container-menu d-md-flex justify-space-around d-sm-none"
      >
        <div @click="goTo('/')">
          <img
            style="width: 92px"
            src="../../../assets/image/logo/2.png"
            alt="connecta"
          />
        </div>
        <div @click="goTo('/login')">ثبت نام</div>
        <div @click="goTo('/contact-us')">تماس با ما</div>
      </v-col>
      <v-col
        cols="12"
        class="landing-container-main d-md-flex flex-row-reverse align-center"
      >
        <div>
          <v-carousel
            show-arrows-on-hover
            style="width: 100%;"
            @change="changeSlider($event)"
          >
            <v-carousel-item
              v-for="(slide, i) in slides"
              :key="i"
              :src="require(`../../../assets/image/landing/${slide}`)"
              style="width: 100%"
            >
            </v-carousel-item>
          </v-carousel>
        </div>
        <div v-if="sliderFlag === 0">
          <h2>مزایای همکاری با کانکتا برای فریلنسرها</h2>
          <ul>
            <li>ثبت نام به صورت فردی و سازمانی</li>
            <li>امکان تعریف پروژه‌های سازمانی</li>
            <li>پرداخت هزینه پروژه به صورت مرحله‌ای</li>
          </ul>
        </div>
        <div v-if="sliderFlag === 1">
          <h2>مزایای همکاری با کانکتا برای کارفرمایان</h2>
          <ul>
            <li>ثبت نام به صورت فردی و سازمانی</li>
            <li>دسترسی به پروژه‌های بزرگتر و سازمانی</li>
            <li>تحویل پروژه به‌صورت مرحله‌ای</li>
          </ul>
        </div>
      </v-col>
      <v-col
        cols="12"
        md="4"
        style="max-width: 338px"
        class="d-sm-flex mx-md-0 mx-auto"
      >
        <v-col>
          <v-btn
            color="secondary"
            depressed
            block
            x-large
            @click="goTo('/login')"
          >
            ثبت نام
          </v-btn>
        </v-col>
        <v-col>
          <v-btn
            color="primary"
            outlined
            depressed
            block
            x-large
            @click="goTo('/about-us')"
          >
            بیشتر بدانید
          </v-btn>
        </v-col>
      </v-col>
    </v-row>
  </v-container>
</section>
