    <v-navigation-drawer
      :right="$vuetify.rtl === true"
      app
      clipped
      :mini-variant="mini"
      :value="drawer"
    >
      <template v-slot:prepend>
        <v-list-item two-line :class="mini && 'px-2'" dense>
          <v-list-item-avatar>
            <img src="https://randomuser.me/api/portraits/women/81.jpg" />
          </v-list-item-avatar>
          <v-list-item-content>
            <v-list-item-title>Jane Smith</v-list-item-title>
            <v-list-item-subtitle>Logged In</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </template>
      <v-list dense>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-home</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Home</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-group prepend-icon="mdi-account" value="true">
          <template v-slot:activator>
            <v-list-item-content>
              <v-list-item-title>Users</v-list-item-title>
            </v-list-item-content>
          </template>

          <v-list-group sub-group value="true">
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>Admin</v-list-item-title>
              </v-list-item-content>
            </template>

            <v-list-item :key="i" link v-for="(admin, i) in admins">
              <v-list-item-icon>
                <v-icon v-text="admin[1]"></v-icon>
              </v-list-item-icon>
              <v-list-item-title v-text="admin[0]"></v-list-item-title>
            </v-list-item>
          </v-list-group>

          <v-list-group sub-group>
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title>Actions</v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item :key="i" link v-for="(crud, i) in cruds">
              <v-list-item-action>
                <v-icon v-text="crud[1]"></v-icon>
              </v-list-item-action>
              <v-list-item-title v-text="crud[0]"></v-list-item-title>
            </v-list-item>
          </v-list-group>
        </v-list-group>
        <v-list-item link>
          <v-list-item-action>
            <v-icon>mdi-view-dashboard</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>Dashboard</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-list-item
          @click="
            $vuetify.rtl === true
              ? ($vuetify.rtl = false)
              : ($vuetify.rtl = true)
          "
          link
        >
          <v-list-item-action>
            <v-icon>mdi-arrow-expand-right</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>RTL mode</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
        <template v-slot:append>
    <v-list-item link color="info" @click.stop="mini = !mini" dense>
      <v-list-item-action>
        <template v-if="!mini">
          <v-icon class="text-info">mdi-arrow-collapse-left</v-icon>
        </template>
        <template v-else>
          <v-icon class="text-info">mdi-arrow-collapse-right</v-icon>
        </template>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title class="text-info">minimize</v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-item link color="error" @click="logout()" dense>
      <template v-if="!logoutLoading">
        <v-list-item-action>
          <v-icon color="error">mdi-power</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title class="dangerFontColor">Logout</v-list-item-title>
        </v-list-item-content>
      </template>
      <template v-else>
        <v-list-item-content>
          <v-progress-circular
            indeterminate
            color="error"
          ></v-progress-circular>
        </v-list-item-content>
      </template>
    </v-list-item>
  </template>
    </v-navigation-drawer>
