<v-navigation-drawer
  :right="$vuetify.rtl === true"
  app
  clipped
  :mini-variant="mini"
  :value="drawer"
>
  <!--    <img src="../../../../assets/image/connecta-logo-2.png" alt="">-->
  <template v-slot:prepend>
    <div
      v-if="profileInfo.user && role === 1"
      class="timeline mar-b-120"
      :style="{ 'background-image': 'url(' + profileInfo.user.profile.banner + ')' }"
    >
      <div class="username-info d-flex flex-column align-center">
        <img
          v-if="profileInfo.user.profile.avatar"
          :src="profileInfo.user.profile.avatar"
          alt=""
        />
        <img
          v-if="!profileInfo.user.profile.avatar"
          src="../../../../assets/image/logo.png"
          alt=""
        />
        <div class="username">
          {{ profileInfo.user.first_name + " " + profileInfo.user.last_name}}
        </div>
        <div class="sub">{{ profileInfo.user.roles[0].name }}</div>
      </div>
    </div>
    <div
      v-if="profileInfo.user && role === 2"
      class="timeline mar-b-120"
      :style="{ 'background-image': 'url(' + profileInfo.user.profile.banner + ')' }"
    >
      <div class="username-info d-flex flex-column align-center">
        <img
          v-if="profileInfo.user.profile.avatar"
          :src="profileInfo.user.profile.avatar"
          alt=""
        />
        <img
          v-if="!profileInfo.user.profile.avatar"
          src="../../../../assets/image/logo.png"
          alt=""
        />
        <div class="username">
          {{ profileInfo.user.first_name + " " + profileInfo.user.last_name}}
        </div>
        <div class="sub">{{ profileInfo.user.roles[0].name }}</div>
      </div>
    </div>
    <v-row v-if="role === 1">
      <v-col cols="12" class="d-flex justify-center my-5">
        <v-btn
          depressed
          color="secondary"
          class="post-project"
          link
          to="/freelancer/post-service"
        >
          ایجاد یک سرویس
        </v-btn>
      </v-col>
    </v-row>
    <v-row v-if="role === 2">
      <v-col cols="12" class="d-flex justify-center my-5">
        <v-btn
          depressed
          color="secondary"
          class="post-project"
          link
          to="/employer/post-job"
        >
          ایجاد یک پروژه
        </v-btn>
      </v-col>
    </v-row>
    <v-divider></v-divider>
  </template>
  <v-list dense>
    <v-list-item
      v-for="item in sidebarItems"
      :key="item.title"
      v-if="!item.subCategory"
      link
      :to="item.route"
      exact
    >
      <v-list-item-action>
        <v-icon>{{ item.symbol }}</v-icon>
      </v-list-item-action>
      <v-list-item-content>
        <v-list-item-title>
          {{ $t(`sidebar.${item.title}`) }}
        </v-list-item-title>
      </v-list-item-content>
    </v-list-item>
    <v-list-group
      v-for="item in sidebarItems"
      :key="item.title"
      v-if="item.subCategory"
      :prepend-icon="item.symbol"
    >
      <template v-slot:activator>
        <v-list-item-content>
          <v-list-item-title
            >{{ $t(`sidebar.${item.title}`) }}</v-list-item-title
          >
        </v-list-item-content>
      </template>
      <v-list-item
        v-for="subCat in item.subCategory"
        :key="subCat.title"
        link
        :to="subCat.route"
      >
        <v-list-item-action>
          <v-icon>{{ subCat.symbol }}</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title
            >{{ $t(`sidebar.${subCat.title}`) }}</v-list-item-title
          >
        </v-list-item-content>
      </v-list-item>
    </v-list-group>
    <v-list-item link color="error" @click="logout()" dense>
      <template v-if="!logoutLoading">
        <v-list-item-action>
          <v-icon color="error">mdi-power</v-icon>
        </v-list-item-action>
        <v-list-item-content>
          <v-list-item-title class="dangerFontColor"
            >{{ $t("sidebar.logOut") }}</v-list-item-title
          >
        </v-list-item-content>
      </template>
      <template v-else>
        <v-list-item-content>
          <v-progress-circular
            indeterminate
            color="error"
          ></v-progress-circular>
        </v-list-item-content>
      </template>
    </v-list-item>
  </v-list>
</v-navigation-drawer>

<!--        <v-list-item-->
<!--                @click="-->
<!--            $vuetify.rtl === true-->
<!--              ? ($vuetify.rtl = false)-->
<!--              : ($vuetify.rtl = true)-->
<!--          "-->
<!--                link-->
<!--        >-->
<!--            <v-list-item-action>-->
<!--                <v-icon>mdi-arrow-expand-right</v-icon>-->
<!--            </v-list-item-action>-->
<!--            <v-list-item-content>-->
<!--                <v-list-item-title>RTL mode</v-list-item-title>-->
<!--            </v-list-item-content>-->
<!--        </v-list-item>-->

<!--  <template v-slot:append>-->
<!--        <v-list-item link color="info" @click.stop="mini = !mini" dense>-->
<!--            <v-list-item-action>-->
<!--                <template v-if="!mini">-->
<!--                    <v-icon class="text-info">mdi-arrow-collapse-left</v-icon>-->
<!--                </template>-->
<!--                <template v-else>-->
<!--                    <v-icon class="text-info">mdi-arrow-collapse-right</v-icon>-->
<!--                </template>-->
<!--            </v-list-item-action>-->
<!--            <v-list-item-content>-->
<!--                <v-list-item-title class="text-info">minimize</v-list-item-title>-->
<!--            </v-list-item-content>-->
<!--        </v-list-item>-->
<!--  </template>-->
