<dashboard-card :titleCard="$t('sidebar.pendingProjects')">
  <v-container v-if="!this.$route.params.id">
    <v-row>
      <v-col
        cols="12"
        v-for="projectList in indexProjectsList"
        :key="projectList.id"
        @click="redirectToProjectDetail(projectList.id)"
      >
        <div class="container--fluid d-lg-flex d-md-block project-row">
          <div
            class="col-lg-8 col-md-12 d-flex flex-column align-start justify-center"
          >
            <div>
              <span
                ><v-icon color="primary">mdi-check-circle</v-icon>
                {{ projectList.content | readMore(35, "...")}}
              </span>
            </div>
            <div class="font-weight-medium mx-2">
              وضعیت پروژه: {{projectList.status | proposalStatus}}
            </div>
          </div>
          <div class="col-lg-4 col-md-12 d-flex">
            <div class="row justify-space-around align-center">
              <div class="expired">
                <v-btn depressed fab text>
                  <v-icon x-large>
                    mdi-chevron-left
                  </v-icon>
                </v-btn>
              </div>
            </div>
          </div>
        </div>
      </v-col>
    </v-row>
    <div class="text-center text-h6 my-3" v-if="!indexProjectsList.length >= 1">
      هیچ موردی یافت نشد
    </div>
  </v-container>
  <transitionPage>
    <router-view v-if="this.$route.params.id" />
  </transitionPage>
</dashboard-card>
